<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>eDG - Data Helper</title>
</head>
<body>
<h1>Check application without owner (agent)</h1>
@{
	var html = "";
	int cnt = 0;
	dynamic tbx = new TblDeclaration_Form_Master();
	dynamic tbl = new Db();
	var q = tbx.Query( "select Application_ID,Master_ID,Agent_ID,Company,Name_of_Vessel from Declaration_Form_Master" );
	var q1 = tbl.Query( "select UserId from Users" );
	foreach ( var x in q ) {
		bool ok = false;
		foreach(var xx in q1) {
			if ( x.Agent_ID == xx.UserId ) {
				ok = true;
			}
		}
		if ( !ok ) {
			html += "Master_ID = "+x.Master_ID+" - Application_ID = "+x.Application_ID+" - Agent_ID = "+x.Agent_ID+"<br>";
			cnt++;
		}
	}
	if ( html.IsEmpty() ) {
		html = "No data found<br>";
	} else {
		@cnt @:data found<br>
	}
	@Html.Raw(html)
}
<h1>Check application vessel</h1>
@{
	html = "";
	cnt = 0;
	q1 = tbl.Query( "select NameOfVessel from Vessel" );
	foreach ( var x in q ) {
		bool ok = false;
		foreach(var xx in q1) {
			if ( x.Name_of_Vessel == xx.NameOfVessel ) {
				ok = true;
			}
		}
		if ( !ok ) {
			html += "Master_ID = "+x.Master_ID+" - Application_ID = "+x.Application_ID+" - Name_of_Vessel = "+x.Name_of_Vessel+"<br>";
			cnt++;
		}
	}
	if ( html.IsEmpty() ) {
		html = "No data found<br>";
	} else {
		@cnt @:data found<br>
	}
	@Html.Raw(html)
}

@{
	if ( !Request["dataclean"].IsEmpty() && Request["dataclean"] == "yes" ) {
		Ux.cleanup_noowner_application();
	}
}