﻿@using System.Text.RegularExpressions;
@{
	if ( !Request["_req"].IsEmpty() ) {
		switch ( Request["_req"] ) {
			case "login":
				if ( !IsPost ) {
					@Ux.json_return( false, "Invalid Request" );
					return;
				}

				// reset
				if ( Request.Cookies["_bpx"] != null ) {
					Response.Cookies["_bpx"].Expires = DateTime.Now.AddDays(-1);
				}

				var uname = Request.Form["uname"];
				var upass = Request.Form["upass"];
				var urem = ( !Request.Form["urem"].IsEmpty() && Request.Form["urem"] == "1" ? true : false );
				
				if ( uname.IsEmpty() ) {
					@Ux.json_return( false, "Please insert a username!" );
					return;
				}
				if ( upass.IsEmpty() ) {
					@Ux.json_return( false, "Please insert a password!" );
					return;
				}

				int chklogin = Ux.checklogin( uname, upass, urem );
				if ( chklogin == -1 ) {
					@Ux.json_return( false, "Account disabled!. Please contact administrator." );return;
				}

				if ( chklogin == 1 ) {
					if ( upass == Ux.defaultpassword ) {
						Response.Cookies["_bpx"].Value = "resetpwd";
						Response.Cookies["_bpx"].Expires = DateTime.Now.AddDays( 1 );
					}
					@Ux.json_return( true, "Authentication Accepted" );return;
				}

				@Ux.json_return( false, "Username or Password incorrect!" ); return;
			case "logout":
				@Ux.logout(); return;
			case "tpl":
				if ( !Request["_f"].IsEmpty() ) {
					var freq = Request["_f"];
					freq = new Regex(@"\?.*", RegexOptions.Compiled | RegexOptions.Singleline ).Replace( freq, "");
					var file = "~/tpl/_" + freq + ".cshtml";
					var filer = Server.MapPath( file );
					if ( File.Exists( filer ) ) {
						@RenderPage( file )
						return;
					}
				}
				break;
			case "download":
				if ( !Request["_f"].IsEmpty() ) {
					var file = "~/rw/" + Request["_f"];
					var filer = Server.MapPath( file );
					if ( File.Exists( filer ) ) {
						var pt = Path.GetDirectoryName(filer);
						Match match = Regex.Match( pt, @"\\rw\\([A-Za-z0-9\-]+)", RegexOptions.IgnoreCase );
						if ( match.Success ) {
							Response.Clear();
							Response.AddHeader( "content-disposition", "attachment; filename=" + Path.GetFileName( filer ) );
							Response.TransmitFile( filer );
							Response.End();
							return;
						}
						@: Invalid path!
						return;
					}
					@: File not available!
					return;
				}
				break;
			case "auditexport":
				if ( Ux.IsLogin ) {
						var file = "~/tpl/_audittrail-excel.cshtml";
						var filer = Server.MapPath( file );
						if ( File.Exists( filer ) ) {
							@RenderPage( file )
							return;
						}
				}
			break;
			case "smslogexport":
				if ( Ux.IsLogin ) {
						var file = "~/tpl/_smslog-excel.cshtml";
						var filer = Server.MapPath( file );
						if ( File.Exists( filer ) ) {
							@RenderPage( file )
							return;
						}
				}
			break;
			case "reportexport":
				if ( Ux.IsLogin ) {
					if ( !Request["_f"].IsEmpty() ) {
							var file = "~/rw/report/report" + Request["_f"]+".dat";
							var filer = Server.MapPath( file );
							if ( File.Exists( filer ) ) {
								string date = DateTime.Today.ToString("yyyyMMdd");
								HttpContext.Current.Response.Clear();
								HttpContext.Current.Response.ClearContent();
								HttpContext.Current.Response.ClearHeaders();
								HttpContext.Current.Response.Buffer = true;
								HttpContext.Current.Response.ContentType = "application/ms-excel";
								HttpContext.Current.Response.AddHeader( "Content-Disposition", "attachment;filename=Report-"+Request["_f"]+"-"+date+".xls" );
								HttpContext.Current.Response.Charset = "utf-8";
								HttpContext.Current.Response.ContentEncoding = System.Text.Encoding.GetEncoding( "windows-1250" );
								var html = "";
								html += "<!DOCTYPE html><html><body>";
								Array dtf = File.ReadAllLines( filer );
								foreach ( string cl in dtf ) {
									html += cl;
								}
								html += "</body></html>";
								@Html.Raw(html);
								return;
							}
					}
					@: File not available!
					return;
				}
			break;
		}
		@Ux.json_return( false, "Invalid Request!" );return;
	}

	if ( !Request["_post"].IsEmpty() && !Request["_what"].IsEmpty() ) {
		if ( Ux.IsLogin ) {
			var file = "~/tpl/_" + Request["_what"] + "-action.cshtml";
			var filer = Server.MapPath( file );
			if ( File.Exists( filer ) ) {
				@RenderPage( file )
				return;
			}
		} else {
			@Ux.json_return( false, "Session expired!" );return;
		}
		@Ux.json_return( false, "Invalid Request!" );return;
	}
}
@RenderPage( "~/tpl/_header.cshtml" )
@RenderPage( "~/tpl/_topbox.cshtml" )
<div class="x-layout hide">
@RenderPage( "~/tpl/_layout.cshtml" )
</div>
@{
	if ( Ux.IsKPA ) {
		var idx = Ux.ckey();
		@:<div class="hide" id="@{ @idx }fs-add"></div>
		@:<div class="hide" id="@{ @idx }fs-edit"></div>
		@:<div class="hide" id="@{ @idx }fs-info"></div>
		@:<script type="text/javascript">
		@:$(document).ready(function () {
		@:$("div.barmid-fschedule-grid input[type=checkbox][name=chkdel]").click(function () {
				@:	var _checked = $(this).attr('checked') || false;
				@:	if (_checked == false) {
				@:		$('div.barmid-fschedule-grid input[type=checkbox][name^=del]').each(function () {
				@:			$(this).attr('checked', true);
				@:		});
				@:	} else {
				@:		$('div.barmid-fschedule-grid input[type=checkbox][name^=del]').each(function () {
				@:			$(this).attr('checked', false);
				@:		});
				@:	}
				@:});
				@:var _idxfs="@idx";
				@Ux.js( "ui/rsc/_firstschedule.js", false );
		@:});
		@:</script>
	}
}
@RenderPage( "~/tpl/_footer.cshtml" )