﻿@using System;
@using System.IO;
@using System.Net;
@using System.Text.RegularExpressions;
@using Massive;
@{
	/*string dformat = "yyyyMM";
	DateTime dtime = DateTime.Now;
	string appid = dtime.ToString( dformat );
	dynamic tbl = new TblDeclaration_Form_Master();
	var data = tbl.Query( "select Application_ID from Declaration_Form_Master order by Application_ID ASC" );
	string lastid = "";
	foreach ( var xx in data ) {
		if ( xx.Application_ID > 0 ) {
			var x = xx.Application_ID.ToString().Substring(0,6);
			if ( x == appid ) {
				lastid = xx.Application_ID.ToString();
				@x<br />
			}
		}
	}
	if ( lastid.IsEmpty() ) {
		lastid = lastid+"0000";
	}
	int p = lastid.AsInt();
	p++;
	@p<br />*/

	/*dynamic tbl = new TblTradename();
	var csfile = Server.MapPath( "~/tradename.txt" );
	if (File.Exists(csfile)) {
		Array uicss = File.ReadAllLines( csfile );
		if ( uicss != null ) {
			foreach(string cl in uicss) {
				tbl.Insert(new {Name = cl, Text = "", Timestamp = DateTime.Now});
			}
			
		}
	}*/

	/*dynamic xtbl1 = new TblDeclaration_Form_Detail();
	var xx = xtbl1.FindBy(Master_ID:40226);
	foreach(var x in xx) {
		xtbl1.Delete(x.FormDetail_ID);
	}*/

	/*dynamic xtbl1 = new TblDeclaration_Form_Master();
	xtbl1.dodelete( 40274 );
	xtbl1.dodelete( 40273 );
	xtbl1.dodelete( 40270 );
	xtbl1.dodelete( 40268 );
	xtbl1.dodelete( 40257 );*/
	/*if ( !Request["p"].IsEmpty() ) {
		var _d = Request.Form;
		var tt = "";
		foreach ( var key in _d.AllKeys ) {
			tt = key+" "+Request.Form[key]+"<br>";
		}
		@tt
		Dictionary<string, string> sp = new Dictionary<string, string>();
		string[] items = Request.Form.GetValues( "item" );
		string[] items2 = Request.Form.GetValues( "item2" );
		foreach(var ax in items){
			foreach(var bx in items2) {
				if ( !sp.ContainsKey( ax ) && !sp.ContainsValue(bx) ) {
					sp.Add(ax,bx);
				}
			}
		}
		foreach(var cc in sp) {
			@:@cc.Key = @cc.Value<br />
		}
	}*/

	/*dynamic s = new System.Dynamic.ExpandoObject();
	s.tanks = "10";
	string p = s.tanks;
	string kk = "aa";
	for(int i = 0; i < p.AsInt(); i++) {
		@:aaaa @i<br />
	}*/

}
@*<form name="aa" method="post" action="test.cshtml?p=1">
<input type="text" name="item" value="a" />
<input type="text" name="item" value="b" />
<input type="text" name="item" value="c" />
<input type="text" name="item" value="d" /><br />
<input type="text" name="item2" value="11" />
<input type="text" name="item2" value="22" />
<input type="text" name="item2" value="33" />
<input type="text" name="item2" value="44" />
<input type="submit" value="submit" />
</form>*@

@{/*
		string dformat = "yyyyMM";
		DateTime dtime = DateTime.Now;
		string appid = dtime.ToString( dformat );
		dynamic tbl = new TblDeclaration_Form_Master();
		var data = tbl.Query( "select Application_ID from Declaration_Form_Master order by Application_ID ASC" );
		string lastid = "";
		foreach ( var xx in data ) {
			if ( xx.Application_ID > 5 ) {
				//@xx.Application_ID<br />
				var x = xx.Application_ID.ToString().Substring(0,6);
				if ( x == appid ) {
					lastid = xx.Application_ID.ToString();
				}
			}
		}
		if ( lastid.IsEmpty() ) {
			lastid = appid+"0000";
		}
		@lastid<br />
		int p = lastid.AsInt();
		p++;
		@appid<br />
		@p<br />
*/}
@*
@{

// migrate user from old db
var msg = "";
dynamic dbo = new TblUsers();
dynamic db = new Db();
var data = db.Query("select * from Users2");
foreach(var k in data) {
	var p = k.UserID + " " + k.Login + " " + k.Designation + " " + k.Company + " " + k.Address1 + " " + k.Address2 + " " + k.Telephone + " " + k.Fax + " " + k.Email + " " + k.Handphone + " " + k.SMS_Status;
	 //@p<br />
	//var ink = new { UserId = k.UserID, Login = k.Login, Name = k.Name, Designation = k.Designation, Company = k.Company, Address = k.Address1+" "+k.Address2, Phone = k.Telephone, Fax = k.Fax, Mobile = k.Handphone, Email = k.Email, SMS = k.SMS_Status };
	/*msg = "OK";
	try {
		dbo.Insert(ink);
	}
	catch ( Exception e ) {
		msg = "Update data not successful!" + e.Message;
	}
	@msg<br />*/
	msg = "";
	//p = k.Password+" "+k.Category;
	/*try {
		WebSecurity.CreateAccount( k.Login, k.Password, false );
	}
	catch ( Exception e ) {
		msg = e.Message;
	}

		if ( !Roles.IsUserInRole( k.Login, k.Category ) ) {
			try {
				Roles.AddUserToRole( k.Login, k.Category );
			}
			catch ( Exception e ) {
				msg = "Adding to category failed!";
			}
		}

	@msg<br />*/

}
WebSecurity.CreateAccount( "sysadmin", "sysadmin", false );
Roles.AddUserToRole( "sysadmin", "Admin");
Roles.AddUserToRole( "sysadmin", "KPA" );

}
*@

@*
@{
	// not login more than 6 month
	dynamic tbl = new TblUsers();
	var rd = DateTime.Today.AddMonths(-6).ToString("yyyy-MM-dd");
	var data = tbl.Query( "select UserId,Lastlogin from Users where Lastlogin <='"+rd+"'" );
	foreach(var tt in data) {
		@tt.UserId @tt.Lastlogin <br />
	}
}
*@

@{
	// sms test :456321
	/*string url = "http://gateway.trio-mobile.com:81/cpm_i.aspx";
	WebClient client = new WebClient();
	client.Headers.Add( "user-agent", "Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; .NET CLR 1.0.3705;)" );
	client.Headers.Add( "passname", "bulk60389275213lVtlr" );
	client.Headers.Add( "password", "bulk60389275213lVtlrlVtlr" );
	client.Headers.Add( "trx_id", "0" );
	client.Headers.Add( "short_code", "36828" );
	client.Headers.Add( "originating_no", "dgweb" );
	client.Headers.Add( "destination_no", "60133952497" );
	client.Headers.Add( "cp_ref_id", "0" );
	client.Headers.Add( "bill_type", "0" );
	client.Headers.Add( "bill_price", "0" );
	client.Headers.Add( "content_type", "1" );
	client.Headers.Add( "msg", "RM0.00 Test" );
	client.Headers.Add( "bulk_fg", "1" );
	Stream data = client.OpenRead( url );
	StreamReader reader = new StreamReader( data );
	string s = reader.ReadToEnd();
	@s
	data.Close();
	reader.Close();*/

	/*string url = "http://gateway.trio-mobile.com:81/cpm_i.aspx";
	var result = "";
	var _msg = "";
	bool _send = true;
	try {
		using (var client = new WebClient()) {
			client.Headers.Add( "user-agent", "Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; .NET CLR 1.0.3705;)" );
			client.Headers.Add( "passname", "bulk60389275213lVtlr" );
			client.Headers.Add( "password", "bulk60389275213lVtlrlVtlr" );
			client.Headers.Add( "trx_id", "0" );
			client.Headers.Add( "short_code", "36828" );
			client.Headers.Add( "originating_no", "dgweb" );
			client.Headers.Add( "destination_no", "60133952497" );
			client.Headers.Add( "cp_ref_id", "0" );
			client.Headers.Add( "bill_type", "0" );
			client.Headers.Add( "bill_price", "0" );
			client.Headers.Add( "content_type", "1" );
			client.Headers.Add( "msg", "RM0.00 Test" );
			client.Headers.Add( "bulk_fg", "1" );
			
			using (var stream = client.OpenRead(url)) {
				using (var streamReader = new StreamReader(stream)) {
					result = streamReader.ReadToEnd();
				}
			}
		}
	} catch (Exception ex) {
		_msg = ex.Message;
		_send = false;
	}
	if ( !_send )
	@Html.Raw( wtf + result )*/

	/*if ( Ux._dosendsms("60133952497","test101") ) {
		@:OK
	} else {
		@:KO
	}*/

	// cleanup
	//Ux.cleanup_unfinish_application();

	//string result = Ux.SendSMS( "http://gateway.trio-mobile.com:81/cpm_i.aspx", "bulk60389275213lVtlr", "bulk60389275213lVtlrlVtlr", "dgweb", "60133952497","1", "TEST" );
	//@Html.Raw(result);

	/*int? sid = null;
	dynamic tbl = new Db();
	var dat = tbl.Query("select KPC_Approved_ID,KPA_Approved_ID from Declaration_Form_Master where Application_ID='2013010002'");
	foreach(var x in dat) {
		sid = x.KPA_Approved_ID;
		if ( sid == null ) {
			sid = x.KPC_Approved_ID;
		}
		if ( sid != null ) {
			@sid
		}
	}*/

	/*Ux._updatecredit();
	string credit = Ux._smscredit();
	@Html.Raw(credit);*/

	/*Ux.cleanup_noowner_application();
	dynamic tbx = new TblDeclaration_Form_Master();
	dynamic tbl = new Db();
	var q = tbx.Query( "select Application_ID,Master_ID,Agent_ID from Declaration_Form_Master" );
	var q1 = tbl.Query( "select UserId from Users" );
	foreach ( var x in q ) {
		bool ok = false;
		foreach(var xx in q1) {
			if ( x.Agent_ID == xx.UserId ) {
				ok = true;
			}
		}
		if ( !ok ) {
			@x.Agent_ID @:- @x.Application_ID - @x.Master_ID<br />
		}
	}*/


}

@*
<!--
test test
-->
*@

@*
@{
var TEST="aa";
@TEST
}
*@