div.x-grid-content {
	clear: both;
	width: 920px;
	font-family: "ff-meta-web-pro", "Helvetica", sans-serif;
	padding-bottom: 10px;
}

table.x-grid-table {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
}

td.x-grid-table-box-left {
	vertical-align: top;
	text-align: left;
	width: 220px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	padding-right: 15px;
}

div.x-grid-table-box-left-inner {
	position: relative;
	clear: both;
	float: left;
	text-align: left;
	margin: 9px 5px 0px 0px;
	width: 100%;
	border: 1px solid #bbbbbb;

}

div.x-grid-table-box-left-inner table {
	margin: 10px;
	padding: 6px;
}

div.x-grid-table-box-left-inner th {
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	font-family: arial;
}

div.x-grid-table-box-left-inner td {
	vertical-align: middle;
	text-align: left;
	font-size: 11px;
	font-family: arial;
}

div.x-grid-table-box-left-inner td.left {
	width: 60px;
}

td.x-grid-table-box-right {
	vertical-align: top;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

div.tstatus {
	clear: both
	widht: 100%;
}

div.tstatus table {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

div.tstatus th {
	font-weight: bold;
	width: 120px;
	text-align: right;
	padding: 2px;
}

div.tstatus td {
	text-align: left;
	padding: 2px;
	padding-left: 5px;
}

div.tstatus th,
div.tstatus td {
	vertical-align: top;
	padding-top: 5px;
	border-color: #bbbbbb !important;
}

div.tstatus a,
div.tstatus a.link,
div.tstatus a.focus,
div.tstatus a.active,
div.tstatus a.visited {
	font-family: "ff-meta-web-pro", "Helvetica", sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: blue;
}
div.tstatus a:hover {
	color: darkblue;
	text-decoration: underline;
}

td.nmsg a,
td.nmsg a.link,
td.nmsg a.focus,
td.nmsg a.active,
td.nmsg a.visited {
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: blue;
}
td.nmsg a:hover {
	color: darkblue;
	text-decoration: underline;
}

.slink {
	text-decoration: none;
	cursor: pointer;
}
.slink:hover {
	text-decoration: underline;
}
