div.bartop {
	z-index: 1;
	width: 100%;
	display: block;
	height: 120px;
	margin: 0;
	background: url(bartop.png);
	position: fixed;
}
div.bartop-inner {
	width: 980px;
	height: 95px;
	line-height: 95px;
	vertical-align: middle;
	text-align: left;
}
div.bartop-logo {
	float: left;
	/*width: 100px;
	height: 95px;*/
	width: 90px;
	height: 90px;
	background: url(logo0.png) no-repeat center center;
	margin-right: 10px;
	margin-top: 5px;
}
div.bartop-logo:hover {
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div.bartop-text {
	float: left;
	width: 566px;
	height: 95px;
	background: url(text.png) no-repeat center center;
}

div.bartop-clock {
	float: right;
	margin-top: -35px;
	margin-right: 10px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	width: 280px;
	text-align: right;
}

div.bartop-uinfo {
	float: right;
	margin-top: -40px;
	margin-right: 10px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	width: 280px;
	text-align: right;
	overflow: hidden;
}

div.bartop-menu {
	z-index: 2;
	width: 100%;
	display: block;
	height: 32px;
	margin: 95px 0px 0px 0px;
	background: #4682b4;
	/*opacity: 0.9;*/
	position: fixed;
}

div.bartop-menu-inner {
	width: 980px;
	height: 32px;
	vertical-align: middle;
	text-align: right;
}
div.bartop-menu-inner button {
	margin-top: 2px;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
div.x-layout {
	padding-top: 120px;
	clear: both;
	width: 975px;
	word-wrap: break-word;
}

div.barheadline {
	clear: both;
	width: 972px;
	height: 20px;
	vertical-align: middle;
	word-wrap: break-word;
	margin-top: 5px;
	padding: 5px 0px 5px 0px;
	background: #4682b4;
	border: 1px solid #3E7EB3;
}
div.barheadline ul#ticker {
	display: none;
}

div.barmid {
	clear: both;
	width: 975px;
	min-height: 266px;
	background: #ffffff;
	/*opacity: 0.9;
	filter: alpha(opacity=90);*/
	word-wrap: break-word;
	margin-top: 15px;
	padding-bottom:10px;
}

div.barmid h1 {
	font-weight: bold;
	font-size: 14px;
}

div.barmid input.text {
	width: 310px;
	padding: 6px 4px 6px 4px;
	font-size: 13px;
	border-color: #666666;
	background: #f5f5b5;
}

div.barmid select.text {
	width: 320px;
	padding: 6px 4px 6px 4px;
	border-color: #666666;
	background: #f5f5b5;
}

div.barmid textarea.text {
	border-color: #666666;
	background: #f5f5b5;
}

div.barmid .button {
	background: #C20404;
	color: #ffffff;
	border-color: #C20404;
}
div.barmid .button:hover {
	background: #ff0000;
}

div.barmid-left {
	float: left;
	margin: 8px;
	width: 285px;
	height: 250px;
	background: url(img1.jpg);
	margin-right: 10px;
}

div.barmid-fschedule {
	float: left;
	text-align: left;
	margin: 8px;
	width: 400px;
	height: 250px;
	border-right: 2px solid #dddddd;
	margin-right: 10px;
	overflow: auto;
	word-wrap: break-word;
}

div.barmid-fschedule a, div.barmid-fschedule a:link, div.barmid-fschedule a:active, div.barmid-fschedule a:visited, div.barmid-fschedule a:focus {
	color: #000000;
	background: orange;
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 2px;
	text-decoration: none;
}
div.barmid-fschedule a:hover {
	background: yellow;
}

div.barmid-fschedule-result {
	clear: both;
	text-align: left;
	padding: 10px 0px 10px 0px;
	margin: 8px;
	width: 943px;
	overflow: auto;
	word-wrap: break-word;
	border-bottom: 2px solid #dddddd;
}

div.barmid-fschedule-result a, div.barmid-fschedule-result a:link, div.barmid-fschedule-result a:active, div.barmid-fschedule-result a:visited, div.barmid-fschedule-result a:focus {
	color: #000000;
	background: orange;
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 2px;
	text-decoration: none;
}
div.barmid-fschedule-result a:hover {
	background: yellow;
}

div.barmid-fschedule-grid {
	clear: both;
	text-align: left;
	padding: 0px;
	margin: 8px;
	width: 943px;
	overflow: auto;
	word-wrap: break-word;
}

div.barmid-login {
	float: left;
	text-align: left;
	margin: 8px;
	margin-left: 5px;
	width: 235px;
	height: 250px;
	overflow: auto;
	word-wrap: break-word;
}
div.barmid-login input.text {
	width: 200px;
}

div.barmid-login a, div.barmid-login a:link, div.barmid-login a:active, div.barmid-login a:visited, div.barmid-login a:focus {
	font-size: 12px;
	text-decoration: none;
}

/** dashboard **/

div.barmid-home-left {
	clear: both;
	float: left;
	text-align: left;
	width: 235px;
	height: 250px;
	overflow: auto;
	word-wrap: break-word;
	margin: 10px;
}

div.barbottom {
	clear: both;
	width: 975px;
	height: 266px;
	padding-bottom: 20px;
}

div.barbottom-box1, div.barbottom-box2, div.barbottom-box3, div.barbottom-box4 {
	float: left;
	text-align: left;
	width: 236px;
	/*min-height: 266px;*/
	height: 266px;
	background: #ffffff;
	margin-top: 5px;
	margin-right: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	/*overflow: auto;*/
	overflow: hidden;
	word-wrap: break-word;
}

div.barbottom-box4 {
	margin-right: 0px;
}

div.barbottom-inner {
	width: 220px;
	margin: 4px;
}

div.barbottom-inner h2.title {
	margin-top: 0px;
	margin-bottom: 5px;
}
div.barbottom-inner h2.title:hover {
	color: red;
}

div.barbottom-inner li {
	font-size: 11px;
	padding-bottom: 2px;
}

div.barbottom-inner a, div.barbottom-inner a:link, div.barbottom-inner a:active, div.barbottom-inner a:visited, div.barbottom-inner a:focus {
	font-size: 12px;
	text-decoration: none;
	color: blue;

}
div.barbottom-inner a:hover {
	text-decoration: underline;
	color: darkblue;
}

div.barbottom-inner a.vmore {
	position: relative;
	top: 10px;
}

img.info {
	margin-right: 5px;
	border: none;
	width: 16px;
	height: 16px;
	position: relative;
	top: .25em;
}

h2.title {
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}

button.btpage {
}

/** grid **/
.grid {
	padding: 6px;
	width: 100%;
	background-color: #cccccc/*#E6FFFF*/;
	color: #6078BF;
	border-collapse: collapse;
}
.grid tr {
	background: inherit;
}

.grid tr:hover {
	/*background: #C7FC8D;*/
	background: #eeeeee;
}

.grid td, .grid th {
	padding: 2px 10px 2px 10px;
}

.grid td {
	vertical-align: top;
	color: #000000;
	border: 1px solid #dddddd;
}
.grid th {
	border: 1px solid #000000;
}

.grid th, .grid-header {
	background-color: #000;
	color: #ffffff;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}

.grid-header a, .grid-header a:link, .grid-header a:active, .grid-header a:visited, .grid-header a:focus {
	text-decoration: none;
	color: #ffffff;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}

.grid-alternate {
	background-color: #EEE6FF;
}

.grid tfoot {
	display: none;
}
.grid-footer {
	color: #0000ff;
	font-weight: bold;
	background: #bbbbbb;
	font-size: 11px !important;
	padding: 2px 5px 2px 5px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

.grid-footer a, .grid-footer a:link, .grid-footer a:active, .grid-footer a:visited, .grid-footer a:focus {
	font-size: 11px !important;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	text-align: middle;
}

.grid-no {
	width: 10px !important;
	text-align: right !important;
}
div.grid-dl,
div.grid-pinfo,
.grid-info,
.grid-sinfo,
.grid-cursor {
	cursor:  pointer;
}
div.grid-dl:hover,
div.grid-pinfo:hover,
.grid-info:hover {
	color: blue;
}

span.grid-sinfo:hover {
	color: blue;
}

div.grid-pinfo {
	width: 100%;
}

.grid-white {
	background: #ffffff !important;
}

.grid-no-white {
	width: 10px !important;
	text-align: right !important;
	background: #ffffff !important;
}

.grid-act {
	padding-left: 2px !important;
	text-align: left;
	width: 50px !important;
}
.grid-act-footer {
	padding-left: 2px !important;
	background: #dddddd;
}
.grid-search {
	padding-left: 2px !important;
}
.grid-search select.text {
	width: 150px !important;
	padding: 4px 4px 4px 4px !important;
	font-size: 11px !important;
	margin-right: 2px;
}
.grid-search input.text {
	width: 180px !important;
	padding: 4px 4px 4px 4px !important;
	font-size: 11px !important;
	margin-right: 2px;
}
.grid-search button.button {
	font-size: 10px !important;
}

.grid img.act,
.grid-act-footer img.act {
	width: 14px;
	height: 14px;
	margin-left: 3px;
	position:relative; top:.25em;
}

.grid img.act:hover,
.grid-act-footer img.act {
	cursor: pointer;
}

.grid-table-inner {
	padding: 0px;
	margin: 0px;
}
.grid-table-inner th {
	text-align: right;
	background-color: inherit;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}
.grid-table-inner td {
	padding: 0px 0px 0px 2px;
	margin: 0px;
}
.grid-table-inner th,
.grid-table-inner td {
	vertical-align: top;
	border-color: transparent;
}
.pager {
	text-align: left;
	width: 400px;
	margin: 5px;
}

div#sec {
	position: relative;
	top: 5px;
	width: 955px;
	margin: 5px;
}

div.ui-tabs {
	border-color: transparent !important;
}

.ui-widget-overlay {
	opacity: .50;
	filter:Alpha(Opacity=50);
	background: #000000;
}
.ui-widget-shadow {
	background: #000000;
}