/* global stylsheet */
* {
	margin: 0;
}
html, body {
	height: 100%;
}

html {
	overflow: auto;
	font-size: 100.01%;
	color: #ffffff;
}

body {
	font-family: "ff-meta-web-pro", "Helvetica", sans-serif;
	font-size: 75%;
	color: #000000;
	background-image: url(bg.jpg);
	background-size: 100% auto;
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/* debug */
.debug1 {
	border: 1px solid blue;
}
.debug2 {
	border: 1px solid red;
}
.debug3 {
	border: 1px solid yellow;
}
/* common class */
.clear {
	clear: both;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.hide {
	display: none;
}
.bold {
	font-weight: bold;
}
.cursor {
	cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}

.border {
	border: 1px solid #dddddd !important;
}

.border-top {
	border-top: 1px solid #dddddd !important;
}

.border-bottom {
	border-bottom: 1px solid #dddddd !important;
}

.border-left {
	border-left: 1px solid #dddddd !important;
}

.border-right {
	border-right: 1px solid #dddddd !important;
}

.border-none {
	border: 0px solid transparent !important;
}

.border-top-none {
	border-top: 0px solid transparent !important;
}

.border-bottom-none {
	border-bottom: 0px solid transparent !important;
}

.border-left-none {
	border-left: 0px solid transparent !important;
}

.border-right-none {
	border-right: 0px solid transparent !important;
}

/* grid */
.container {
	width: 100%;
	min-width: 950px;
	display: block;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	position: relative;
}

.column {
	float: left;
	margin-right: 2px;
}
.column-last {
	float: left;
	margin-right: 0px;
}

#ajax-loader, #ajax-msg {
	display: none;
	position: absolute;
	z-index: 999;
	width: 200px;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	text-align: center;
	background: #cf3737 url(loader.gif) left center no-repeat;
	color: #ffffff;
	font-size: 12px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid red;
}


/* footer */
.footer {
	width: 100%;
	clear: both;
	margin: 0px;
}

.footer, .push {
	height: 4em;
}

.footer-inner {
	position: relative;
	margin-top: 10px;
	width: 950px;
	font-size: 12px;
	color: #000000;
	text-align: left;
}

.footer-inner a, .footer-inner a:active, .footer-inner a:link, .footer-inner a:focus, .footer-inner a:visited {
	color: #000000;
	text-decoration: none;
}

.footer-inner a:hover {
	color: #000000;
	text-decoration: underline;
}

/* Form fields */
input[type=text], input[type=password], input.text, textarea, select {
	background-color: #f2f1ef;
	border: 1px solid #bbbbbb;
	font-size: 12px;
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.stext:focus, textarea:focus, select:focus {
	border-color: #666666;
	background: #f5f5b5;
}

input[type=text], input[type=password], input[type=image], input.text, input.stext, textarea, select {
	margin: 0.5em 0;
}

input.text {
	width: 200px;
	padding: 6px 4px 6px 4px;
	font-size: 13px;
}

select.text {
	width: 200px;
	padding: 6px 4px 6px 4px;
	white-space:nowrap;
}

textarea {
	width: 300px;
	height: 150px;
}

input.text, select.text, textarea {
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

input[type=checkbox], input[type=radio], input.checkbox, input.radio {
	position: relative;
	top: .25em;
}

fieldset {
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	border: 1px solid #ccc;
}
legend {
	font-weight: bold;
	font-size: 1.2em;
}

fieldset.x-fb, fieldset.x-fb0 {
	background: #ffffff;
	margin-bottom: 1px;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 3px;
}

fieldset.x-fb0 {
	border: 1px solid #ffffff;
}

legend.x-title {
	font-size: 13px;
	padding: 4px;
}

/* typography */
a:focus, a:hover {
	color: #000;
}
a {
	color: #009;
	text-decoration: underline;
	font-size: 11px;
}
pre {
	margin: 1.5em 0;
	white-space: pre;
}
pre, code, tt {
	font: 1em 'andale mono' , 'lucida console' , monospace;
	line-height: 1.5;
}

li ul, li ol {
	margin: 0 1.5em;
}
ul, ol {
	margin: 0 1.5em 1.5em 1.5em;
	font-size: 11px;
}

ul {
	list-style-type: square;
}
ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.5em 0;
}
dl dt {
	font-weight: bold;
}
dd {
	margin-left: 1.5em;
}

/* border radius */
.border-corner6px-all {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

.border-corner3px-all {
	-moz-border-radius-topleft: 3px !important;
	-moz-border-radius-topright: 3px !important;
	-moz-border-radius-bottomleft: 3px !important;
	-moz-border-radius-bottomright: 3px !important;
	-webkit-border-top-left-radius: 3px !important;
	-webkit-border-top-right-radius: 3px !important;
	-webkit-border-bottom-left-radius: 3px !important;
	-webkit-border-bottom-right-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.shadow {
	-moz-box-shadow: 4px 4px 4px #888888;
	-webkit-box-shadow: 4px 4px 4px #888888;
	box-shadow: 4px 4px 4px #888888;
}

/* button */

.button {
	border: 1px solid #aaaaaa !important;
	font-size: 12px;
	white-space:nowrap;
}

.button_red {
	background: #C20404 !important;
	color: #ffffff !important;
	border-color: #C20404 !important;
}
.button_red:hover {
	background: #ff0000 !important;
}

.button_blue {
	background:#6DB3ED !important;
	border:1px solid #dddddd !important;
	color:#000000 !important;
}
.button_blue:hover {
	background:#87BFED !important;
}

.select {
	border: 1px solid #aaaaaa !important;
	margin-top: -4px !important;
	text-align: left;
}

div.x-list {
	clear: both;
	width: 100%;
	text-align:left;
	font-size: 11px;
}

div.dialog_max_height {
	clear: both;
}

#dialog {
	display: none;
}

.ui-tabs .ui-tabs-nav li a span { 
	float: left;
	margin-right: 2px;
	margin-top: -2px;
}

.ui-dialog-buttonpane button {
	background: #C20404 !important;
	color: #ffffff !important;
	border-color: #C20404 !important;
}

.ui-dialog-buttonpane button:hover {
	background: #ff0000 !important;
}

span.pnotice {
	padding: 10px;
	background: yellow;
	color: red;
	font-weight: bold;
	border: 1px solid red;
}
