﻿#x-table {
	margin: 0px;
	padding: 6px;
}

#x-table th {
	vertical-align: top;
	padding-top: 10px;
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	min-width: 120px;
}

#x-table th:after {
	content: ":";
}

#x-table td {
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
}

#x-table td.dinfo {
	padding: 4px;
}

#x-table input.text {
	/*width: 250px;*/
	width: 350px !important;
}

#x-table textarea {
	/*width: 253px;*/
	width: 353px;
	height: 40px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
#x-table select {
	width: /*258px*/358px !important;
	padding: 6px 4px 6px 4px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

#x-table .tinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
#x-table th.tinfo {
	font-weight: bold;
}