/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
/*border: 1px solid #000;*/
/*background: #fff; */
width: 970px; 
height: 20px; 
margin: 0; 
padding: 0;

}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 0px;
top: 0px;
width: 960px;
overflow: hidden;
/*border:1px solid red;*/
}
ul.newsticker { /* that's your list */
position: relative;
left: 975px;
/*font: bold 10px Verdana;*/
font-size: 13px;
list-style-type: none;
margin: 0;
padding: 0;
}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
/*background: #fff;*/
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
/*color: #ff0000;*/
color: #ffffff;
/*font: bold 10px Verdana;*/
font-size: 13px;
font-weight: bold;
font-family: arial;
margin: 0 50px 0 0;
text-decoration: none;
} 
ul.newsticker a:hover {
text-decoration: underline;
}

ul.newsticker span {
font-size: 12px;
font-style: italic;
margin: 0 5px 0 0;
} 