﻿@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Ux.IsKPA) {
		@:403 Access Denied!
		return;
	}
	var idx = Ux.ckey();
}
<div class="barmid border-corner6px-all">

<div id="sec">
<ul>
<li><a href="#sec0"><span class="ui-icon ui-icon-image"></span>Dashboard</a></li>
@if ( Ux.IsAdmin ) {
<li><a href="#sec1" data-code="user"><span class="ui-icon ui-icon-person"></span>User</a></li>
} else {
<li class="hide"><a href="#sec1" data-code="user"><span class="ui-icon ui-icon-person"></span>User</a></li>
}
<li><a href="#sec2" data-code="port"><span class="ui-icon ui-icon-document"></span>Port</a></li>
<li class="hide"><a href="#sec3" data-code="consignee"><span class="ui-icon ui-icon-document"></span>Consignee</a></li>
<li><a href="#sec4" data-code="vessel"><span class="ui-icon ui-icon-document"></span>Vessel</a></li>
@if ( Ux.IsAdmin ) {
<li><a href="#sec5" data-code="sms"><span class="ui-icon ui-icon-document"></span>SMS</a></li>
} else {
<li class="hide"><a href="#sec5" data-code="sms"><span class="ui-icon ui-icon-document"></span>SMS</a></li>
}
@if ( Ux.IsKPA ) {
<li><a href="#sec6" data-code="document"><span class="ui-icon ui-icon-document"></span>Document</a></li>
} else {
<li class="hide"><a href="#sec6" data-code="document"><span class="ui-icon ui-icon-document"></span>Document</a></li>
}
@if ( Ux.IsKPA ) {
<li><a href="#sec7" data-code="content"><span class="ui-icon ui-icon-document"></span>News/Event</a></li>
} else {
<li class="hide"><a href="#sec7" data-code="content"><span class="ui-icon ui-icon-document"></span>Contents</a></li>
}
<li><a href="#sec8" data-code="tradename"><span class="ui-icon ui-icon-document"></span>Trade Name</a></li>
<li><a href="#sec9" data-code="report"><span class="ui-icon ui-icon-document"></span>Reporting</a></li>
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec1"><div class="x-list" id="@{ @idx }1"></div> </div> <!-- /sec1 -->
<div id="sec2"><div class="x-list" id="@{ @idx }2"></div> </div> <!-- /sec2 -->
<div id="sec3"><div class="x-list" id="@{ @idx }3"></div> </div> <!-- /sec3 -->
<div id="sec4"><div class="x-list" id="@{ @idx }4"></div> </div> <!-- /sec4 -->
<div id="sec5"><div class="x-list" id="@{ @idx }5"></div> </div> <!-- /sec5 -->
<div id="sec6"><div class="x-list" id="@{ @idx }6"></div> </div> <!-- /sec6 -->
<div id="sec7"><div class="x-list" id="@{ @idx }7"></div> </div> <!-- /sec7 -->
<div id="sec8"><div class="x-list" id="@{ @idx }8"></div> </div> <!-- /sec8 -->
<div id="sec9"><div class="x-list" id="@{ @idx }9"></div> </div> <!-- /sec9 -->
</div> <!-- /sec -->

<!-- user -->
<div class="hide" id="@{ @idx }1-add"></div>
<div class="hide" id="@{ @idx }1-edit"></div>
<div class="hide" id="@{ @idx }1-info"></div>

<!-- port -->
<div class="hide" id="@{ @idx }2-add"></div>
<div class="hide" id="@{ @idx }2-edit"></div>
<div class="hide" id="@{ @idx }2-info"></div>

<!-- consignee -->
<div class="hide" id="@{ @idx }3-add"></div>
<div class="hide" id="@{ @idx }3-edit"></div>
<div class="hide" id="@{ @idx }3-info"></div>

<!-- vessel -->
<div class="hide" id="@{ @idx }4-add"></div>
<div class="hide" id="@{ @idx }4-edit"></div>
<div class="hide" id="@{ @idx }4-info"></div>

<!-- sms -->
<div class="hide" id="@{ @idx }5-add"></div>
<div class="hide" id="@{ @idx }5-edit"></div>
<div class="hide" id="@{ @idx }5-info"></div>

<!-- document -->
<div class="hide" id="@{ @idx }6-add"></div>
<div class="hide" id="@{ @idx }6-edit"></div>
<div class="hide" id="@{ @idx }6-info"></div>

<!-- content -->
<div class="hide" id="@{ @idx }7-add"></div>
<div class="hide" id="@{ @idx }7-edit"></div>
<div class="hide" id="@{ @idx }7-info"></div>

<!-- trade name -->
<div class="hide" id="@{ @idx }8-add"></div>
<div class="hide" id="@{ @idx }8-edit"></div>
<div class="hide" id="@{ @idx }8-info"></div>

<!-- reporting -->
<div class="hide" id="@{ @idx }9-info"></div>

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	@if ( !Ux.IsAdmin ) {
		@:_sindex = 2;
	}
	@{
		if ( !Request["_sindex"].IsEmpty() ) {
			@:_tabselect(@Request["_sindex"]);
		}
	}
	@Ux.js("ui/rsc/_tab.js", false);
	$('#sec').bind('tabsselect', function(e, ui) {
		e = e || window.event;
		var _uh = window.location.hash || null;
		if ( _uh !== null ) {
			var _m = _uh.match(/!p\/admin\-t(\d+)/);
			if ( _m && _m[1] ) {
				if ( ui.index != _m[1] ) {
					window.location.hash = "!/p/admin";
					@{
						if ( Request["_tab"].IsEmpty() ) {
							@:_tabselect(ui.index);
						}
					}
				}
			}
		}
	});
	@{
		if ( !Request["_tab"].IsEmpty() ) {
			@:_tabselect(@Request["_tab"]);
		}
	}
	@Ux.js("ui/rsc/_user.js", false);
	@Ux.js("ui/rsc/_port.js", false);
	@Ux.js("ui/rsc/_consignee.js", false);
	@Ux.js("ui/rsc/_vessel.js", false);
	@Ux.js("ui/rsc/_sms.js", false);
	@Ux.js("ui/rsc/_document.js", false);
	@Ux.js("ui/rsc/_content.js", false);
	@Ux.js("ui/rsc/_tradename.js", false);
});
</script>
</div>
<!-- /eol -->