﻿@{
	if ( !Ux.IsLogin ) {
	@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Ux.IsAdmin ) {
	@:403 Access Denied!
		return;
	}
}
<!DOCTYPE html>
<html>
<body>
@{

	dynamic tbl = new Db();
	
	var query = "select Id,Login,Role,Action,Message,Timestamp,IPAddress from Audittrail";
	query += string.Format( " order by Id DESC" );

	var data = tbl.Query( query );
	var grid = new WebGrid( data, canPage: false );
	
	var num = 1;

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			columns: grid.Columns(
				grid.Column(
					columnName: "UID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text>@( num++)</text> ),
				grid.Column(
					columnName: "Timestamp",
					header: "Date/Time",
					format: @<text>@Ux._datetime(item.Timestamp)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Login",
					header: "Login Id",
					format: @<text>@Ux.empty_text(item.Login)</text>,
					canSort: false ),
				grid.Column(
					columnName: "IPAddress",
					header: "IP Address",
					format: @<text>@Ux.empty_text(item.IPAddress)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Role",
					header: "Role",
					format: @<text>@Ux.empty_text(item.Role)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Action",
					header: "Action",
					format: @<text>@Ux.empty_text(item.Action)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Message",
					header: "Message",
					canSort: false,
					format: @<text>@Ux.empty_text(item.Message)</text> )
			)
		);

	string date = DateTime.Today.ToString("yyyyMMdd");
	HttpContext.Current.Response.Clear();
	HttpContext.Current.Response.ClearContent();
	HttpContext.Current.Response.ClearHeaders();
	HttpContext.Current.Response.Buffer = true;
	HttpContext.Current.Response.ContentType = "application/ms-excel";
	HttpContext.Current.Response.AddHeader( "Content-Disposition", "attachment;filename=AuditTrail-"+date+".xls" );
	HttpContext.Current.Response.Charset = "utf-8";
	HttpContext.Current.Response.ContentEncoding = System.Text.Encoding.GetEncoding( "windows-1250" );
	@xgrid
}
</body>
</html>