﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsAdmin ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblAudittrail();
	var obj = tbl.FindBy( Id: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table th,
#x-table td {
	vertical-align: top !important;
	padding-top: 5px !important;
}
</style>
<div class="dialog_max_height">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Date/Time</th>
<td>@Ux._datetime(s.Timestamp)</td>
</tr>

<tr>
<th>Login Id</th>
<td>@Ux.empty_text(s.Login)</td>
</tr>

<tr>
<th>IP Address</th>
<td>@Ux.empty_text(s.IPAddress)</td>
</tr>

<tr>
<th>Action</th>
<td>@Ux.empty_text(s.Action)</td>
</tr>

<tr>
<th>Message</th>
<td>@Ux.empty_text(s.Message)</td>
</tr>

<tr>
<th>Browser Agent</th>
<td>@Ux.empty_text(s.Uagent)</td>
</tr>

</table>
</fieldset>

</div> <!-- /dialog_max_height -->