﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( Request["_formid"].IsEmpty() && Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblUsers();
	var obj = tbl.FindBy( UserId: WebSecurity.CurrentUserId );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<legend class="x-title">Password @WebSecurity.CurrentUserName</legend>
<table id="x-table">

<tr>
<th>New Password</th>
<td><input type="password" name="npass" class="text" value=""></td>
</tr>

<tr>
<th>Retype Password</th>
<td><input type="password" name="rpass" class="text" value=""></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->