﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblConsignee();
	var msg = "";

	// save
	if ( _post == "save" ) {
		if ( _d["Consignee"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Consignee Name!" ); return;
		}

		var cn = tbl.FindBy(Consignee:_d["Consignee"]);
		foreach(var xx in cn) {
			@Ux.json_return( false, "Consignee Name already exists!" ); return;
		}

		if ( _d["Consignee_country"].IsEmpty() ) {
			@Ux.json_return( false, "Please select country!" ); return;
		}

		if ( _d["Consignee_contact"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Contact!" ); return;
		}
		
		if ( _d["Consignee_address"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Address!" ); return;
		}

		if ( _d["Consignee_telephone"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Telephone!" ); return;
		}
		
		if ( _d["Consignee_fax"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Fax!" ); return;
		}
		
		if ( _d["Consignee_email"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Email!" ); return;
		}
		
		if ( !Ux.check_email(_d["Consignee_email"]) ) {
			@Ux.json_return( false, "Invalid Email Address!" ); return;
		}
		
		obj.Add( "timestamp", DateTime.Now );
		
		msg = "";
		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>"+e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "consignee_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "consignee_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["Consignee"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Consignee Name!" ); return;
		}
		
		var cn = tbl.Query(string.Format("select Consignee from Consignee where Consignee='{0}' and Id!='{1}'", _d["Consignee"], _d["id"]));
		foreach(var xx in cn) {
			@Ux.json_return( false, "Consignee Name already exists!" ); return;
		}

		if ( _d["Consignee_country"].IsEmpty() ) {
			@Ux.json_return( false, "Please select country!" ); return;
		}

		if ( _d["Consignee_contact"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Contact!" ); return;
		}
		
		if ( _d["Consignee_address"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Address!" ); return;
		}

		if ( _d["Consignee_telephone"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Telephone!" ); return;
		}
		
		if ( _d["Consignee_fax"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Fax!" ); return;
		}
		
		if ( _d["Consignee_email"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Email!" ); return;
		}
		
		if ( !Ux.check_email(_d["Consignee_email"]) ) {
			@Ux.json_return( false, "Invalid Email Address!" ); return;
		}
		
		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );

		obj.Add( "timestamp", DateTime.Now );
		
		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "consignee_update", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "consignee_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "consignee_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;

		} else {
			tbl.Delete(_d["id"]);
			Ux.audittrail( true, "consignee_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;
		}
		Ux.audittrail( false, "consignee_delete", "Invalid Request" );
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	if ( _post == "listconsignee" ) {
		var dp = tbl.Query( "select Consignee from Consignee order by timestamp DESC" );
		string ret = "";
		foreach(var dpx in dp) {
			ret += "<option value='" + dpx.Consignee + "'>" + dpx.Consignee + "</option>";
		}
		@Html.Raw(ret)
		return;
	}
		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}