﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblContent();
	var obj = tbl.FindBy( Id: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
#x-table th {
	min-width: 50px !important;
	width: 50px !important;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Title</th>
<td><input type="text" class="text" name="title" value="@Server.UrlDecode(s.title)"></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="type" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "news", "News and Event" );
	bb.Add( "helpdesk", "Helpdesk" );
	foreach ( var x in bb ) {
		if ( s.type == x.Key ) {
			@:<option value="@x.Key" selected>@x.Value</option>
		} else {
			@:<option value="@x.Key">@x.Value</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>Content</th>
<td><textarea name="text" class="htmleditor" id="text">@Server.UrlDecode(s.text)</textarea></td>
</tr>

<tr>
<th>Headline</th>
<td>
<select name="headline" class="text">
@{
	var _hh = new[] { "yes", "no" };
	foreach ( var _h in _hh ) {
		<option value="@_h"@( _h == s.headline ? " selected" : "")>@_h.ToUpper()</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Priority</th>
<td>
<select name="priority" class="text">
@{
	int i;
	var x1 = "";
	for ( i = 1; i <= 10; i++ ) {
		x1 = i.ToString();
		if ( i < 10 ) {
			x1 = "0" + i.ToString();
		}
		<option value="@i"@( i == s.priority ? " selected" : "")>@x1</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->