﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA && !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Consignee Name</th>
<td><input type="text" name="Consignee" class="text" value=""></td>
</tr>

<tr>
<th>Country</th>
<td>
<select name="Consignee_country" class="text">
@{
	var tbl = new TblCountry();
	var data = tbl.All();
	foreach ( var x in data ) {
		@:<option value="@x.Name">@x.Name</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Name of Contact</th>
<td><input type="text" name="Consignee_contact" class="text" value=""></td>
</tr>

<tr>
<th>Address</th>
<td><textarea name="Consignee_address"></textarea></td>
</tr>

<tr>
<th>Telephone</th>
<td><input type="text" name="Consignee_telephone" class="text" value=""></td>
</tr>

<tr>
<th>Fax</th>
<td><input type="text" name="Consignee_fax" class="text" value=""></td>
</tr>

<tr>
<th>Email</th>
<td><input type="text" name="Consignee_email" class="text" value=""></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->