﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblContent();
	var msg = "";

	// save
	if ( _post == "save" ) {
		if ( _d["title"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Content title!" ); return;
		}

		var cn = tbl.FindBy( title: _d["title"] );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Content title already exists!" ); return;
		}
		
		if ( _d["text"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Content data!" ); return;
		}

		msg = "";

		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, msg ); return;
		}
		
		obj.Add( "timestamp", DateTime.Now );

		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "content_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "content_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["title"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Content title!" ); return;
		}

		var cn = tbl.Query( string.Format( "select title from Content where title='{0}' and Id!='{1}'", _d["title"], _d["id"] ) );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Content title already exists!" ); return;
		}

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );
		
		obj.Add( "timestamp", DateTime.Now );
		
		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "content_update", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "content_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "content_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;

		} else {
			tbl.Delete( _d["id"] );
			Ux.audittrail( true, "content_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;
		}
		Ux.audittrail( false, "content_delete", "Invalid Request" );
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}