﻿@using System.Web;
@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "content" ) {
		return;
	}
}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select Id,type,title,text,priority,headline from Content";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
	}
	
	if ( !Request["type"].IsEmpty() ) {
		if ( !dosearch ) {
			dosearch = true;
			query += string.Format( " where type = '{0}'", Ux.escape_query( Request["type"] ) );
		} else {
			query += string.Format( " and type = '{0}'", Ux.escape_query( Request["type"] ) );
		}
	}
	query += string.Format( " order by priority,timestamp" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}

	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "title", "Title" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";
	sact += "<select name='type' class='text'>";
		Dictionary<string, string> bb1 = new Dictionary<string, string>();
		bb1.Add( "", "All" );
		bb1.Add( "news", "News and Event" );
		bb1.Add( "helpdesk", "Helpdesk" );
		foreach(var b in bb1) {
			sact += "<option value='" + b.Key + "'";
			sact += ( Request["type"] == b.Key ? "selected" : "" );
			sact += ">" + b.Value + "</option>";
		}
	sact += "</select>";
	sact += "<button class='button' name='btadd' style='margin-left:10px;'>Add New Content</button>";
	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "OPT",
					header: "Action",
					canSort: false,
					style: "grid-act",
					format: @<text><input type='checkbox' name='del[@item.Id]' value='1'><img data-del='@item.Id' class='act' src='@Ux.href( "ui/rsc/delete.png" )' data-tooltip='Delete'><img data-edit='@item.Id' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@( num++)</div></text> ),
				grid.Column(
					columnName: "title",
					header: "Title",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux.empty_text( Server.UrlDecode(item.title) )</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "type",
					header: "Category",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux.contenttype_name(item.type)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "headline",
					header: "Headline",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@item.headline</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "priority",
					header: "Priority",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@item.priority</div></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	var tract = "<div class='grid-act-footer'>";
	tract += "<input type='checkbox' name='chkdel' data-click='msel'>";
	tract += "<img data-click='mdel' class='act' src='" + Ux.href( "ui/rsc/delete.png" ) + "' data-tooltip='Delete'>";
	tract += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( tract )
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		var _type = "@Request["type"]";
		_webgrid_link_hash("admin-t7","grid", null, _sstr, _sopt, _type, null,null,"tsec","content");

		$(".grid-header th:contains('#')").css("text-align","right");
		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/admin-t7");
		});

		function _dosearch(bypass) {
			var bypass = bypass || false;
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			var _type = $("div.grid-search select[name=type]").attr("value");
			if ( !bypass && _sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/admin-t7/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr) + "&type=" + urlencode(_type)+"&tsec=content&__t="+time() );
		};
		
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_dosearch();
		});
		
		$("div.grid-search select[name=type]").change(function() {
			_dosearch(true);
		});
	});
</script>
<!-- /eol -->