﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblConsignee();
	var obj = tbl.FindBy( Id: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Consignee Name</th>
<td><input type="text" name="Consignee" class="text" value="@s.Consignee"></td>
</tr>

<tr>
<th>Country</th>
<td>
<select name="Consignee_country" class="text">
@{
	var tblc = new TblCountry();
	var data = tblc.All();
	foreach ( var x in data ) {
		if ( s.Consignee_country == x.Name ) {
			@:<option value="@x.Name" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name">@x.Name</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>Name of Contact</th>
<td><input type="text" name="Consignee_contact" class="text" value="@s.Consignee_contact"></td>
</tr>

<tr>
<th>Address</th>
<td><textarea name="Consignee_address">@s.Consignee_address</textarea></td>
</tr>

<tr>
<th>Telephone</th>
<td><input type="text" name="Consignee_telephone" class="text" value="@s.Consignee_telephone"></td>
</tr>

<tr>
<th>Fax</th>
<td><input type="text" name="Consignee_fax" class="text" value="@s.Consignee_fax"></td>
</tr>

<tr>
<th>Email</th>
<td><input type="text" name="Consignee_email" class="text" value="@s.Consignee_email"></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->