﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
#x-table th {
	min-width: 50px !important;
	width: 50px !important;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]" enctype="multipart/form-data" method="post">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Title</th>
<td><input type="text" class="text" name="title"></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="type" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "news", "News and Event" );
	bb.Add( "helpdesk", "Helpdesk" );
	foreach ( var b in bb ) {
		<option value="@b.Key">@b.Value</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Content</th>
<td><textarea name="text" class="htmleditor" id="text"></textarea></td>
</tr>

<tr>
<th>Headline</th>
<td>
<select name="headline" class="text">
@{
	var _hh = new[] { "yes", "no" };
	foreach ( var _h in _hh ) {
		<option value="@_h"@( _h == "no" ? " selected" : "")>@_h.ToUpper()</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Priority</th>
<td>
<select name="priority" class="text">
@{
	int i;
	var x = "";
	for ( i = 1; i <= 10; i++ ) {
		x = i.ToString();
		if ( i < 10 ) {
			x = "0" + i.ToString();
		}
		<option value="@i"@( i == 10 ? " selected" : "")>@x</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->