@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}

	// cleanup -2 days
	Ux.cleanup_unfinish_application();
	
	// status
	dynamic table = new Db();
	dynamic tbl = new TblUsers();
	var userinfo = tbl.FindBy( UserId: WebSecurity.CurrentUserId );
}


<div class="x-grid-content">
<table class="x-grid-table">
<tr>
<td class="x-grid-table-box-left">

<div class="x-grid-table-box-left-inner border-corner6px-all">
<table>
<tr>
<td colspan='2' class='bold'>Account Summary</td>
</tr>
<tr>
<td class='left'>Login Id</td><td>: @WebSecurity.CurrentUserName</td>
</tr>
<tr>
<td class='left'>Role</td>
@{
	var role = Ux.listuserrole( WebSecurity.CurrentUserName );
	<td>: @role</td>
}
</tr>
<tr>
<td class='left'>Last Login</td><td>:

@{
	string format = "dd-MM-yyyy hh:mm tt";
	var lastip = "";
	foreach ( var lxx in userinfo ) {
		DateTime time = lxx.Lastlogin;
		lastip = lxx.Lastip;
		@time.ToString( format )
	}
}
</td>
</tr>
<tr>
<td class='left'>Login From</td><td>: @lastip</td>
</tr>
<tr>
<td colspan='2' class='bold'>&nbsp;</td>
</tr>
@if ( !Ux.IsAdmin && !Ux.IsSecurity) {
<tr>
<td colspan='2' class='bold'>Message Summary</td>
</tr>
<tr>
<td colspan='2' class='nmsg'>
@{
	var nmsg = "";
	if ( Ux.IsAgent ) {
		var dp = table.Query("select Application_ID from Msg where Agent_ID='"+WebSecurity.CurrentUserId+"' and parent='1'");
		foreach(var dp1 in dp) {
			var dpx = table.Query("select COUNT(isread) as cnt from Msg where Application_ID='"+dp1.Application_ID+"' and isread='0'");
			foreach(var dpx1 in dpx) {
				if ( dpx1.cnt > 0 ) {
					if ( Ux.IsAdmin ) {
						nmsg += dp1.Application_ID+" - <a href='#btpage' data-page='home-t4/sopt=Application_ID&sstr="+dp1.Application_ID+"' data-tab='4'>"+dpx1.cnt+"</a><br>";
					} else {
						nmsg += dp1.Application_ID+" - <a href='#btpage' data-page='home-t3/sopt=Application_ID&sstr="+dp1.Application_ID+"' data-tab='3'>"+dpx1.cnt+"</a><br>";
					}
				}
			}
		}
	} else {
		//var dp = table.Query("select Application_ID from Msg where UserId='"+WebSecurity.CurrentUserId+"' and parent='1'");
		var dp = table.Query("select Application_ID from Msg where parent='1'");
		foreach(var dp1 in dp) {
			var dpx = table.Query("select COUNT(isuread) as cnt from Msg where Application_ID='"+dp1.Application_ID+"' and isuread='0'");
			foreach(var dpx1 in dpx) {
				if ( dpx1.cnt > 0 ) {
					if ( Ux.IsAdmin ) {
						nmsg += dp1.Application_ID+" - <a href='#btpage' data-page='home-t4/sopt=Application_ID&sstr="+dp1.Application_ID+"' data-tab='4'>"+dpx1.cnt+"</a><br>";
					} else {
						nmsg += dp1.Application_ID+" - <a href='#btpage' data-page='home-t3/sopt=Application_ID&sstr="+dp1.Application_ID+"' data-tab='3'>"+dpx1.cnt+"</a><br>";
					}
				}
			}
		}
	}
	if ( !nmsg.IsEmpty() ) {
		@Html.Raw(nmsg);
	} else {
		@:No new message available
	}
}
</td>
</tr>
<tr>
<td colspan='2' class='bold'>&nbsp;</td>
</tr>
}

@if ( Ux.IsAdmin ) {
<tr>
<td colspan='2' class='bold'>SMS Credit</td>
</tr>
<tr>
<td class='left'>Available</td><td>: @Html.Raw(Ux._smscredit())</td>
</tr>
<tr>
<td colspan='2' class='bold'>&nbsp;</td>
</tr>
}

<tr>
<td colspan='2' class='bold'>Help/Document</td>
</tr>
<tr>
<td colspan='2' class='nmsg'>
@{
	var man = "<ul>";
	if ( File.Exists( Server.MapPath( "~/manual/manual-admin.pdf" ) ) ) {
		if ( Ux.IsAdmin ) {
			man += "<li><a href='" + Href( "~/manual/manual-admin.pdf" ) + "' target=_blank>Manual Admin</a></li>";
		}
	}
	if ( File.Exists( Server.MapPath( "~/manual/manual-kpa.pdf" ) ) ) {
		if ( Ux.IsAdmin || Ux.IsKPA ) {
			man += "<li><a href='" + Href( "~/manual/manual-kpa.pdf" ) + "' target=_blank>Manual KPA</a></li>";
		}
	}
	if ( File.Exists( Server.MapPath( "~/manual/manual-kpc.pdf" ) ) ) {
		if ( Ux.IsAdmin || Ux.IsKPC ) {
			man += "<li><a href='" + Href( "~/manual/manual-kpc.pdf" ) + "' target=_blank>Manual KPC</a></li>";
		}
	}
	if ( File.Exists( Server.MapPath( "~/manual/manual-agent.pdf" ) ) ) {
		man += "<li><a href='" + Href( "~/manual/manual-agent.pdf" ) + "' target=_blank>Manual Agent</a></li>";
	}
	man += "</ul>";

	@Html.Raw(man)
}

</td>
</tr>


</table> <!-- /x-table2 -->

</div> <!-- /x-grid-table-box-left-inner -->

</td> <!-- /x-grid-table-box-left -->

<td class="x-grid-table-box-right">

<div class="ui-widget left" style="margin-top:9px;">
<div class="ui-state-highlight ui-corner-all" style="padding: 0.7em;"> 
<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
<span style='font-weight: solid !important; color: #000000 !important; font-size: 12px !important;'>
Welcome @WebSecurity.CurrentUserName! <b>Current Application Status</b>
</span></p>
</div>
</div>

<div class="left tstatus" style="margin-top:9px;">
<table>
@if ( !Ux.IsAgent || Ux.IsAdmin ) {
	var total_application = table.Query( "SELECT COUNT(*) as cnt FROM Declaration_Form_Master,Users where Declaration_Form_Master.Confirmation ='1' and Declaration_Form_Master.Agent_ID = Users.UserId" );
<tr>
<th class="border-top border-left">Total Application</th>
<td class="border-top border-left border-right slink" data-page='status'>@foreach ( var xn in total_application ) { @xn.cnt }</td>
</tr>
}
<tr>
<th class="border-top border-left">In Process</th>
<td class="border-top border-left border-right slink" style='padding-left:13px;' data-page='status-t1/sortStatus=0'>
@if ( !Ux.IsAgent || Ux.IsAdmin ) {
	var total_inprocess = table.Query( "SELECT count(*) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and ( KPC_Status ='0' and KPA_Status = '0' )" );
	foreach ( var xn in total_inprocess ) { @xn.cnt }
} else {
	var total_inprocess = table.Query( "SELECT count(*) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and ( KPC_Status ='0' and KPA_Status = '0' )" );
	foreach ( var xn in total_inprocess ) { @xn.cnt }
}
</td>
</tr>

<tr>
<th class="border-top border-left">KPC</th>
<td class="border-top border-left border-right">
@if ( !Ux.IsAgent || Ux.IsAdmin ) {
	var kpc_able = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPA_Status='0' and KPC_Status = '1'" );
	var kpc_disable = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPC_Status='2' and KPA_Status !='1'" );
	var kpc_pending = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPC_Status='3'" );
<table style="margin:0px;padding:0px;">
<tr>
<td style="width:10px;text-align:right;padding-left:0px;padding-top:0px;">@foreach ( var xn in kpc_able ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold;" class='slink' data-page='status-t1/sortStatus=1'>able</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpc_disable ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t2/sortFailed=KPC'>disable</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpc_pending ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t3/sortPending=KPC'>pending</td>
</tr>
</table>
} else {
	var kpc_able = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPA_Status='0' and KPC_Status = '1'" );
	var kpc_disable = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPC_Status='2' and KPA_Status !='1'" );
	var kpc_pending = table.Query( "SELECT count(KPC_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPC_Status='3'" );
<table style="margin:0px;padding:0px;">
<tr>
<td style="width:10px;text-align:right;padding-left:0px;padding-top:0px;">@foreach ( var xn in kpc_able ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t1/sortStatus=1'>able</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpc_disable ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t2/sortFailed=KPC'>disable</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpc_pending ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t3/sortPending=KPC'>pending</td>
</tr>
</table>
}
</td>
</tr>

<tr>
<th class="border-top border-left border-bottom">KPA</th>
<td class="border-top border-left border-bottom border-right">
@if ( !Ux.IsAgent || Ux.IsAdmin ) {
	var kpa_able = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPA_Status = '1' and KPC_Status = '1'" );
	var kpa_disable = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPA_Status='2'" );
	var kpa_pending = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master,Users WHERE Declaration_Form_Master.Agent_ID = Users.UserId and Confirmation = '1' and KPA_Status='3'" );
<table style="margin:0px;padding:0px;">
<tr>
<td style="width:10px;text-align:right;padding-left:0px;padding-top:0px;">@foreach ( var xn in kpa_able ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t1/sortStatus=2'>approved</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpa_disable ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t2/sortFailed=KPA'>rejected</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpa_pending ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t3/sortPending=KPC'>pending</td>
</tr>
</table>
} else {
	var kpa_able = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPA_Status = '1' and KPC_Status = '1'" );
	var kpa_disable = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPA_Status='2'" );
	var kpa_pending = table.Query( "SELECT count(KPA_Status) as cnt FROM Declaration_Form_Master WHERE Agent_ID='" + WebSecurity.CurrentUserId + "' and Confirmation = '1' and KPA_Status='3'" );
<table style="margin:0px;padding:0px;">
<tr>
<td style="width:10px;text-align:right;padding-left:0px;padding-top:0px;">@foreach ( var xn in kpa_able ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status'>approved</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpa_disable ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t2'>rejected</td>
</tr>
<tr>
<td style="width:10px;text-align:right;padding-left:0xp;padding-top:0px;">@foreach ( var xn in kpa_pending ) { @xn.cnt }</td><td style="padding-top:0px;font-weight:bold" class='slink' data-page='status-t3'>pending</td>
</tr>
</table>
}
</td>
</tr>

<tr>
<td colspan='2'>&nbsp;</td>
</tr>
<tr>
<th class="border-top border-left"><a href="#btpage" data-page="firstschedule">First Schedule</a></th>
<td class="border-top border-left border-right">Index of Dangerous Substances as prescribed in First Schedule of Kuantan Port Authority By-Laws 1980 incorporating the International Maritime Dangerous Goods Code (Amdt. 30-00).</td>
</tr>

<tr>
<th class="border-top border-left"><a href="#btpage" data-page="status">Status</a></th>
<td class="border-top border-left border-right">Status of applications received.</td>
</tr>

<tr>
<th class="border-top border-left"><a href="#changepassword">Change Password</a></th>
<td class="border-top border-left border-right">Changing your password.</td>
</tr>

<tr>
<th class="border-top border-left border-bottom"><a href="#logout">Logout</a></th>
<td class="border-top border-left border-bottom border-right">Exit from the system.</td>
</tr>

</table>
</div>

</td> <!-- /x-grid-table-box-right -->

</tr>
</table> <!-- /x-grid-table -->

</div> <!-- /x-grid-content -->
