﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new Tblfiles();
	var obj = tbl.FindBy( Id: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Title</th>
<td><input type="text" name="name" class="text" value="@s.name"></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="type" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "cargo", "Cargo Information" );
	bb.Add( "bylaw", "By law" );
	bb.Add( "portcircular", "Port Circular" );
	foreach(var b in bb) {
		if ( s.type == b.Key ) {
			<option value="@b.Key" selected>@b.Value</option>
		} else {
			<option value="@b.Key">@b.Value</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>File</th>
<td><input name="file" type="file" class="text"></td>
</tr>

<tr>
<th>Priority</th>
<td>
<select name="priority" class="text">
@{
	int i;
	var x1 = "";
	for ( i = 1; i <= 10; i++ ) {
		x1 = i.ToString();
		if ( i < 10 ) {
			x1 = "0" + i.ToString();
		}
		<option value="@i"@( i == s.priority ? " selected" : "")>@x1</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>
<input type="hidden" name="path" value="doc">
</form>
</div> <!-- /dialog_max_height -->