﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new Tblfiles();
	var obj = tbl.FindBy( Id: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table th,
#x-table td {
	vertical-align: top !important;
	padding-top: 5px !important;
}
</style>
<div class="dialog_max_height">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Title</th>
<td>@Ux.empty_text(s.name)</td>
</tr>

<tr>
<th>Category</th>
<td>
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "cargo", "Cargo Information" );
	bb.Add( "bylaw", "By law" );
	bb.Add( "portcircular", "Port Circular" );
	foreach(var b in bb) {
		if ( s.type == b.Key ) {
			@b.Value
		}
	}
}
</td>
</tr>

<tr>
<th>File</th>
<td>@Ux.empty_text(s.filename)</td>
</tr>

<tr>
<th>Size</th>
<td>@Math.Round(Ux.ConvertBytesToKilobytes(s.filesize))KB</td>
</tr>

<tr>
<th>Priority</th>
<td>@Ux.empty_text(s.priority.ToString())</td>
</tr>

</table>
</fieldset>

</div> <!-- /dialog_max_height -->