﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new Tblfiles();
	var msg = "";

	string extension_allow = ".doc,.pdf,.docx,.xls,.xlsx,.txt,.png,.jpg,.gif";

	// save
	if ( _post == "save" ) {
		if ( _d["name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Document title!" ); return;
		}

		var cn = tbl.FindBy( name: _d["name"] );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Document title already exists!" ); return;
		}

		if ( Request.Files.Count < 1 ) {
			@Ux.json_return( false, "Please select file to upload!" ); return;
		}

		var fileupload = Request.Files[0];
		var filename = Path.GetFileName( fileupload.FileName );

		if ( filename.IsEmpty() ) {
			@Ux.json_return( false, "Please select file to upload!" ); return;
		}
		filename = filename.ToLower();
		var ext = Path.GetExtension( filename );
		if ( ext.IsEmpty() ) {
			@Ux.json_return( false, "File not allowed!" ); return;
		}
		var fok = false;
		foreach(var ex in extension_allow.Split(',')) {
			if ( ex == ext ) {
				fok = true;
			}
		}
		if ( !fok ) {
			@Ux.json_return( false, filename + " has invalid extension. Only " + extension_allow + " are allowed!" ); return;
		}

		var cn1 = tbl.FindBy( filename: filename );
		foreach ( var xx1 in cn1 ) {
			@Ux.json_return( false, "File already exists!" ); return;
		}

		int filesize = fileupload.ContentLength;
		if ( filesize > ( ( 1024 * 5000 ) ) ) {
			@Ux.json_return( false, "File size too large, maximum file size is 5MB" ); return;
		}

		var fnow = Server.MapPath( "~/rw/doc/" + filename );
		if ( File.Exists( fnow ) ) {
			File.Delete( fnow );
		}

		msg = "";

		try {
			fileupload.SaveAs( fnow );
		}
		catch ( Exception e ) {
			msg = "Uploading file failed!<br>" + e.Message.ToString();
		}

		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, msg ); return;
		}

		obj.Add( "filename", filename );
		obj.Add( "filesize", filesize );
		obj.Add( "timestamp", DateTime.Now );

		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			if ( File.Exists( fnow ) ) {
				File.Delete( fnow );
			}
			Ux.audittrail( false, "document_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "document_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Document title!" ); return;
		}

		var cn = tbl.Query( string.Format( "select name from Files where name='{0}' and Id!='{1}'", _d["name"], _d["id"] ) );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Document title already exists!" ); return;
		}

		if ( Request.Files.Count > 0 ) {
			var fileupload = Request.Files[0];
			var filename = Path.GetFileName( fileupload.FileName );

			if ( filename.IsEmpty() ) {
				@Ux.json_return( false, "Please select file to upload!" ); return;
			}

			filename = filename.ToLower();

			var ext = Path.GetExtension( filename );
			if ( ext.IsEmpty() ) {
				@Ux.json_return( false, "File not allowed!" ); return;
			}
			var fok = false;
			foreach ( var ex in extension_allow.Split( ',' ) ) {
				if ( ex == ext ) {
					fok = true;
				}
			}
			if ( !fok ) {
				@Ux.json_return( false, filename + " has invalid extension. Only " + extension_allow + " are allowed!" ); return;
			}

			var cn1 = tbl.FindBy( filename: filename );
			foreach ( var xx1 in cn1 ) {
				@Ux.json_return( false, "File already exists!" ); return;
			}

			var filesize = fileupload.ContentLength;
			if ( filesize > ( ( 1024 * 5000 ) ) ) {
				@Ux.json_return( false, "File size too large, maximum file size is 5MB" ); return;
			}

			var fnow = Server.MapPath( "~/rw/doc/" + filename );
			if ( File.Exists( fnow ) ) {
				File.Delete( fnow );
			}

			try {
				fileupload.SaveAs( fnow );
			}
			catch ( Exception e ) {
				msg = "Uploading file failed!<br>" + e.Message.ToString();
			}

			if ( !msg.IsEmpty() ) {
				@Ux.json_return( false, msg ); return;
			}

			var oldfilename = tbl.First( Id: _d["id"], Columns: "filename" ).filename;
			var ff = Server.MapPath( "~/rw/doc/" + oldfilename );
			if ( File.Exists( ff ) ) {
				File.Delete( ff );
			}
			obj.Add( "filename", filename );
		}


		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );
		( (IDictionary<String, Object>)data ).Remove( "file" );

		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "document_update", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "document_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				var filename = tbl.First( Id: _did, Columns: "filename" ).filename;
				var ff = Server.MapPath( "~/rw/doc/" + filename );
				if ( File.Exists( ff ) ) {
					File.Delete( ff );
				}
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "document_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;

		} else {
			var filename = tbl.First( Id: _d["id"], Columns: "filename" ).filename;
			var ff = Server.MapPath( "~/rw/doc/" + filename );
			if ( File.Exists( ff ) ) {
				File.Delete( ff );
			}
			tbl.Delete( _d["id"] );
			Ux.audittrail( true, "document_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;
		}
		Ux.audittrail( false, "document_delete", "Invalid Request" );
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}