﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]" enctype="multipart/form-data" method="post">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Title</th>
<td><input type="text" name="name" class="text" value=""></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="type" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "cargo", "Cargo Information" );
	bb.Add( "bylaw", "By law" );
	bb.Add( "portcircular", "Port Circular" );
	foreach(var b in bb) {
		<option value="@b.Key">@b.Value</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>File</th>
<td><input name="file" type="file" class="text"></td>
</tr>

<tr>
<th>Priority</th>
<td>
<select name="priority" class="text">
@{
	int i;
	var x = "";
	for ( i = 1; i <= 10; i++ ) {
		x = i.ToString();
		if ( i < 10 ) {
			x = "0" + i.ToString();
		}
		<option value="@i"@( i == 10 ? " selected" : "")>@x</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>
<input type="hidden" name="path" value="doc">
</form>
</div> <!-- /dialog_max_height -->