﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblDG();
	var obj = tbl.FindBy( DGID: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Proper Shipping Name</th>
<td><input type="text" name="Proper_Shipping_Name" class="text" value="@s.Proper_Shipping_Name"></td>
</tr>

<tr>
<th>IMO Class</th>
<td><input type="text" name="IMO_Class" class="text" value="@s.IMO_Class"></td>
</tr>

<tr>
<th>UN Number</th>
<td><input type="text" name="UN_Number" class="text" value="@s.UN_Number"></td>
</tr>

<tr>
<th>KPA Group</th>
<td>
<select name="KPA_Group" class="text">
@{
	for(int x = 1; x <= 3; x++) {
		<option value="@x"@( s.KPA_Group == x.ToString() ? " selected" : "")>@x</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Properties</th>
<td><textarea name="DGProperties">@s.DGProperties</textarea></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->