﻿@if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "firstschedule" ) {
		return;
}
<div class="barmid border-corner6px-all">
<div class="barmid-fschedule-result" id="firstschedule">
<div class="column" style="width:400px;margin-right:10px;">
<h1>DANGEROUS GOODS</h1>
<h3>If you know the first letter of the substance, click any character to display the list of Proper Shipping Name:</h3>
<p style="margin-top:5px;">
@{
	var _strout = "";
	int i = 1;
	for ( i = 1; i <= 10; i++ ) {
		_strout += "<a href=\"#sp\" class=\"border-corner3px-all\">" + i + "</a>";
	}
	var aa = new[] { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" };
	foreach ( var a in aa ) {
		_strout += "<a href=\"#sp\" class=\"border-corner3px-all\">" + a.ToUpper() + "</a>";
	}
	@Html.Raw( _strout )
}
</p>
</div>
<div class="column-last" style="width:400px;">
<h3 style="margin-top:10px;">Enter any keyword to search for</h3>
<p style="margin-top:5px;">
<select name="sopt" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Proper_Shipping_Name", "Proper Shipping Name/Correct Technical Name" );
	bb.Add( "UN_Number", "UN Number" );
	bb.Add( "IMO_Class", "IMO Class" );
	bb.Add( "KPA_Group", "KPA Group" );
	bb.Add( "DGProperties", "Properties" );
	foreach ( var a in bb ) {
		<option value="@a.Key"@( Request["sopt"] == a.Key ? "selected" : "")>@a.Value</option>
	}
}
</select>
<input type="text" class="text" name="sstr" placeholder="Keywords" value="@Request["sstr"]">
<br><button class="button" name="btsearch" style="margin-right: 5px;">Search</button><button class="button" name="btreset">Reset</button>
@if ( Ux.IsKPA ) {
<button class='button' name='btadd'>Add New Data</button>
}
</p>
</div>

</div> <!-- /barmid-fschedule -->

<div class="barmid-fschedule-grid">
@{
	dynamic tbl = new TblDG();
	var query = "select DGID,Proper_Shipping_Name,IMO_Class,UN_Number,KPA_Group,DGProperties from Dangerous_Goods";
	if ( !Request["fstr"].IsEmpty() ) {
		query += string.Format( " where Proper_Shipping_Name like '{0}%'", Ux.escape_query( Request["fstr"] ) );
	} else {
		if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
			query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		}
	}
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}

	num = ( num == 0 ? 1 : num + 1 );
	var num2 = num;
}

@if ( grid.PageCount == 0 ) {
	<span>No data avilable</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );
	
	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "DGID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text>@( num++)</text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: true ),
				grid.Column(
					columnName: "IMO_Class",
					header: "IMO Class",
					format: @<text><span>@Ux.imolabel(item.IMO_Class)</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "UN_Number",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_Number )</text>,
					canSort: true ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: true ),
				grid.Column(
					columnName: "DGProperties",
					header: "Properties",
					format: @<text>@Ux.empty_text( item.DGProperties )</text>,
					canSort: true )
			)
		);

	var xgrid2 = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "DGID",
					header: "Action",
					canSort: false,
					style: "grid-act",
					format: @<text><input type='checkbox' name='del[@item.DGID]' value='1'><img data-del='@item.DGID' class='act' src='@Ux.href( "ui/rsc/delete.png" )' data-tooltip='Delete'><img data-edit='@item.DGID' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "NUM",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@( num2++)</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@Ux.empty_text( item.Proper_Shipping_Name )</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "IMO_Class",
					header: "IMO Class",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@Ux.imolabel(item.IMO_Class)</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "UN_Number",
					header: "UN Number",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@Ux.empty_text( item.UN_Number )</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@Ux.empty_text( item.KPA_Group )</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "DGProperties",
					header: "Properties",
					format: @<text><span class='grid-info' data-id='@item.DGID'>@Ux.empty_text( item.DGProperties )</span></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";
	
	var tract = "<div class='grid-act-footer'>";
	tract += "<input type='checkbox' name='chkdel' data-click='msel'>";
	tract += "<img data-click='mdel' class='act' src='" + Ux.href( "ui/rsc/delete.png" ) + "' data-tooltip='Delete'>";
	tract += "</div>";
	
	@Html.Raw( ppager )
	if ( !Ux.IsKPA ) {
		@xgrid
	} else {
		@xgrid2
		@Html.Raw( tract )
	}
	@Html.Raw( ppager )
}
</div> <!-- /barmid-fschedule-grid -->
</div> <!-- /barmid -->

<script type="text/javascript">
	$(document).ready(function () {
		var _fstr = "@{ @Request["fstr"]; }";
		var _sstr = "@{ @Request["sstr"]; }";
		var _sopt = "@{ @Request["sopt"]; }";
		_webgrid_link_hash("firstschedule","grid", _fstr, _sstr, _sopt, null, null, null, "tsec","firstschedule");

		$(".grid-header th:contains('#')").css("text-align","right");
		
		$(".grid-header th:contains('IMO Class')").css({"width":"100px","text-align":"left","vertical-align":"middle"});
		$(".grid-header th:contains('UN Number')").css({"width":"100px"});
		$(".grid-header th:contains('KPA Group')").css({"width":"100px"});
		
		$("div#firstschedule button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/firstschedule");
		});

		$("div#firstschedule a[href=#sp]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var val = $.trim($(this).text());
			$.hash.go("!p/firstschedule/fstr=" + urlencode(val)+"&tsec=firstschedule&__t="+time());
		});
		$("div#firstschedule button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div#firstschedule select[name=sopt]").attr("value");
			var _sstr = $.trim($("div#firstschedule input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div#firstschedule input[name=sstr]").focus();
				return;
			}
			$.hash.go("!p/firstschedule/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr)+"&tsec=firstschedule&__t="+time());
		});
	});
</script>

