﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblDG();
	var msg = "";

	// save
	if ( _post == "save" ) {
		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Proper Shipping Name!" ); return;
		}

		var cn = tbl.FindBy( Proper_Shipping_Name: _d["Proper_Shipping_Name"] );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Proper Shipping Name already exists!" ); return;
		}

		if ( _d["IMO_Class"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert IMO Class!" ); return;
		}

		if ( _d["UN_Number"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert UN Number!" ); return;
		}

		if ( !Ux.check_num( _d["UN_Number"] ) ) {
			@Ux.json_return( false, "Invalid UN Number!" ); return;
		}

		if ( _d["KPA_Group"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert KPA Group!" ); return;
		}

		if ( !Ux.check_num( _d["KPA_Group"] ) ) {
			@Ux.json_return( false, "Invalid KPA Group!" ); return;
		}

		msg = "";
		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "firstschedule_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "firstschedule_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Proper Shipping Name!" ); return;
		}

		var cn = tbl.Query( string.Format( "select Proper_Shipping_Name from Dangerous_Goods where Proper_Shipping_Name='{0}' and DGID!='{1}'", _d["Proper_Shipping_Name"], _d["id"] ) );
		foreach ( var xx in cn ) {
			@Ux.json_return( false, "Proper Shipping Name already exists!" ); return;
		}

		if ( _d["IMO_Class"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert IMO Class!" ); return;
		}

		if ( _d["UN_Number"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert UN Number!" ); return;
		}

		if ( !Ux.check_num( _d["UN_Number"] ) ) {
			@Ux.json_return( false, "Invalid UN Number!" ); return;
		}

		if ( _d["KPA_Group"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert KPA Group!" ); return;
		}

		if ( !Ux.check_num( _d["KPA_Group"] ) ) {
			@Ux.json_return( false, "Invalid KPA Group!" ); return;
		}

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );

		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "firstschedule_update", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "firstschedule_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "firstschedule_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;
		} else {
			tbl.Delete( _d["id"] );
			Ux.audittrail( true, "firstschedule_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;
		}
		Ux.audittrail( true, "firstschedule_delete", "Invalid Request" );
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}