﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Proper Shipping Name</th>
<td><input type="text" name="Proper_Shipping_Name" class="text" value=""></td>
</tr>

<tr>
<th>IMO Class</th>
<td><input type="text" name="IMO_Class" class="text" value=""></td>
</tr>

<tr>
<th>UN Number</th>
<td><input type="text" name="UN_Number" class="text" value=""></td>
</tr>

<tr>
<th>KPA Group</th>
<td>
<select name="KPA_Group" class="text">
@{
	for(int x = 1; x <= 3; x++) {
		<option value="@x">@x</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Properties</th>
<td><textarea name="DGProperties"></textarea></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->