</center>

<div class="push"></div>
</div> <!-- /container -->
<div class="footer">
<center>
<div class="footer-inner">
<center>
Copyright &copy; 2012 Lembaga Pelabuhan Kuantan (LPKtn). Best viewed with IE 9.0, Mozilla Firefox 3.0, Google Chrome 9.0 and above with resolution 1024 x 768.
</center>
</div> <!-- /inner -->
</center>
</div> <!-- /footer -->
</body>
</html>