﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="">
<meta name="description" content=""> 
<meta name="robots" content="noindex,nofollow,noodp,noydir">
<title>@Ux.apptitle</title>
<link rel="shortcut icon" type="image/x-icon" href="@Ux.href("favicon.ico")">
<script type="text/javascript">
	var _baseurl = "@Ux.basehost()", _locationurl = "@Ux.urlhost()", _index = _baseurl + "/index.cshtml";
</script>
@{
	var css = SquishIt.Framework.Bundle.Css();
	var csfile = Server.MapPath( "~/ui/source-css.txt" );
	if (File.Exists(csfile)) {
		Array uicss = File.ReadAllLines( csfile );
		if ( uicss != null ) {
			foreach(string cl in uicss) {
				css.Add("~/ui/"+ cl);
			}
			
		}
	}
	css.ForceRelease();
	@Ux.tohref(css.Render("~/rw/min/ui#.css"));

	var js = SquishIt.Framework.Bundle.JavaScript();
	var jsfile = Server.MapPath( "~/ui/source-js.txt" );
	if (File.Exists(jsfile)) {
		Array uilist = File.ReadAllLines( jsfile );
		if ( uilist != null ) {
			foreach(string jl in uilist) {
				js.Add("~/ui/"+ jl);

			}
		}
	}
	js.ForceRelease();
	@Ux.tohref(js.Render("~/rw/min/ui#.js"));
}
<script type="text/javascript">
var _cname = 'cookietab';
@if ( Ux.IsLogin ) {
	@:if ( $.readCookie(_cname) == null ) {
	@:$.setCookie(_cname, 1, { duration: 1 });
	@:var _tabindex = 1;
	@:}
} else {
	@:$.delCookie("cookietab");
}
$(document).ready(function() {
	_runclock("div.bartop-clock");
});
</script>
</head>
<body scroll="auto">
<div id="ajax-loader"></div>
<div id="ajax-msg"></div>
<div id="dialog"></div>
<div class="container">
<center>