@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	var idx = Ux.ckey();
}
<div class="barmid border-corner6px-all">
<div id="sec">
<ul>
<li class="hide"><a href="#sec0">nothing</a></li>
<li><a href="#sec1" data-code="dashboard"><span class="ui-icon ui-icon-image"></span>Dashboard</a></li>
<li><a href="#sec2" data-code="onlineuser"><span class="ui-icon ui-icon-person"></span>Users Online</a></li>
@if ( Ux.IsAdmin ) {
<li><a href="#sec3" data-code="audittrail"><span class="ui-icon ui-icon-transferthick-e-w"></span>Audit Trail</a></li>
}
@if ( !Ux.IsAdmin && !Ux.IsSecurity) {
<li><a href="#sec4" data-code="msg"><span class="ui-icon ui-icon-comment"></span>Message</a></li>
}
@if ( Ux.IsAdmin ) {
<li><a href="#sec5" data-code="smslog"><span class="ui-icon ui-icon-transferthick-e-w"></span>SMS Log</a></li>
}
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec1"><div class="x-list" id="@{ @idx }1"></div> </div> <!-- /sec1 -->
<div id="sec2"><div class="x-list" id="@{ @idx }2"></div> </div> <!-- /sec2 -->
<div id="sec3"><div class="x-list" id="@{ @idx }3"></div> </div> <!-- /sec3 -->
<div id="sec4"><div class="x-list" id="@{ @idx }4"></div> </div> <!-- /sec4 -->
<div id="sec5"><div class="x-list" id="@{ @idx }5"></div> </div> <!-- /sec5 -->
</div> <!-- /sec -->

<div class="hide" id="@{ @idx }2-info"></div>
<div class="hide" id="@{ @idx }3-info"></div>
<div class="hide" id="@{ @idx }4-chat"></div>
<div class="hide" id="@{ @idx }5-info"></div>

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	@Ux.js("ui/rsc/_tab.js", false);
	if ( _tabindex > 4 ) {
		_tabselect(1);
	}
	$('#sec').bind('tabsselect', function(e, ui) {
		e = e || window.event;
		var _uh = window.location.hash || null;
		if ( _uh !== null ) {
			var _m = _uh.match(/!p\/home\-t(\d+)/);
			if ( _m && _m[1] ) {
				if ( ui.index != _m[1] ) {
					window.location.hash = "!/p/home";
					@{
						if ( Request["_tab"].IsEmpty() ) {
							@:_tabselect(ui.index);
						}
					}
				}
			}
		}
	});
	@{
		if ( !Request["_tab"].IsEmpty() ) {
			@:_tabselect(@Request["_tab"]);
		}
	}
	@Ux.js("ui/rsc/_onlineuser.js", false);
	@Ux.js("ui/rsc/_audittrail.js", false);
	@Ux.js("ui/rsc/_msg.js", false);
	@Ux.js("ui/rsc/_smslog.js", false);
});
</script>

</div>