<div class="barmid border-corner6px-all">
<div class="x-list" style="width:950px;padding-top:20px;">
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select Id,type,name,filename,path,filesize from Files";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
	}
	
	if ( !Request["type"].IsEmpty() ) {
		if ( !dosearch ) {
			dosearch = true;
			query += string.Format( " where type = '{0}'", Ux.escape_query( Request["type"] ) );
		} else {
			query += string.Format( " and type = '{0}'", Ux.escape_query( Request["type"] ) );
		}
	}
	query += string.Format( " order by Id" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		grid.PageIndex = Request["pg"].AsInt() - 1;
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}

	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "name", "Name" );
	bb.Add( "filename", "File" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";
	sact += "<select name='type' class='text'>";
		Dictionary<string, string> bb1 = new Dictionary<string, string>();
		bb1.Add( "", "All" );
		bb1.Add( "cargo", "Cargo Information" );
		bb1.Add( "bylaw", "By law" );
		bb1.Add( "portcircular", "Port Circular" );
		foreach(var b in bb1) {
			sact += "<option value='" + b.Key + "'";
			sact += ( Request["type"] == b.Key ? "selected" : "" );
			sact += ">" + b.Value + "</option>";
		}
	sact += "</select>";
	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-dl='@item.path/@item.filename' data-tooltip='Download'>@( num++)</div></text> ),
				grid.Column(
					columnName: "name",
					header: "Title",
					format: @<text><div class='grid-pinfo' data-dl='@item.path/@item.filename' data-tooltip='Download'>@Ux.empty_text(item.name)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "filename",
					header: "File",
					format: @<text><div class='grid-cursor' data-dl='@item.path/@item.filename' data-tooltip='Download'>@Ux.empty_text(item.filename)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "filesize",
					header: "Size",
					format: @<text><div class='grid-pinfo' data-dl='@item.path/@item.filename' data-tooltip='Download'>@Math.Round(Ux.ConvertBytesToKilobytes(item.filesize))KB</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "type",
					header: "Category",
					format: @<text><div class='grid-pinfo' data-dl='@item.path/@item.filename' data-tooltip='Download'>@Ux.empty_text(item.type)</div></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		var _type = "@Request["type"]";
		_webgrid_link_hash("listdoc","grid", null, _sstr, _sopt, _type);

		$(".grid-header th:contains('#')").css("text-align","right");
		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			self.location.href = _baseurl+"/#!p/listdoc";
		});
		
		function _dosearch(bypass) {
			var bypass = bypass || false;
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			var _type = $("div.grid-search select[name=type]").attr("value");
			if ( !bypass && _sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/listdoc/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr) + "&type=" + urlencode(_type) );
		};
		
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_dosearch();
		});
		
		$("div.grid-search select[name=type]").change(function() {
			_dosearch(true);
		});
		
		$("div[data-dl]").click(function(e) {
			e = e || window.event;
			e.preventDefault();
			var _dl = $(this).attr("data-dl");
			var _url = _baseurl+"/?_req=download&_f="+_dl;
			_popupnewin(_url,"new");
		});
	});
</script>

</div>
</div>