﻿<div class="barmid border-corner6px-all">
<div class="barmid-left">
</div> <!-- /barmid-left -->
<div class="barmid-fschedule" id="firstschedule">
<h1>DANGEROUS GOODS</h1>
<h3>If you know the first letter of the substance, click any character to display the list of Proper Shipping Name:</h3>
<p style="margin-top:5px;">
@{
	var _strout = "";
	int i = 1;
	for(i = 1; i <= 10; i++) {
		_strout +="<a href=\"#sp\" class=\"border-corner3px-all\">"+i+"</a>";
	}
	var aa = new[] { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"};
	foreach( var a in aa) {
		_strout += "<a href=\"#sp\" class=\"border-corner3px-all\">"+a.ToUpper()+"</a>";
	}
	@Html.Raw(_strout)
}
</p>
<h3 style="margin-top:10px;">Enter any keyword to search for</h3>
<p style="margin-top:5px;">
<select name="sopt" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Proper_Shipping_Name", "Proper Shipping Name/Correct Technical Name" );
	bb.Add( "UN_Number", "UN Number" );
	bb.Add( "IMO_Class", "IMO Class" );
	bb.Add( "KPA_Group", "KPA Group" );
	bb.Add( "DGProperties", "Properties" );
	foreach (var a in bb) {
		<option value="@a.Key">@a.Value</option>
	}
}
</select>
<input type="text" class="text" name="sstr" placeholder="Keywords"><br><button class="button" name="btsearch">Search</button>
</p>
</div> <!-- /barmid-fschedule -->
<div class="barmid-login">
<form id="login-form" onsubmit="return false;">
<h1>LOGIN</h1>
<input type="text" class="text" name="uname" placeholder="Username"><br>
<input type="password" class="text" name="upass" placeholder="Password"><br>
<input type="checkbox" name="urem" value="1"> Keep me logged in<br>
<button class="button" name="btlogin" style="margin-top:5px;">Login</button>
</form>
<h2 class="title"><img src="@Ux.href("ui/rsc/info.png")" class="info">By Law</h2>
@{
	int num = 0;
	dynamic tblbl = new Tblfiles();
	var tbla = tblbl.FindBy(type:"bylaw");
	_strout = "";
	foreach(var tbli in tbla) {
		var file = Ux.basehost() + "/?_req=download&_f=" + tbli.path + "/" + tbli.filename;
		_strout +="<a href='"+file+"' target=_blank>"+tbli.name+"</a>";
		num++;
		if ( num > 1 ) {
			break;
		}
	}
	if ( num > 1 ) {
		_strout += "<a href='#btpage' data-page='listdoc/type=bylaw' style='float:right;color:red;' class='vmore'>View more..</a>";
	}
	@Html.Raw(_strout)
}
</div> <!-- /barmid-login -->
</div> <!-- /barmid -->

@{
	dynamic tblct = new Db();
	var query1 = "select Id,title from Content where headline='yes' order by priority,timestamp DESC";
	var dc1 = tblct.Query( query1 );
	_strout = "";
	foreach(var dcc1 in dc1) {
		_strout += "<li><a href='#btpage' data-page='viewcont/type=news&id="+dcc1.Id+"'>" + Server.UrlDecode(dcc1.title) + "</a></li>";	
	}
	if ( !_strout.IsEmpty() ) {
		@:<div class="barheadline border-corner6px-all"><ul id="ticker">
		@Html.Raw(_strout)
		@:</ul></div> <!-- /barheadline -->
	}
}

<div class="barbottom">
<div class="barbottom-box1 border-corner6px-all">
<div class="barbottom-inner">
<h2 class="title cursor" data-page='listdoc/type=cargo'><img src="@Ux.href("ui/rsc/info.png")" class="info">CARGO INFORMATION</h2>
@{
	dynamic table = new Tblfiles();
	_strout = "";
	var sfiles = table.Query("select TOP 15 name,filename,path from Files where type='cargo' order by priority,timestamp DESC");
	_strout = "<ul>";
	foreach(var ff in sfiles) {
		var file = Ux.basehost()+"/?_req=download&_f="+ff.path+"/"+ff.filename;
		_strout += "<li><a href='" + file + "' target=_blank>" + ff.name + "</a></li>\n";
	}
	_strout += "</ul>";
	@Html.Raw(_strout)
}
</div> <!-- /barbottom-inner -->
</div>
<div class="barbottom-box2 border-corner6px-all" style="width:150px;">
<div class="barbottom-inner" style="width:134px;">
<h2 class="title cursor" data-page='listdoc/type=portcircular'><img src="@Ux.href("ui/rsc/info.png")" class="info">PORT CIRCULAR</h2>
@{
	_strout = "";
	var sfiles1 = table.Query("select TOP 15 name,filename,path from Files where type='portcircular' order by priority,timestamp DESC");
	_strout = "<ul>";
	foreach(var ff1 in sfiles1) {
		var file = Ux.basehost()+"/?_req=download&_f="+ff1.path+"/"+ff1.filename;
		_strout += "<li><a href='" + file + "' target=_blank>" + ff1.name + "</a></li>\n";
	}
	_strout += "</ul>";
	@Html.Raw(_strout)
}
</div> <!-- /barbottom-inner -->
</div>
<div class="barbottom-box3 border-corner6px-all" style="width:279px;">
<div class="barbottom-inner" style="width:263px;">
<h2 class="title cursor" data-page='listcont/type=news'><img src="@Ux.href("ui/rsc/info.png")" class="info">NEWS AND EVENT</h2>
@{
	string dformat = "dd-MM-yyyy hh:mm tt";
	_strout = "";
	var query = "select TOP 15 Id,title,timestamp from Content where type='news' order by priority,timestamp DESC";
	var dc = tblct.Query( query );
	_strout = "<ul>";
	foreach(var dcc in dc) {
		DateTime ntime = dcc.timestamp;
		_strout += "<li style='padding-bottom:5px;'><span style='font-style:italic;'>" + ntime.ToString( dformat ) + "</span><br><a href='#btpage' data-page='viewcont/type=news&id=" + dcc.Id + "'>" + Server.UrlDecode( Ux._strcut(dcc.title,38)) + "</a></li>";
	}
	_strout += "</ul>";
	@Html.Raw(_strout)
}
</div> <!-- /barbottom-inner -->
</div>
<div class="barbottom-box4 border-corner6px-all" style="width:279px;">
<div class="barbottom-inner" style="width:263px;">
<h2 class="title cursor" data-page='listcont/type=helpdesk'><img src="@Ux.href("ui/rsc/info.png")" class="info">HELPDESK</h2>
@{
	_strout = "";
	dynamic tblch = new Db();
	query = "select TOP 15 Id,title,timestamp from Content where type='helpdesk' order by timestamp DESC";
	var dh = tblch.Query( query );
	_strout = "<ul>";
	foreach(var dch in dh) {
		DateTime ntime = dch.timestamp;
		_strout += "<li style='padding-bottom:5px;'><span style='font-style:italic;'>"+ntime.ToString(dformat)+"</span><br><a href='#btpage' data-page='viewcont/type=helpdesk&id="+dch.Id+"'>" + Server.UrlDecode(dch.title) + "</a></li>";
	}
	_strout += "</ul>";
	@Html.Raw(_strout)
}
</div> <!-- /barbottom-inner -->
</div>
</div> <!-- /barbottom -->
<script type="text/javascript">
	$(document).ready(function () {
	
		$("h2[data-page]").live("click", function(e) {
			e = e || window.event;
			e.preventDefault();
			var page = $(this).attr("data-page") || null;
			if ( page !== null ) {
				$.setCookie(_cname, 1, { duration: 1 });
				$.hash.go("!p/"+page);
			}
		});
		
		$("div#firstschedule a[href=#sp]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var val = $.trim($(this).text());
			$.hash.go("!p/firstschedule/fstr=" + urldecode(val)+"&tsec=firstschedule&__t="+time());
		});
		$("div#firstschedule button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div#firstschedule select[name=sopt]").attr("value");
			var _sstr = $.trim($("div#firstschedule input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div#firstschedule input[name=sstr]").focus();
				return;
			}
			$.hash.go("!p/firstschedule/sopt=" + urldecode(_sopt) + "&sstr=" + urldecode(_sstr)+"&tsec=firstschedule&__t="+time());
		});
		function _newsticker() {
			$.ajaxSetup({
				global: false,
				async: true,
				cache: true,
				beforeSend: function() {
					_ajaxloader(false);
				},
				success: function() {
					_ajaxloader(false);
				},
				complete: function() {
					_ajaxloader(false);
				},
				error: function() {}
			});
			$.getScript("@Ux.basehost()/ui/jquery.li-scroller.1.0.js", function(data, textStatus, jqxhr) {
						$('div.barheadline ul#ticker').show().liScroll();
			});
		};
		_newsticker();
	});
</script>
<!-- /end -->
