﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}

}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select Id,Master_ID,Application_ID,Status,UserId,Text,Msg_date,isread from Msg where parent='1'";
	if ( Ux.IsAgent ) {
		query += " and Agent_ID='"+WebSecurity.CurrentUserId+"'";
	}/* else {
		query += " and UserId='"+WebSecurity.CurrentUserId+"'";
	}*/
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		if ( Request["sopt"] == "Application_ID" ) {
			query += string.Format( " and CAST(CAST({0} as int) as nvarchar) like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		} else {
			query += string.Format( " and {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		}
	}
	query += string.Format( " order by Msg_date DESC" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}
	
	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Application_ID", "Application Id" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";

	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "Id",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@( num++)</div></text> ),
				grid.Column(
					columnName: "Msg_date",
					header: "Date/Time",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux._datetime(item.Msg_date)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Application_ID",
					header: "Application Id",
					format: @<text><div class='grid-pinfo' data-id='@item.Id' data-isread='@Ux._msgisread( item.Application_ID.ToString())'>@item.Application_ID</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Status",
					header: "Status",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@( item.Status == 2 ? "Failed" : "Pending")</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Status",
					header: "New Message",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux._msgisread( item.Application_ID.ToString())</div></text>,
					canSort: false ),
				grid.Column(
					columnName: "Sender",
					header: "Issue by",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux._msgsender(item.UserId)</div></text>,
					canSort: false )
				
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( ppager )
}
@if ( grid.PageCount != 0 ) {
<fieldset style='width:400px;'><legend style='padding:0px 2px 0px 2px;font-family: arial;font-size: 12px;font-weight:normal;'>Legend</legend>
<table>
<tr><td style='width:60px;padding:6px;background:#ffffff;' class='center border-top border-left border-right'>White</td><td style='padding-left:5px;'>Application contain new message</td></tr>
<tr><td style='width:60px;padding:6px;background:#CCCCCC;' class='center border-top border-left border-right'>Grey</td><td style='padding-left:5px;'>Application message mark as read</td></tr>
</table>
</fieldset>
}
<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		@if ( Ux.IsAdmin ) {
			@:var _home = "home-t4";
		} else {
			@:var _home = "home-t3";
		}
		_webgrid_link_hash(_home,"grid", null, _sstr, _sopt);

		$(".grid-header th:contains('#')").css("text-align","right");
		$(".grid-header th:contains('Date/Time')").css({"width":"150px"});
		$(".grid-header th:contains('Application Id')").css({"width":"100px"});
		$(".grid-header th:contains('Status')").css({"width":"50px"});

		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/"+_home);
		});
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/"+_home+"/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr));
		});
		
		$("div[data-isread]").each(function() {
			var _dt = $(this).attr("data-isread");
			var _cl = "#CCCCCC";
			if ( _dt > 0 ) {
				_cl = "#FFFFFF";
			}
			
			$(this).parent().parent().css("background", _cl).hover(
				function() {
					/*$(this).css("background","#C7FC8D");*/
					if ( _cl == "#FFFFFF" ) {
						$(this).css("background","#eeeeee");
					}
					$(this).css("cursor","pointer");
				},
				function() {
					$(this).css({"background":_cl,"cursor":"default"});
				}
			);
		});
	
	});
</script>
<!-- /eol -->