﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}

	Ux._setmsgread(Request["id"].AsInt());
}
<style type="text/css">
#x-table th,
#x-table td {
	vertical-align: top !important;
	padding-top: 5px !important;
}
div.msglist {
	clear:both;
	width: 100%;
}

</style>
<div class="dialog_max_height">
<div class="msglist">
</div>
</div> <!-- /dialog_max_height -->