﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}

	dynamic tbl = new TblMsg();
	var obj = tbl.FindBy( Id: Request["id"].AsInt() );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
.mgrid td {
	vertical-align: top;
	color: #000000;
	padding: 2px 10px 2px 10px;
	border-bottom: 1px solid #dddddd;
}
.mgrid div.mleft {
	text-align: right;
}
.mgrid span.msg_sender {
	font-weight: bold;
}
.mgrid span.msg_datetime {
	font-style: italic;
	font-size: 11px;
}
</style>

@{
	var query = "select Id,Master_ID,Application_ID,Status,UserId,Text,Msg_date,isread from Msg where Application_ID='"+s.Application_ID+"'";
	query += " order by Application_ID";
	var data = tbl.Query( query );
	var grid = new WebGrid( data, canSort:false, canPage:false );
	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "mgrid",
			alternatingRowStyle: "grid-alternate",
			displayHeader: false,
			columns: grid.Columns(
				grid.Column(
					columnName: "Msg_date",
					format: @<text><div class='mleft'><span class='msg_sender'>@Ux._msgsender(item.UserId)</span><br><span class='msg_datetime'>@Ux._datetime(item.Msg_date)</span></div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Text",
					format: @<text><div class='mright'>@item.Text</div></text>,
					canSort: true )
			)
		);
	@xgrid
}
<input type="hidden" name="appid" value="@s.Application_ID">
<input type="hidden" name="mid" value="@s.Master_ID">
<input type="hidden" name="uid" value="@WebSecurity.CurrentUserId">
<script type="text/javascript">
	$(document).ready(function() {
		$(".mgrid div.mleft").parent().css("width","150px");
		$(".mgrid div.mright").parent().css("width","550px");
	});
</script>