﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "onlineuser" ) {
		return;
	}
}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select UserId,Login,Name,Designation,Company,Enable,Lastip,Lastlogin from Users where Enable='1' and Isonline='1'";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		query += string.Format( " and {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
	}
	query += string.Format( " order by UserId" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}
	
	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Login", "Login Id" );
	bb.Add( "Designation", "Designation" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";

	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "UID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@( num++)</div></text> ),
				grid.Column(
					columnName: "Lastlogin",
					header: "Date/Time",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux._datetime(item.Lastlogin)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Login",
					header: "Login Id",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Login)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Name",
					header: "Full Name",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Name)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Designation",
					header: "Designation",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Designation)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Company",
					header: "Company",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Company)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Lastip",
					header: "IP Address",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Lastip)</div></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		_webgrid_link_hash("home-t2","grid", null, _sstr, _sopt, null,null,null,"tsec","onlineuser");

		$(".grid-header th:contains('#')").css("text-align","right");
		$(".grid-header th:contains('Status')").css({"text-align":"center","width":"20px"});

		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/home-t2");
		});
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/home-t2/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr)+"&tsec=onlineuser&__t="+time());
		});
	});
</script>
<!-- /eol -->