﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Port Name</th>
<td><input type="text" name="Name" class="text" value=""></td>
</tr>

<tr>
<th>Country</th>
<td>
<select name="Country" class="text">
@{
	var tbl = new TblCountry();
	var data = tbl.All();	
	foreach ( var x in data ) {
		@:<option value="@x.Name">@x.Name</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Port Time Limit</th>
<td>
<select name="TimeLimit" class="text">
@{
	string[] lmt = new string[3] { "12", "24", "48" };
	foreach(string lm in lmt) {
		@:<option value="@lm">@lm hours</option>
	}
}
</select>
</td>
</tr>
</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->