﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblPort();
	var msg = "";

	// save
	if ( _post == "save" ) {
		if ( _d["Name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Port Name!" ); return;
		}

		var cn = tbl.FindBy(Name:_d["Name"]);
		foreach(var xx in cn) {
			@Ux.json_return( false, "Port Name already exists!" ); return;
		}

		msg = "";
		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>"+e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "port_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		
		Ux.audittrail( true, "port_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["Name"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Port Name!" ); return;
		}
		
		var cn = tbl.Query(string.Format("select Name from Port where Name='{0}' and PortId!='{1}'", _d["Name"], _d["id"]));
		foreach(var xx in cn) {
			@Ux.json_return( false, "Port Name already exists!" ); return;
		}

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );

		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "port_update", msg );
			@Ux.json_return( false, msg ); return;
		}
		
		Ux.audittrail( true, "port_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "port_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;
		} else {
			tbl.Delete(_d["id"]);
			Ux.audittrail( true, "port_delete", "Data removed" );
			@Ux.json_return( true, "Data removed!" ); return;
		}
		Ux.audittrail( false, "port_delete", "Invalid Request" );		
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	if ( _post == "listport" ) {
		var dp = tbl.Query( "select Name from Port order by Name ASC" );
		string ret = "";
		foreach(var dpx in dp) {
			ret += "<option value='" + dpx.Name + "'>" + dpx.Name + "</option>";
		}
		@Html.Raw(ret)
		return;
	}
		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}