﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblPort();
	var obj = tbl.FindBy( PortId: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table th,
#x-table td {
	vertical-align: top !important;
	padding-top: 5px !important;
}
</style>
<div class="dialog_max_height">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Port Name</th>
<td>@Ux.empty_text(s.Name)</td>
</tr>

<tr>
<th>Country</th>
<td>@Ux.empty_text(s.Country)</td>
</tr>

<tr>
<th>Port Time Limit</th>
<td>@Ux.empty_text( s.TimeLimit.ToString() )</td>
</tr>
</table>
</fieldset>

</div> <!-- /dialog_max_height -->