﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblPort();
	var obj = tbl.FindBy( PortId: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Port Name</th>
<td><input type="text" name="Name" class="text" value="@s.Name"></td>
</tr>

<tr>
<th>Country</th>
<td>
<select name="Country" class="text">
@{
	var tblc = new TblCountry();
	var data = tblc.All();
	foreach ( var x in data ) {
		if ( s.Country == x.Name ) {
			@:<option value="@x.Name" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name">@x.Name</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>Port Time Limit</th>
<td>
<select name="TimeLimit" class="text">
@{
	string[] lmt = new string[3] { "12", "24", "48" };
	foreach(string lm in lmt) {
		if ( s.TimeLimit == lm.AsInt() ) {
			@:<option value="@lm" selected>@lm hours</option>		
		} else {
			@:<option value="@lm">@lm hours</option>
		}
	}
}
</select>
</td>
</tr>
</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->