﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( Request["_formid"].IsEmpty() && Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblUsers();
	var obj = tbl.FindBy( UserId: WebSecurity.CurrentUserId );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table textarea {
	width: 353px;
}
#x-table th.uinfo,
#x-table td.uinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<legend class="x-title">Password @WebSecurity.CurrentUserName</legend>
<table id="x-table">

<tr>
<th>Old Password</th>
<td><input type="password" name="opass" class="text" value=""></td>
</tr>

<tr>
<th>New Password</th>
<td><input type="password" name="npass" class="text" value=""></td>
</tr>

<tr>
<th>Retype Password</th>
<td><input type="password" name="rpass" class="text" value=""></td>
</tr>

</table>
</fieldset>
<fieldset class="x-fb">
<legend class="x-title">Information</legend>
<table id="x-table">
<tr>
<th class="uinfo">Full Name</th>
<td class="uinfo">@Ux.empty_text(s.Name)</td>
</tr>
<tr>
<th class="uinfo">Designation</th>
<td class="uinfo">@Ux.empty_text(s.Designation)</td>
</tr>
<tr>
<th class="uinfo">Company</th>
<td class="uinfo">@Ux.empty_text(s.Company)</td>
</tr>
<tr>
<th class="uinfo">Address</th>
<td class="uinfo">@Ux.empty_text(s.Address)</td>
</tr>
<tr>
<th class="uinfo">Telephone</th>
<td class="uinfo">@Ux.empty_text(s.Phone)</td>
</tr>
<tr>
<th class="uinfo">Fax</th>
<td class="uinfo">@Ux.empty_text(s.Fax)</td>
</tr>
<tr>
<th class="uinfo">Email</th>
<td class="uinfo">@Ux.empty_text(s.Email)</td>
</tr>
<tr>
<th class="uinfo">Mobile No.</th>
<td class="uinfo">@Ux.empty_text(s.Mobile)</td>
</tr>
</table>
</fieldset>

@*<fieldset class="x-fb">
<legend class="x-title">Information</legend>
<table id="x-table">
<tr>
<th>Full Name</th>
<td><input type="text" name="Name" class="text" value="@s.Name"></td>
</tr>
<tr>
<th>Designation</th>
<td><input type="text" name="Designation" class="text" value="@s.Designation"></td>
</tr>
<tr>
<th>Company</th>
<td><input type="text" name="Company" class="text" value="@s.Company"></td>
</tr>
<tr>
<th>Address</th>
<td><textarea name="Address">@s.Address</textarea></td>
</tr>
<tr>
<th>Telephone</th>
<td><input type="text" name="Phone" class="text" value="@s.Phone"></td>
</tr>
<tr>
<th>Fax</th>
<td><input type="text" name="Fax" class="text" value="@s.Fax"></td>
</tr>
<tr>
<th>Email</th>
<td><input type="text" name="Email" class="text" value="@s.Email"></td>
</tr>
<tr>
<th>Mobile</th>
<td><input type="text" name="Mobile" class="text" value="@s.Mobile"></td>
</tr>
</table>
</fieldset>*@
</form>
</div> <!-- /dialog_max_height -->