@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 6) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			File.Delete( tpfile );
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {
				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}')  GROUP BY Users.Company  ORDER BY Users.Company", Request["year1"] ) );
			int i = 0;
			int t1 = 0, t11 = 0, t12 = 0, t13 = 0;
			int t2 = 0, t21 = 0, t22 = 0, t23 = 0;
			int t3 = 0, t31 = 0, t32 = 0, t33 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				// Load
				//var p = string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] );
				//@p<br />
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w11 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w12 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w13 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );

				// Discharge
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w21 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w22 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w23 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );

				// Transit
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w31 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w32 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );
				var w33 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company,Request["year1"] ) );

				int w4 = 0;

				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";

				// Load kg
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.load_kg == null ) {
							html += 0;
						} else {
							t1 += w.load_kg;
							w4 += w.load_kg;
							html += w.load_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load litre
				html += "<td>";
				try {
					foreach ( var w in w11 ) {
						if ( w.load_litre == null ) {
							html += 0;
						} else {
							t11 += w.load_litre;
							w4 += w.load_litre;
							html += w.load_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load tonne
				html += "<td>";
				try {
					foreach ( var w in w12 ) {
						if ( w.load_tonne == null ) {
							html += 0;
						} else {
							t12 += w.load_tonne;
							w4 += w.load_tonne;
							html += w.load_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load metric tonne
				html += "<td>";
				try {
					foreach ( var w in w13 ) {
						if ( w.load_metric_tonne == null ) {
							html += 0;
						} else {
							t13 += w.load_metric_tonne;
							w4 += w.load_metric_tonne;
							html += w.load_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Discharge kg
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.discharge_kg == null ) {
							html += 0;
						} else {
							t2 += w.discharge_kg;
							w4 += w.discharge_kg;
							html += w.discharge_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge litre
				html += "<td>";
				try {
					foreach ( var w in w21 ) {
						if ( w.discharge_litre == null ) {
							html += 0;
						} else {
							t21 += w.discharge_litre;
							w4 += w.discharge_litre;
							html += w.discharge_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge tonne
				html += "<td>";
				try {
					foreach ( var w in w22 ) {
						if ( w.discharge_tonne == null ) {
							html += 0;
						} else {
							t22 += w.discharge_tonne;
							w4 += w.discharge_tonne;
							html += w.discharge_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge metric tonne
				html += "<td>";
				try {
					foreach ( var w in w23 ) {
						if ( w.discharge_metric_tonne == null ) {
							html += 0;
						} else {
							t23 += w.discharge_metric_tonne;
							w4 += w.discharge_metric_tonne;
							html += w.discharge_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Transit kg
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.transit_kg == null ) {
							html += 0;
						} else {
							t3 += w.transit_kg;
							w4 += w.transit_kg;
							html += w.transit_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit litre
				html += "<td>";
				try {
					foreach ( var w in w31 ) {
						if ( w.transit_litre == null ) {
							html += 0;
						} else {
							t31 += w.transit_litre;
							w4 += w.transit_litre;
							html += w.transit_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit tonne
				html += "<td>";
				try {
					foreach ( var w in w32 ) {
						if ( w.transit_tonne == null ) {
							html += 0;
						} else {
							t32 += w.transit_tonne;
							w4 += w.transit_tonne;
							html += w.transit_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit metric tonne
				html += "<td>";
				try {
					foreach ( var w in w33 ) {
						if ( w.transit_metric_tonne == null ) {
							html += 0;
						} else {
							t33 += w.transit_metric_tonne;
							w4 += w.transit_metric_tonne;
							html += w.transit_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th colspan='4'>Load</th><th colspan='4'>Discharge</th><th colspan='4'>Transit</th><th>Total</th></tr>";
				h += "<tr style='background-color: #cccccc;font-weight:bold;'><td colspan='2'></td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td></td></tr>";
				h += html;
				t4 = t1 + t11 + t12 + t13 + t2 + t21 + t22 + t23 + t3 + t31 + t32 + t33;
				h += "<tr><td></td><td class='bold right'>Total</td>";
				h += "<td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t11.ToString( "#,##0" ) + "</td><td class='bold'>" + t12.ToString( "#,##0" ) + "</td><td class='bold'>" + t13.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t21.ToString( "#,##0" ) + "</td><td class='bold'>" + t22.ToString( "#,##0" ) + "</td><td class='bold'>" + t23.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t31.ToString( "#,##0" ) + "</td><td class='bold'>" + t32.ToString( "#,##0" ) + "</td><td class='bold'>" + t33.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];

			html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}') GROUP BY Users.Company  ORDER BY Users.Company", Request["year2"], Request["month2"] ) );
			int i = 0;
			int t1 = 0, t11 = 0, t12 = 0, t13 = 0;
			int t2 = 0, t21 = 0, t22 = 0, t23 = 0;
			int t3 = 0, t31 = 0, t32 = 0, t33 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				// Load
				//var p = string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] );
				//@p<br />
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w11 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w12 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w13 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );

				// Discharge
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w21 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w22 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w23 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );

				// Transit
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w31 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w32 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );
				var w33 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}')", tt.Company,Request["year2"], Request["month2"] ) );

				int w4 = 0;

				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";

				// Load kg
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.load_kg == null ) {
							html += 0;
						} else {
							t1 += w.load_kg;
							w4 += w.load_kg;
							html += w.load_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load litre
				html += "<td>";
				try {
					foreach ( var w in w11 ) {
						if ( w.load_litre == null ) {
							html += 0;
						} else {
							t11 += w.load_litre;
							w4 += w.load_litre;
							html += w.load_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load tonne
				html += "<td>";
				try {
					foreach ( var w in w12 ) {
						if ( w.load_tonne == null ) {
							html += 0;
						} else {
							t12 += w.load_tonne;
							w4 += w.load_tonne;
							html += w.load_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load metric tonne
				html += "<td>";
				try {
					foreach ( var w in w13 ) {
						if ( w.load_metric_tonne == null ) {
							html += 0;
						} else {
							t13 += w.load_metric_tonne;
							w4 += w.load_metric_tonne;
							html += w.load_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Discharge kg
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.discharge_kg == null ) {
							html += 0;
						} else {
							t2 += w.discharge_kg;
							w4 += w.discharge_kg;
							html += w.discharge_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge litre
				html += "<td>";
				try {
					foreach ( var w in w21 ) {
						if ( w.discharge_litre == null ) {
							html += 0;
						} else {
							t21 += w.discharge_litre;
							w4 += w.discharge_litre;
							html += w.discharge_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge tonne
				html += "<td>";
				try {
					foreach ( var w in w22 ) {
						if ( w.discharge_tonne == null ) {
							html += 0;
						} else {
							t22 += w.discharge_tonne;
							w4 += w.discharge_tonne;
							html += w.discharge_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge metric tonne
				html += "<td>";
				try {
					foreach ( var w in w23 ) {
						if ( w.discharge_metric_tonne == null ) {
							html += 0;
						} else {
							t23 += w.discharge_metric_tonne;
							w4 += w.discharge_metric_tonne;
							html += w.discharge_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Transit kg
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.transit_kg == null ) {
							html += 0;
						} else {
							t3 += w.transit_kg;
							w4 += w.transit_kg;
							html += w.transit_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit litre
				html += "<td>";
				try {
					foreach ( var w in w31 ) {
						if ( w.transit_litre == null ) {
							html += 0;
						} else {
							t31 += w.transit_litre;
							w4 += w.transit_litre;
							html += w.transit_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit tonne
				html += "<td>";
				try {
					foreach ( var w in w32 ) {
						if ( w.transit_tonne == null ) {
							html += 0;
						} else {
							t32 += w.transit_tonne;
							w4 += w.transit_tonne;
							html += w.transit_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit metric tonne
				html += "<td>";
				try {
					foreach ( var w in w33 ) {
						if ( w.transit_metric_tonne == null ) {
							html += 0;
						} else {
							t33 += w.transit_metric_tonne;
							w4 += w.transit_metric_tonne;
							html += w.transit_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th colspan='4'>Load</th><th colspan='4'>Discharge</th><th colspan='4'>Transit</th><th>Total</th></tr>";
				h += "<tr style='background-color: #cccccc;font-weight:bold;'><td colspan='2'></td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td></td></tr>";
				h += html;
				t4 = t1 + t11 + t12 + t13 + t2 + t21 + t22 + t23 + t3 + t31 + t32 + t33;
				h += "<tr><td></td><td class='bold right'>Total</td>";
				h += "<td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t11.ToString( "#,##0" ) + "</td><td class='bold'>" + t12.ToString( "#,##0" ) + "</td><td class='bold'>" + t13.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t21.ToString( "#,##0" ) + "</td><td class='bold'>" + t22.ToString( "#,##0" ) + "</td><td class='bold'>" + t23.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t31.ToString( "#,##0" ) + "</td><td class='bold'>" + t32.ToString( "#,##0" ) + "</td><td class='bold'>" + t33.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;

			}
		}
	} else if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"] + opt + Request["year3a"] + Request["month3a"] + Request["day3a"] + Request["year3b"] + Request["month3b"] + Request["day3b"];
			tpfile = Server.MapPath( "~/rw/report/report" + tpname + ".dat" );
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays( -1 );
				DateTime dtt = File.GetLastWriteTime( tpfile );
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='" + tpname + "'>Export to Excel</button>";
						@Html.Raw( html );
					   return;
					}
				}
			}
			_rtitle += " - Weekly Report : From " + Request["day3a"] + " " + Request["_mt1"] + "," + Request["year3a"] + " to " + Request["day3b"] + " " + Request["_mt2"] + "," + Request["year3b"];

			DateTime sdatei = new DateTime( Request["year3a"].AsInt(), Request["month3a"].AsInt(), Request["day3a"].AsInt() );
			DateTime edatei = new DateTime( Request["year3b"].AsInt(), Request["month3b"].AsInt(), Request["day3b"].AsInt() );
			DateTime dt2 = edatei.AddDays( +1 );

						html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') GROUP BY Users.Company  ORDER BY Users.Company", sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
			int i = 0;
			int t1 = 0, t11 = 0, t12 = 0, t13 = 0;
			int t2 = 0, t21 = 0, t22 = 0, t23 = 0;
			int t3 = 0, t31 = 0, t32 = 0, t33 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				// Load
				//var p = string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) );
				//@p<br />
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w11 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w12 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w13 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS load_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );

				// Discharge
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w21 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w22 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w23 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS discharge_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );

				// Transit
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_kg FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'KG') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w31 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_litre FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w32 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w33 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS transit_metric_tonne FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company,sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );

				int w4 = 0;

				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";

				// Load kg
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.load_kg == null ) {
							html += 0;
						} else {
							t1 += w.load_kg;
							w4 += w.load_kg;
							html += w.load_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load litre
				html += "<td>";
				try {
					foreach ( var w in w11 ) {
						if ( w.load_litre == null ) {
							html += 0;
						} else {
							t11 += w.load_litre;
							w4 += w.load_litre;
							html += w.load_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load tonne
				html += "<td>";
				try {
					foreach ( var w in w12 ) {
						if ( w.load_tonne == null ) {
							html += 0;
						} else {
							t12 += w.load_tonne;
							w4 += w.load_tonne;
							html += w.load_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Load metric tonne
				html += "<td>";
				try {
					foreach ( var w in w13 ) {
						if ( w.load_metric_tonne == null ) {
							html += 0;
						} else {
							t13 += w.load_metric_tonne;
							w4 += w.load_metric_tonne;
							html += w.load_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Discharge kg
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.discharge_kg == null ) {
							html += 0;
						} else {
							t2 += w.discharge_kg;
							w4 += w.discharge_kg;
							html += w.discharge_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge litre
				html += "<td>";
				try {
					foreach ( var w in w21 ) {
						if ( w.discharge_litre == null ) {
							html += 0;
						} else {
							t21 += w.discharge_litre;
							w4 += w.discharge_litre;
							html += w.discharge_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge tonne
				html += "<td>";
				try {
					foreach ( var w in w22 ) {
						if ( w.discharge_tonne == null ) {
							html += 0;
						} else {
							t22 += w.discharge_tonne;
							w4 += w.discharge_tonne;
							html += w.discharge_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Discharge metric tonne
				html += "<td>";
				try {
					foreach ( var w in w23 ) {
						if ( w.discharge_metric_tonne == null ) {
							html += 0;
						} else {
							t23 += w.discharge_metric_tonne;
							w4 += w.discharge_metric_tonne;
							html += w.discharge_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				// Transit kg
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.transit_kg == null ) {
							html += 0;
						} else {
							t3 += w.transit_kg;
							w4 += w.transit_kg;
							html += w.transit_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit litre
				html += "<td>";
				try {
					foreach ( var w in w31 ) {
						if ( w.transit_litre == null ) {
							html += 0;
						} else {
							t31 += w.transit_litre;
							w4 += w.transit_litre;
							html += w.transit_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit tonne
				html += "<td>";
				try {
					foreach ( var w in w32 ) {
						if ( w.transit_tonne == null ) {
							html += 0;
						} else {
							t32 += w.transit_tonne;
							w4 += w.transit_tonne;
							html += w.transit_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				// Transit metric tonne
				html += "<td>";
				try {
					foreach ( var w in w33 ) {
						if ( w.transit_metric_tonne == null ) {
							html += 0;
						} else {
							t33 += w.transit_metric_tonne;
							w4 += w.transit_metric_tonne;
							html += w.transit_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";

				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th colspan='4'>Load</th><th colspan='4'>Discharge</th><th colspan='4'>Transit</th><th>Total</th></tr>";
				h += "<tr style='background-color: #cccccc;font-weight:bold;'><td colspan='2'></td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td>KG</td><td>Litre</td><td>Tonne</td><td>Metric Tonne</td>";
				h += "<td></td></tr>";
				h += html;
				t4 = t1 + t11 + t12 + t13 + t2 + t21 + t22 + t23 + t3 + t31 + t32 + t33;
				h += "<tr><td></td><td class='bold right'>Total</td>";
				h += "<td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t11.ToString( "#,##0" ) + "</td><td class='bold'>" + t12.ToString( "#,##0" ) + "</td><td class='bold'>" + t13.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t21.ToString( "#,##0" ) + "</td><td class='bold'>" + t22.ToString( "#,##0" ) + "</td><td class='bold'>" + t23.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t31.ToString( "#,##0" ) + "</td><td class='bold'>" + t32.ToString( "#,##0" ) + "</td><td class='bold'>" + t33.ToString( "#,##0" ) + "</td>";
				h += "<td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}

		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='" + tpname + "'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
