@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 12) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {
				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";

	
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];
			html = "";

		}
	} else 	if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year3a"]+Request["month3a"]+Request["day3a"]+Request["year3b"]+Request["month3b"]+Request["day3b"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Weekly Report : From "+Request["day3a"]+" "+Request["_mt1"]+","+Request["year3a"]+" to "+Request["day3b"]+" "+Request["_mt2"]+","+Request["year3b"];

			DateTime sdatei = new DateTime(Request["year3a"].AsInt(),Request["month3a"].AsInt(),Request["day3a"].AsInt());
			DateTime edatei = new DateTime(Request["year3b"].AsInt(),Request["month3b"].AsInt(),Request["day3b"].AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			
			html = "";

		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
