@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 11) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {
				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";

			var kpa_jan1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 1) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 1) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_feb1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 2) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 2) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_mac1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 3) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 3) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_apr1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 4) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 4) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_may1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 5) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 5) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_jun1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 6) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 6) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_jul1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 7) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 7) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_aug1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 8) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 8) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_sep1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 9) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 9) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_oct1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 10) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 10) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_nov1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 11) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 11) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpa_dec1 = tbl.Query( string.Format( "SELECT SUM(DATEDIFF(hh, Submit_Date, KPA_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 12) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master  WHERE (KPC_Status != '0') AND (DATEPART(mm, KPA_Approved_Time) = 12) AND (KPA_Status != '0') AND (DATEPART(yyyy, KPA_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );

			var kpc_jan1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 1) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 1) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_feb1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 2) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 2) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_mac1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 3) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 3) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_apr1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 4) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 4) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_may1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 5) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 5) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_jun1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 6) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 6) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_jul1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 7) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 7) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_aug1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 8) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 8) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_sep1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 9) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 9) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_oct1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 10) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 10) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_nov1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 11) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 11) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );
			var kpc_dec1 = tbl.Query( string.Format( " SELECT SUM(DATEDIFF(hh, Submit_Date, KPC_Approved_Time)) AS TotalTime, (SELECT COUNT(*) FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 12) AND (DATEPART(yyyy, KPC_Approved_Time) = '{0}') AND (Confirmation = '1')) AS TotalRecord  FROM Declaration_Form_Master WHERE (KPC_Status > '0') AND (DATEPART(mm, KPC_Approved_Time) = 12) AND (DATEPART(yyyy, KPC_Approved_Time) = '{1}') AND (Confirmation = '1')", Request["year1"], Request["year1"] ) );

			var kpa_jan = 0;
			var kpa_feb = 0;
			var kpa_mac = 0;
			var kpa_apr = 0;
			var kpa_may = 0;
			var kpa_jun = 0;
			var kpa_jul = 0;
			var kpa_aug = 0;
			var kpa_sep = 0;
			var kpa_oct = 0;
			var kpa_nov = 0;
			var kpa_dec = 0;
			var kpa_total = 0;
			try {
				foreach ( var w in kpa_jan1 ) {
					kpa_jan = w.TotalTime / w.TotalRecord;
					if ( kpa_jan < 0 ) {
						kpa_jan = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_jan = 0;
			}

			try {
				foreach ( var w in kpa_feb1 ) {
					kpa_feb = w.TotalTime / w.TotalRecord;
					if ( kpa_feb < 0 ) {
						kpa_feb = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_feb = 0;
			}

			try {
				foreach ( var w in kpa_mac1 ) {
					kpa_mac = w.TotalTime / w.TotalRecord;
					if ( kpa_mac < 0 ) {
						kpa_mac = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_mac = 0;
			}

			try {
				foreach ( var w in kpa_apr1 ) {
					kpa_apr = w.TotalTime / w.TotalRecord;
					if ( kpa_apr < 0 ) {
						kpa_apr = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_apr = 0;
			}

			try {
				foreach ( var w in kpa_may1 ) {
					kpa_may = w.TotalTime / w.TotalRecord;
					if ( kpa_may < 0 ) {
						kpa_may = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_may = 0;
			}

			try {
				foreach ( var w in kpa_jun1 ) {
					kpa_jun = w.TotalTime / w.TotalRecord;
					if ( kpa_jun < 0 ) {
						kpa_jun = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_jun = 0;
			}

			try {
				foreach ( var w in kpa_jul1 ) {
					kpa_jul = w.TotalTime / w.TotalRecord;
					if ( kpa_jul < 0 ) {
						kpa_jul = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_jul = 0;
			}

			try {
				foreach ( var w in kpa_aug1 ) {
					kpa_aug = w.TotalTime / w.TotalRecord;
					if ( kpa_aug < 0 ) {
						kpa_aug = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_aug = 0;
			}

			try {
				foreach ( var w in kpa_sep1 ) {
					kpa_sep = w.TotalTime / w.TotalRecord;
					if ( kpa_sep < 0 ) {
						kpa_sep = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_sep = 0;
			}

			try {
				foreach ( var w in kpa_oct1 ) {
					kpa_oct = w.TotalTime / w.TotalRecord;
					if ( kpa_oct < 0 ) {
						kpa_oct = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_oct = 0;
			}

			try {
				foreach ( var w in kpa_nov1 ) {
					kpa_nov = w.TotalTime / w.TotalRecord;
					if ( kpa_nov < 0 ) {
						kpa_nov = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_nov = 0;
			}

			try {
				foreach ( var w in kpa_dec1 ) {
					kpa_dec = w.TotalTime / w.TotalRecord;
					if ( kpa_dec < 0 ) {
						kpa_dec = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpa_dec = 0;
			}

			kpa_total = kpa_jan + kpa_feb + kpa_mac + kpa_apr + kpa_may + kpa_jun + kpa_jul + kpa_aug + kpa_sep + kpa_oct + kpa_nov + kpa_dec;

			var kpc_jan = 0;
			var kpc_feb = 0;
			var kpc_mac = 0;
			var kpc_apr = 0;
			var kpc_may = 0;
			var kpc_jun = 0;
			var kpc_jul = 0;
			var kpc_aug = 0;
			var kpc_sep = 0;
			var kpc_oct = 0;
			var kpc_nov = 0;
			var kpc_dec = 0;
			var kpc_total = 0;
			try {
				foreach ( var w in kpc_jan1 ) {
					kpc_jan = w.TotalTime / w.TotalRecord;
					if ( kpc_jan < 0 ) {
						kpc_jan = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_jan = 0;
			}

			try {
				foreach ( var w in kpc_feb1 ) {
					kpc_feb = w.TotalTime / w.TotalRecord;
					if ( kpc_feb < 0 ) {
						kpc_feb = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_feb = 0;
			}

			try {
				foreach ( var w in kpc_mac1 ) {
					kpc_mac = w.TotalTime / w.TotalRecord;
					if ( kpc_mac < 0 ) {
						kpc_mac = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_mac = 0;
			}

			try {
				foreach ( var w in kpc_apr1 ) {
					kpc_apr = w.TotalTime / w.TotalRecord;
					if ( kpc_apr < 0 ) {
						kpc_apr = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_apr = 0;
			}

			try {
				foreach ( var w in kpc_may1 ) {
					kpc_may = w.TotalTime / w.TotalRecord;
					if ( kpc_may < 0 ) {
						kpc_may = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_may = 0;
			}

			try {
				foreach ( var w in kpc_jun1 ) {
					kpc_jun = w.TotalTime / w.TotalRecord;
					if ( kpc_jun < 0 ) {
						kpc_jun = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_jun = 0;
			}

			try {
				foreach ( var w in kpc_jul1 ) {
					kpc_jul = w.TotalTime / w.TotalRecord;
					if ( kpc_jul < 0 ) {
						kpc_jul = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_jul = 0;
			}

			try {
				foreach ( var w in kpc_aug1 ) {
					kpc_aug = w.TotalTime / w.TotalRecord;
					if ( kpc_aug < 0 ) {
						kpc_aug = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_aug = 0;
			}

			try {
				foreach ( var w in kpc_sep1 ) {
					kpc_sep = w.TotalTime / w.TotalRecord;
					if ( kpc_sep < 0 ) {
						kpc_sep = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_sep = 0;
			}

			try {
				foreach ( var w in kpc_oct1 ) {
					kpc_oct = w.TotalTime / w.TotalRecord;
					if ( kpc_oct < 0 ) {
						kpc_oct = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_oct = 0;
			}

			try {
				foreach ( var w in kpc_nov1 ) {
					kpc_nov = w.TotalTime / w.TotalRecord;
					if ( kpc_nov < 0 ) {
						kpc_nov = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_nov = 0;
			}

			try {
				foreach ( var w in kpc_dec1 ) {
					kpc_dec = w.TotalTime / w.TotalRecord;
					if ( kpc_dec < 0 ) {
						kpc_dec = 0;
					}
				}
			}
			catch ( Exception e ) {
				kpc_dec = 0;
			}

			kpc_total = kpc_jan + kpc_feb + kpc_mac + kpc_apr + kpc_may + kpc_jun + kpc_jul + kpc_aug + kpc_sep + kpc_oct + kpc_nov + kpc_dec;

			html += "<h1>"+_rtitle+"</h1>";
			html += "<table id='x-tablet'>";
			html += "<tr><th>Officer</th><th>Jan</th><th>Feb</th><th>Mac</th><th>Apr</th><th>May</th><th>Jun</th><th>Jul</th><th>Aug</th><th>Sep</th><th>Oct</th><th>Nov</th><th>Dec</th><th>Total Average</th></tr>";
			html += "<tr><td>KPA</td><td>"+kpa_jan+"</td><td>"+kpa_feb+"</td><td>"+kpa_mac+"</td><td>"+kpa_apr+"</td><td>"+kpa_may+"</td><td>"+kpa_jun+"</td><td>"+kpa_jul+"</td><td>"+kpa_aug+"</td><td>"+kpa_sep+"</td><td>"+kpa_oct+"</td><td>"+kpa_nov+"</td><td>"+kpa_dec+"</td><td>"+kpa_total+"</td>";
			html += "<tr><td>KPC</td><td>" + kpc_jan + "</td><td>" + kpc_feb + "</td><td>" + kpc_mac + "</td><td>" + kpc_apr + "</td><td>" + kpc_may + "</td><td>" + kpc_jun + "</td><td>" + kpc_jul + "</td><td>" + kpc_aug + "</td><td>" + kpc_sep + "</td><td>" + kpc_oct + "</td><td>" + kpc_nov + "</td><td>" + kpc_dec + "</td><td>" + kpc_total + "</td>";
			html += "<tr><td class='bold right'>Total</td><td>" + ( kpc_jan + kpc_jan / 2 ) + "</td><td>" + ( kpa_feb + kpc_feb / 2 ) + "</td><td>" + ( kpa_mac + kpc_mac / 2 ) + "</td><td>" + ( kpa_apr + kpc_apr / 2 ) + "</td><td>" + ( kpa_may + kpc_may / 2 ) + "</td><td>" + ( kpa_jun + kpc_jun / 2 ) + "</td><td>" + ( kpa_jul + kpc_jul / 2 ) + "</td><td>" + ( kpa_aug + kpc_aug / 2 ) + "</td><td>" + ( kpa_sep + kpc_sep / 2 ) + "</td><td>" + ( kpa_oct + kpc_oct / 2 ) + "</td><td>" + ( kpa_nov + kpc_nov / 2 ) + "</td><td>" + ( kpa_dec + kpc_dec / 2 ) + "</td><td>" + ( kpa_total + kpc_total / 2 ) + "</td>";
			html += "</table>";
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];
			html = "";

		}
	} else 	if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year3a"]+Request["month3a"]+Request["day3a"]+Request["year3b"]+Request["month3b"]+Request["day3b"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Weekly Report : From "+Request["day3a"]+" "+Request["_mt1"]+","+Request["year3a"]+" to "+Request["day3b"]+" "+Request["_mt2"]+","+Request["year3b"];

			DateTime sdatei = new DateTime(Request["year3a"].AsInt(),Request["month3a"].AsInt(),Request["day3a"].AsInt());
			DateTime edatei = new DateTime(Request["year3b"].AsInt(),Request["month3b"].AsInt(),Request["day3b"].AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			
			html = "";

		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
