@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 5) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {
				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (Declaration_Form_Detail.LDT = 'Discharge') GROUP BY Declaration_Form_Master.Consignee", Request["year1"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year1"] ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year1"] ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year1"] ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year1"] ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			var html_all = "<h1>" + _rtitle + "</h1>";
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Shipper</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all += h;
			}
			/* load */
			html = "";
			data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (Declaration_Form_Detail.LDT = 'Load') GROUP BY Declaration_Form_Master.Consignee", Request["year1"] ) );
			i = 0;
			t1 = 0;
			t2 = 0;
			t3 = 0;
			t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year1"] ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year1"] ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year1"] ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year1"] ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}

			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<br><table id='x-tablet'>";
				h += "<tr><th>#</th><th>Consignee</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all += h;
			}
			/* end */
			html = html_all;
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}') AND (Declaration_Form_Detail.LDT = 'Discharge') GROUP BY Declaration_Form_Master.Consignee", Request["year2"], Request["month2"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, Request["year2"], Request["month2"] ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			var html_all = "<h1>" + _rtitle + "</h1>";
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Shipper</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all += h;
			}
			/* load */
			html = "";
			data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}') AND (Declaration_Form_Detail.LDT = 'Load') GROUP BY Declaration_Form_Master.Consignee", Request["year2"], Request["month2"] ) );
			i = 0;
			t1 = 0;
			t2 = 0;
			t3 = 0;
			t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year2"], Request["month2"] ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, Request["year2"], Request["month2"] ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}

			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<br><table id='x-tablet'>";
				h += "<tr><th>#</th><th>Consignee</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all += h;
			}
			/* end */
			html = html_all;
		}
	} else 	if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year3a"]+Request["month3a"]+Request["day3a"]+Request["year3b"]+Request["month3b"]+Request["day3b"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Weekly Report : From "+Request["day3a"]+" "+Request["_mt1"]+","+Request["year3a"]+" to "+Request["day3b"]+" "+Request["_mt2"]+","+Request["year3b"];

			DateTime sdatei = new DateTime(Request["year3a"].AsInt(),Request["month3a"].AsInt(),Request["day3a"].AsInt());
			DateTime edatei = new DateTime(Request["year3b"].AsInt(),Request["month3b"].AsInt(),Request["day3b"].AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			
			html = "";
			var data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Declaration_Form_Detail.LDT = 'Discharge') GROUP BY Declaration_Form_Master.Consignee", sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Discharge')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			var html_all = "<h1>" + _rtitle + "</h1>";
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Shipper</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all = h;
			}
			/* load */
			html = "";
			data = tbl.Query( string.Format( "SELECT Declaration_Form_Master.Consignee FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Declaration_Form_Detail.LDT = 'Load') GROUP BY Declaration_Form_Master.Consignee", sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
			i = 0;
			t1 = 0;
			t2 = 0;
			t3 = 0;
			t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_kg FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'KG') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_litre FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Litre') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS total_metric_tonne FROM Declaration_Form_Master INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID INNER JOIN Form_Sub_Detail ON Declaration_Form_Detail.FormDetail_ID = Form_Sub_Detail.FormDetail_ID WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Consignee = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}') AND (Form_Sub_Detail.Measurement = 'Metric Tonne') AND (Declaration_Form_Detail.LDT = 'Load')", tt.Consignee, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Consignee;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_kg == null ) {
							html += 0;
						} else {
							t1 += w.total_kg;
							html += w.total_kg.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_litre == null ) {
							html += 0;
						} else {
							t2 += w.total_litre;
							html += w.total_litre.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_tonne;
							html += w.total_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.total_metric_tonne == null ) {
							html += 0;
						} else {
							t3 += w.total_metric_tonne;
							html += w.total_metric_tonne.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}

			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<br><table id='x-tablet'>";
				h += "<tr><th>#</th><th>Consignee</th><th>KG</th><th>Litre</th><th>Tonne</th><th>Metric Tonne</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html_all += h;
			}
			/* end */
			html = html_all;
		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
