@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 1) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Vessel.VesselID, Vessel.NameOfVessel FROM Declaration_Form_Master INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') GROUP BY Vessel.NameOfVessel, Vessel.VesselID  ORDER BY Vessel.NameOfVessel", Request["year1"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (Vessel.VesselID = '{1}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'KG')", Request["year1"], tt.VesselID ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (Vessel.VesselID = '{1}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Litre')", Request["year1"], tt.VesselID ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (Vessel.VesselID = '{1}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Metric Tonne')", Request["year1"], tt.VesselID ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (Vessel.VesselID = '{1}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Tonne')", Request["year1"], tt.VesselID ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.NameOfVessel;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t1 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t2 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t3 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t4 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Vessel Name</th><th colspan='3'>Cargo (Bulk)</th><th>CTUs (Package Form)</th></tr>";
				h += "<tr><td colspan='2'></td><td class='bold'>KG</td><td class='bold'>Litre</td><td class='bold'>Metric Tonne</td><td class='bold'>Tonne</td></tr>";
				h += html;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Vessel.VesselID, Vessel.NameOfVessel FROM Declaration_Form_Master INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}') GROUP BY Vessel.NameOfVessel, Vessel.VesselID  ORDER BY Vessel.NameOfVessel", Request["year2"], Request["month2"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'KG')", Request["year2"], Request["month2"], tt.VesselID ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Litre')", Request["year2"], Request["month2"], tt.VesselID ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Metric Tonne')", Request["year2"], Request["month2"], tt.VesselID ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Tonne')", Request["year2"], Request["month2"], tt.VesselID ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.NameOfVessel;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t1 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t2 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t3 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t4 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Vessel Name</th><th colspan='3'>Cargo (Bulk)</th><th>CTUs (Package Form)</th></tr>";
				h += "<tr><td colspan='2'></td><td class='bold'>KG</td><td class='bold'>Litre</td><td class='bold'>Metric Tonne</td><td class='bold'>Tonne</td></tr>";
				h += html;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	} else 	if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year3a"]+Request["month3a"]+Request["day3a"]+Request["year3b"]+Request["month3b"]+Request["day3b"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Weekly Report : From "+Request["day3a"]+" "+Request["_mt1"]+","+Request["year3a"]+" to "+Request["day3b"]+" "+Request["_mt2"]+","+Request["year3b"];

			DateTime sdatei = new DateTime(Request["year3a"].AsInt(),Request["month3a"].AsInt(),Request["day3a"].AsInt());
			DateTime edatei = new DateTime(Request["year3b"].AsInt(),Request["month3b"].AsInt(),Request["day3b"].AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			
			html = "";
			var data = tbl.Query( string.Format( "SELECT Vessel.VesselID, Vessel.NameOfVessel FROM Declaration_Form_Master INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') GROUP BY Vessel.NameOfVessel, Vessel.VesselID  ORDER BY Vessel.NameOfVessel", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd") ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'KG')", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd"), tt.VesselID ) );
				var w2 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Litre')", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd"), tt.VesselID ) );
				var w3 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Metric Tonne')", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd"), tt.VesselID ) );
				var w4 = tbl.Query( string.Format( "SELECT SUM(CONVERT(Numeric, Form_Sub_Detail.Weight)) AS weights FROM Form_Sub_Detail INNER JOIN Declaration_Form_Master ON Form_Sub_Detail.Master_ID = Declaration_Form_Master.Master_ID INNER JOIN Vessel ON Declaration_Form_Master.Name_of_Vessel = Vessel.NameOfVessel INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID WHERE (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}') AND (Vessel.VesselID = '{2}' ) AND (Declaration_Form_Master.Confirmation = '1') AND (Form_Sub_Detail.Measurement = 'Tonne')", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd"), tt.VesselID ) );
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.NameOfVessel;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t1 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t2 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t3 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w4 ) {
						if ( w.weights == null ) {
							html += 0;
						} else {
							t4 += w.weights;
							html += w.weights.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Vessel Name</th><th colspan='3'>Cargo (Bulk)</th><th>CTUs (Package Form)</th></tr>";
				h += "<tr><td colspan='2'></td><td class='bold'>KG</td><td class='bold'>Litre</td><td class='bold'>Metric Tonne</td><td class='bold'>Tonne</td></tr>";
				h += html;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
