@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	string[] reports = new string[/*16*/15] {"Total Tonnage",
										"Total Load/Discharge/Transit",
										"Total Number of Declaration by Agent",
										"Total Number of Declaration - by Agent According to IMO Class and KPA Group",
										/*"Total Tonnage Declared by Consignee/Shipper",*/
										"Total Tonnage Report - by Agent According to IMO Class and KPA Group",
										"Total Tonnage Declared by Agent",
										"Total Number of Declaration by Vessel Name",
										"Total Tonnage of Chemical Name Declared for Import/Export/Transit",
										"Total Tonnage of Chemical Name Declared for Import/Export/Transit by Consignee",
										"Total Declaration Made According Time Limit by Agent",
										"Specific Average Time Process Report",
										"Total Number Approved by Person (KPA Officer)",
										"Total Number Declaration has been Able, Unable, Approved and Not Approved",
										"Percentage Processing Time Report",
										"Total Application Rejected by KPC and KPA, List by Agent"
									};
	string[] months = new string[12] {"January",
										"February",
										"March",
										"April",
										"May",
										"June",
										"July",
										"August",
										"September",
										"October",
										"November",
										"December"
									};
}
<style type="text/css">
div.x-rlist {
	margin-top: 10px;
	margin-botom: 10px;
	clear: both;
	width: 100%;
	text-align:left;
	font-size: 11px;
}

#x-table .tinfo {
	vertical-align: top;
	padding-top: 5px;
}
.grid {
	padding: 4px !important;
}

.grid td {
	vertical-align: middle;
	padding: 2px 5px 2px 5px;
	white-space: normal !important;
	font-weight: normal;
}

.grid td.head {
	font-weight: bold;
}

.grid tr:hover {
	background: inherit;
}

#x-tablei {
	width:100%;
}
#x-tablei th,
#x-tablei td {
	padding:2px;
}
#x-tablei th {
	font-weight:bold;
}
#x-tablei td.f1 {
	width: 100px;
	text-align: right;
}
</style>
<table class="grid">
<tr>
<td class="head" style="width:120px;text-align:right;">
Name Of Report
</td>
<td colspan="3">
<select name="report" class="text" style="width:600px;">
<option value=''>Please select</option>
@{
	int x = 0;
	for (int i = 0; i < reports.Length; i++) {
		x = i + 1;
		<option value="@x"@( Request["report"].AsInt() == x ? " selected" : "")>(@x) @reports[i]</option>
	}
}
</select>
</td>
</tr>
<tr>
<td class="head" style="width:120px;text-align:right;vertical-align:top;" rowspan='2'>
Period
</td>
<td class="head">Yearly</td>
<td class="head">Monthly</td>
<td class="head">Weekly</td>
</tr>
<tr>
<td style="width:140px;vertical-align:top;"><select name='year1' class='text' style="width:80px;">
<option value="">Year</option>
@{
	int yy = DateTime.Now.Year;
	for(int x1 = 2004; x1 <= yy; x1++) {
		<option value="@x1"@( Request["year1"].AsInt() == x1 ? " selected" : "")>@x1</option>
	}
}
</select><button class="button button_check" name="bt1">Go</button></td>

<td style="width:240px;vertical-align:top;"><select name='month2' class='text' style="width:100px;">
<option value="">Month</option>
@{
	x = 0;
	for (int i = 0; i < months.Length; i++) {
		x = i + 1;
		<option value="@x"@( Request["month2"].AsInt() == x ? " selected" : "")>@months[i]</option>
	}
}
</select>
<select name='year2' class='text' style="width:80px;">
<option value="">Year</option>
@{
	for(int x2 = 2004; x2 <= yy; x2++) {
		<option value="@x2"@( Request["year2"].AsInt() == x2 ? " selected" : "")>@x2</option>
	}
}
</select><button class="button button_check" name="bt2">Go</button></td>

<td>
<span style="font-weight:bold;padding-right:2px;">Start</span><select name='day3a' class='text' style="width:60px;">
<option value="">Day</option>
@{
	var pp = "";
	for(int xx1 = 1; xx1 < 32; xx1++) {
		pp = xx1.ToString();
		if ( xx1 < 10 ) {
			pp = "0"+pp;
		}
		<option value="@xx1"@( Request["day3a"].AsInt() == xx1 ? " selected" : "")>@pp</option>
	}
}
</select>
<select name='month3a' class='text' style="width:100px;">
<option value="">Month</option>
@{
	x = 0;
	for (int i = 0; i < months.Length; i++) {
		x = i + 1;
		<option value="@x"@( Request["month3a"].AsInt() == x ? " selected" : "")>@months[i]</option>
	}
}
</select>
<select name='year3a' class='text' style="width:80px;">
<option value="">Year</option>
@{
	for(int xx3 = 2004; xx3 <= yy; xx3++) {
		<option value="@xx3"@( Request["year3a"].AsInt() == xx3 ? " selected" : "")>@xx3</option>
	}
}
</select><br />
<span style="font-weight:bold;padding-left:8px;padding-right:2px;">End</span><select name='day3b' class='text' style="width:60px;">
<option value="">Day</option>
@{
	pp = "";
	for(int xx1 = 1; xx1 < 32; xx1++) {
		pp = xx1.ToString();
		if ( xx1 < 10 ) {
			pp = "0"+pp;
		}
		<option value="@xx1"@( Request["day3b"].AsInt() == xx1 ? " selected" : "")>@pp</option>
	}
}
</select>
<select name='month3b' class='text' style="width:100px;">
<option value="">Month</option>
@{
	x = 0;
	for (int i = 0; i < months.Length; i++) {
		x = i + 1;
		<option value="@x"@( Request["month3b"].AsInt() == x ? " selected" : "")>@months[i]</option>
	}
}
</select>
<select name='year3b' class='text' style="width:80px;">
<option value="">Year</option>
@{
	for(int x3 = 2004; x3 <= yy; x3++) {
		<option value="@x3"@( Request["year3b"].AsInt() == x3 ? " selected" : "")>@x3</option>
	}
}
</select><button class="button button_check" name="bt3">Go</button></td>

</tr>

</table>

<div class="x-rlist"></div>

<script type="text/javascript">
	$(document).ready(function () {
		function _rload(obj,arg, func) {
			func = func || null;
			$.ajaxSetup({
				global: false,
				async: true,
				cache: false,
				beforeSend: function() {
					_ajaxloader(true);
				},
				success: function() {
					_ajaxloader(false);
				},
				complete: function() {
					_ajaxloader(false);
				}
			});
			var _loader = "<img src='@Ux.href("ui/rsc/loading.gif")'> Collecting data.. Please wait..";
			$(obj).html(_loader).load(_index, arg, function() {
					if ( func !== null ) {
						func(obj);
					}
					$(this).show();
					_fixjs();
					$(obj + " button.button_doc").button({ icons: { primary: 'ui-icon-document'} }).click(function(e) {
						e = e || window.event;
						e.preventDefault();
						var _df = $(this).attr("data-file");
						_popupnewin(_baseurl+'/?_req=reportexport&_f='+_df,'new');
					});
			});
		};
		
		$("button[name=bt1]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _r = $("select[name=report]").attr("value");
			if (_r === "") {
				_gfalse("Plase select name of report!");
				return false;
			}
			var _y = $("select[name=year1]").attr("value");
			if (_y === "") {
				_gfalse("Plase select year!");
				return false;
			}
			
			var _rt = $.trim($("select[name=report] option:selected").text());
			_rt = _rt.replace(/^\(\d+\)\s+/,"");
			_rload("div.x-rlist", {_req: 'tpl', _f: 'report'+_r, report: _r, opt: '1', year1: _y, _rt: _rt });
		});
		$("button[name=bt2]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _r = $("select[name=report]").attr("value");
			if (_r === "") {
				_gfalse("Plase select name of report!");
				return false;
			}
			var _y = $("select[name=year2]").attr("value");
			var _m = $("select[name=month2]").attr("value");
			if (_m === "") {
				_gfalse("Plase select month!");
				return false;
			}
			if (_y === "") {
				_gfalse("Plase select year!");
				return false;
			}
			var _rt = $.trim($("select[name=report] option:selected").text());
			var _mt = $.trim($("select[name=month2] option:selected").text());
			_rt = _rt.replace(/^\(\d+\)\s+/,"");
			_rload("div.x-rlist", {_req: 'tpl', _f: 'report'+_r, report: _r, opt: '2', year2: _y, month2: _m, _rt: _rt, _mt: _mt });
		});
		$("button[name=bt3]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _r = $("select[name=report]").attr("value");
			if (_r === "") {
				_gfalse("Plase select name of report!");
				return false;
			}
			var _d1 = $("select[name=day3a]").attr("value");
			var _y1 = $("select[name=year3a]").attr("value");
			var _m1 = $("select[name=month3a]").attr("value");
			var _d2 = $("select[name=day3b]").attr("value");
			var _y2 = $("select[name=year3b]").attr("value");
			var _m2 = $("select[name=month3b]").attr("value");
			if (_d1 === "") {
				_gfalse("Plase select Start day!");
				return false;
			}

			if (_m1 === "") {
				_gfalse("Plase select Start month!");
				return false;
			}

			if (_y1 === "") {
				_gfalse("Plase select Start year!");
				return false;
			}
			
			if (_d2 === "") {
				_gfalse("Plase select End day!");
				return false;
			}

			if (_m2 === "") {
				_gfalse("Plase select End month!");
				return false;
			}

			if (_y2 === "") {
				_gfalse("Plase select End year!");
				return false;
			}
			var _rt = $.trim($("select[name=report] option:selected").text());
			var _mt1 = $.trim($("select[name=month3a] option:selected").text());
			var _mt2 = $.trim($("select[name=month3b] option:selected").text());
			_rt = _rt.replace(/^\(\d+\)\s+/,"");
			_rload("div.x-rlist", {_req: 'tpl', _f: 'report'+_r, report: _r, opt: '3', year3a: _y1, month3a: _m1, day3a: _d1, year3b: _y2, month3b: _m2, day3b: _d2, _rt: _rt, _mt1: _mt1, _mt2: _mt2 });
		});
	});
</script>