@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( Request["report"].IsEmpty() || Request["report"].AsInt() != 3) {
		@:Invalid request!
		return;
	}
	if ( Request["opt"].IsEmpty() ) {
		@:Invalid request!
		return;	
	}
}
<style type="text/css">
#x-tablet {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
#x-tablet th,
#x-tablet td {
	padding:2px;
	border:1px solid #dddddd;
}
#x-tablet th {
	font-weight:bold;
	color:#ffffff;
	background: #000000;
}
#x-tablet td.f1 {
	width: 100px;
	text-align: right;
}
</style>

@{
	dynamic tbl = new Db();
	var html = "";
	var tpfile = "";
	var tpname = "";
	int opt = Request["opt"].AsInt();
	var _rtitle = Request["_rt"];
	if ( opt == 1 ) {
		if ( !Request["year1"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year1"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {
				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Yearly Report : "+Request["year1"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}')  GROUP BY Users.Company  ORDER BY Users.Company", Request["year1"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_load FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company, Request["year1"]  ) );
				var w2 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_discharge FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company, Request["year1"]  ) );
				var w3 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_transit FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}')", tt.Company, Request["year1"]  ) );
				int w4 = 0;
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_load == null ) {
							html += 0;
						} else {
							t1 += w.total_load;
							w4 += w.total_load;
							html += w.total_load.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_discharge == null ) {
							html += 0;
						} else {
							t2 += w.total_discharge;
							w4 += w.total_discharge;
							html += w.total_discharge.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_transit == null ) {
							html += 0;
						} else {
							t3 += w.total_transit;
							w4 += w.total_transit;
							html += w.total_transit.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>"+_rtitle+"</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th>Load</th><th>Discharge</th><th>Transit</th><th>Total</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	} else 	if ( opt == 2 ) {
		if ( !Request["year2"].IsEmpty() && !Request["month2"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year2"]+Request["month2"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Monthly Report : "+Request["_mt"]+", "+Request["year2"];
			html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{0}') AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{1}')  GROUP BY Users.Company  ORDER BY Users.Company", Request["year2"], Request["month2"] ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_load FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}' )", tt.Company, Request["year2"], Request["month2"] ) );
				var w2 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_discharge FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}' )", tt.Company, Request["year2"], Request["month2"] ) );
				var w3 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_transit FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Users.Company = '{0}') AND (DATEPART(yyyy, Declaration_Form_Master.Submit_Date) = '{1}' ) AND (DATEPART(m, Declaration_Form_Master.Submit_Date) = '{2}' )", tt.Company, Request["year2"], Request["month2"] ) );
				int w4 = 0;
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_load == null ) {
							html += 0;
						} else {
							t1 += w.total_load;
							w4 += w.total_load;
							html += w.total_load.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_discharge == null ) {
							html += 0;
						} else {
							t2 += w.total_discharge;
							w4 += w.total_discharge;
							html += w.total_discharge.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_transit == null ) {
							html += 0;
						} else {
							t3 += w.total_transit;
							w4 += w.total_transit;
							html += w.total_transit.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>" + _rtitle + "</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th>Load</th><th>Discharge</th><th>Transit</th><th>Total</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	} else 	if ( opt == 3 ) {
		if ( !Request["year3a"].IsEmpty() && !Request["month3a"].IsEmpty() && !Request["day3a"].IsEmpty()
			&& !Request["year3b"].IsEmpty() && !Request["month3b"].IsEmpty() && !Request["day3b"].IsEmpty() ) {
			tpname = Request["report"]+opt+Request["year3a"]+Request["month3a"]+Request["day3a"]+Request["year3b"]+Request["month3b"]+Request["day3b"];
			tpfile = Server.MapPath("~/rw/report/report"+tpname+".dat");
			// output from cache
			if ( Ux.CacheReport && File.Exists( tpfile ) ) {

				// renew after 1 day
				DateTime now = DateTime.Now.AddDays(-1);
				DateTime dtt = File.GetLastWriteTime(tpfile);
				if ( now.ToString( "yyyyMMdd" ).AsInt() > dtt.ToString( "yyyyMMdd" ).AsInt() ) {
					File.Delete( tpfile );
				} else {
					Array dtf = File.ReadAllLines( tpfile );
					if ( dtf == null ) {
						File.Delete( tpfile );
					} else {
						foreach ( string cl in dtf ) {
							html += cl;
						}
					}
					if ( !html.IsEmpty() ) {
						html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
						@Html.Raw( html );
						  return;
					}
				}
			}
			_rtitle += " - Weekly Report : From "+Request["day3a"]+" "+Request["_mt1"]+","+Request["year3a"]+" to "+Request["day3b"]+" "+Request["_mt2"]+","+Request["year3b"];

			DateTime sdatei = new DateTime(Request["year3a"].AsInt(),Request["month3a"].AsInt(),Request["day3a"].AsInt());
			DateTime edatei = new DateTime(Request["year3b"].AsInt(),Request["month3b"].AsInt(),Request["day3b"].AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			
			html = "";
			var data = tbl.Query( string.Format( "SELECT Users.Company FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Master.Submit_Date >= '{0}') AND ( Declaration_Form_Master.Submit_Date < '{1}')  GROUP BY Users.Company  ORDER BY Users.Company", sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
			int i = 0;
			int t1 = 0;
			int t2 = 0;
			int t3 = 0;
			int t4 = 0;
			foreach ( var tt in data ) {
				var w1 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_load FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Load') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w2 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_discharge FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Discharge') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				var w3 = tbl.Query( string.Format( "SELECT COUNT(DISTINCT Declaration_Form_Master.Master_ID) AS total_transit FROM Users INNER JOIN Declaration_Form_Master ON Users.UserID = Declaration_Form_Master.Agent_ID INNER JOIN Declaration_Form_Detail ON Declaration_Form_Master.Master_ID = Declaration_Form_Detail.Master_ID  WHERE (Declaration_Form_Master.Confirmation = '1') AND (Declaration_Form_Detail.LDT = 'Transit') AND (Users.Company = '{0}') AND (Declaration_Form_Master.Submit_Date >= '{1}') AND ( Declaration_Form_Master.Submit_Date < '{2}')", tt.Company, sdatei.ToString( "yyyy-MM-dd" ), dt2.ToString( "yyyy-MM-dd" ) ) );
				int w4 = 0;
				i++;
				html += "<tr>";
				html += "<td>";
				html += i;
				html += "</td>";
				html += "<td>";
				html += tt.Company;
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w1 ) {
						if ( w.total_load == null ) {
							html += 0;
						} else {
							t1 += w.total_load;
							w4 += w.total_load;
							html += w.total_load.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w2 ) {
						if ( w.total_discharge == null ) {
							html += 0;
						} else {
							t2 += w.total_discharge;
							w4 += w.total_discharge;
							html += w.total_discharge.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				try {
					foreach ( var w in w3 ) {
						if ( w.total_transit == null ) {
							html += 0;
						} else {
							t3 += w.total_transit;
							w4 += w.total_transit;
							html += w.total_transit.ToString( "#,##0" );
						}
					}
				}
				catch ( Exception e ) {
					html += 0;
				}
				html += "</td>";
				html += "<td>";
				html += w4.ToString( "#,##0" );
				html += "</td>";
				html += "</tr>";
			}
			if ( !html.IsEmpty() ) {
				var h = "";
				h += "<h1>" + _rtitle + "</h1>";
				h += "<table id='x-tablet'>";
				h += "<tr><th>#</th><th>Agent</th><th>Load</th><th>Discharge</th><th>Transit</th><th>Total</th></tr>";
				h += html;
				t4 = t1 + t2 + t3;
				h += "<tr><td></td><td class='bold right'>Total</td><td class='bold'>" + t1.ToString( "#,##0" ) + "</td><td class='bold'>" + t2.ToString( "#,##0" ) + "</td><td class='bold'>" + t3.ToString( "#,##0" ) + "</td><td class='bold'>" + t4.ToString( "#,##0" ) + "</td></tr>";
				h += "</table>";
				html = h;
			}
		}
	}
	if ( !html.IsEmpty() ) {
		if ( !tpfile.IsEmpty() ) {
			File.WriteAllText( @tpfile, html );
		}
		html += "<br><button class='button button_doc' name='btexcel' data-file='"+tpname+"'>Export to Excel</button>";
		@Html.Raw( html );
	} else {
		@: <h1>No record available</h1>
	}
}
