﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblDeclaration_Form_Master();
	dynamic tbl2 = new TblDeclaration_Form_Detail();
	dynamic tbl3 = new TblForm_Sub_Detail();

	var msg = "";

	// save
	if ( _post == "save_step1" ) {

		msg = "";

		if ( _d["ETA_Date"].IsEmpty() ) {
			@Ux.json_return( false, "Please select ETA Date!" ); return;
		}

		string[] p = data.ETA_Date.Split( '/' );

		int appid = Ux.create_appid();
		obj.Add( "Application_ID", appid );
		obj.Add( "Agent_ID", WebSecurity.CurrentUserId );
		obj.Add( "Agent_IP", HttpContext.Current.Request.UserHostAddress );
		obj.Add( "Submit_Date", DateTime.Now );
		obj.Add( "KPC_Status", "0" );
		obj.Add( "KPA_Status", "0" );
		obj.Add( "Confirmation", "0" );

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "ETA_Date" );
		( (IDictionary<String, Object>)data ).Remove( "eta_hour" );
		( (IDictionary<String, Object>)data ).Remove( "eta_min" );

		obj.Add( "ETA_Date", p[2] + "-" + p[1] + "-" + p[0] );

		string masterid = "0";
		try {
			var dx = tbl.Insert( data );
			foreach ( var dxx in dx ) {
				if ( dxx.Key == "ID" ) {
					masterid = dxx.Value.ToString();
					break;
				}
			}
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_add_step1", msg );
			@Ux.json_return( false, msg ); return;
		}

		if ( masterid == "0" ) {
			Ux.audittrail( false, "secondschedule_save_step1", "Failed to get Id" );
			@Ux.json_return( false, "Failed to get Id" ); return;
		}

		//int masterid = tbl.First( Application_ID: appid, Columns: "Master_ID" ).Master_ID;
		Response.Cookies["masterid"].Value = masterid;
		Response.Cookies["masterid"].Expires = DateTime.Now.AddDays( 1 );

		Ux.audittrail( true, "secondschedule_save_step1", "Data Updated" );
		@Ux.json_return( true, "Data Updated!", masterid ); return;
	}

	// update
	if ( _post == "update_step1" ) {

		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		msg = "";

		if ( _d["ETA_Date"].IsEmpty() ) {
			@Ux.json_return( false, "Please select ETA Date!" ); return;
		}

		string[] p = data.ETA_Date.Split( '/' );

		obj.Add( "Agent_ID", WebSecurity.CurrentUserId );
		obj.Add( "Agent_IP", HttpContext.Current.Request.UserHostAddress );
		obj.Add( "Submit_Date", DateTime.Now );
		obj.Add( "KPC_Status", "0" );
		obj.Add( "KPA_Status", "0" );
		obj.Add( "Confirmation", "0" );

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );
		( (IDictionary<String, Object>)data ).Remove( "ETA_Date" );
		( (IDictionary<String, Object>)data ).Remove( "eta_hour" );
		( (IDictionary<String, Object>)data ).Remove( "eta_min" );

		obj.Add( "ETA_Date", p[2] + "-" + p[1] + "-" + p[0] );

		if ( _d["hours_alert"].IsEmpty() ) {
			( (IDictionary<String, Object>)data ).Remove( "hours_alert" );
			obj.Add( "hours_alert", "NULL" );
		}

		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_step1", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "secondschedule_update_step1", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// form edit if pending
	if ( _post == "update_step1_pending" ) {

		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		msg = "";

		if ( _d["ETA_Date"].IsEmpty() ) {
			@Ux.json_return( false, "Please select ETA Date!" ); return;
		}

		string[] p = data.ETA_Date.Split( '/' );

		obj.Add( "Agent_ID", WebSecurity.CurrentUserId );
		obj.Add( "Agent_IP", HttpContext.Current.Request.UserHostAddress );
		obj.Add( "Submit_Date", DateTime.Now );

		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );
		( (IDictionary<String, Object>)data ).Remove( "ETA_Date" );
		( (IDictionary<String, Object>)data ).Remove( "eta_hour" );
		( (IDictionary<String, Object>)data ).Remove( "eta_min" );
		( (IDictionary<String, Object>)data ).Remove( "Application_ID" );
		obj.Add( "ETA_Date", p[2] + "-" + p[1] + "-" + p[0] );

		if ( _d["hours_alert"].IsEmpty() ) {
			( (IDictionary<String, Object>)data ).Remove( "hours_alert" );
			obj.Add( "hours_alert", "NULL" );
		}

		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_step1", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "secondschedule_update_step1", "Data Updated" );
		if ( !Request["Application_ID"].IsEmpty() ) {
			Ux.sms_pending(Request["Application_ID"]);
		}
		@Ux.json_return( true, "Data Updated!" ); return;
	}
	
	// update Carry_type
	if ( _post == "update_carrytpe" ) {
		msg = "";
		if ( !Request["carrytype"].IsEmpty() && !Request["id"].IsEmpty() ) {
			try {
				tbl.Update( new { Carry_Type = Request["carrytype"] }, Request["id"].AsInt() );
			}
			catch ( Exception e ) {
				msg += e.Message.ToString();
			}
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_carrytpe", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "secondschedule_update_carrytpe", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// confirm declaration
	if ( _post == "confirm" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		try {
			tbl.Update( new { Confirmation = 1 }, Request["id"].AsInt() );
		}
		catch ( Exception e ) {
			msg += e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_confirm", msg );
			@Ux.json_return( false, msg ); return;
		}
		if ( !_d["appid"].IsEmpty() ) {
			Ux.sms_kpc(_d["appid"]);
		}
		Ux.audittrail( true, "secondschedule_confirm", "Data Updated" );	
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// save formdetails
	if ( _post == "save_formdetails" ) {
		if ( _d["Master_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		msg = "";

		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			msg += "<li>Please insert Proper Shipping Name!</li>";
		}

		if ( Ux._nosmatch(_d["Proper_Shipping_Name"]) ) {
			if ( _d["Trade_Name"].IsEmpty() ) {
				msg += "<li>Please select Trade Name!</li>";
			}
		}
		
		if ( _d["imo_class"].IsEmpty() ) {
			msg += "<li>Please insert IMO Class!</li>";
		}

		if ( _d["UN_No"].IsEmpty() ) {
			msg += "<li>Please insert UN Number!</li>";
		}

		if ( _d["LDT"].IsEmpty() ) {
			msg += "<li>Please select Load/Discharge/Transit!</li>";
		}

		if ( _d["PortLoading"].IsEmpty() ) {
			msg += "<li>Please select Port of Loading!</li>";
		}

		if ( _d["PortDischarging"].IsEmpty() ) {
			msg += "<li>Please select Port of Discharging!</li>";
		}

		if ( ( !_d["imo_class"].IsEmpty() && _d["imo_class"] == "3" || !_d["SubRisk"].IsEmpty() && _d["SubRisk"] == "3" ) && _d["Flash_Point"].IsEmpty() ) {
			msg += "<li>Please insert Flash Point!</li>";
		}

		if ( !_d["Flash_Point"].IsEmpty() ) {
			if ( _d["Flash_Point"] == "000" || _d["Flash_Point"] == "00" || _d["Flash_Point"] == "-00" ||  _d["Flash_Point"] == "+00" ) {
				msg += "<li>Invalid input for Flash Point!</li>";
			}
		}
		
		if ( _d["tanks"].IsEmpty() ) {
			msg += "<li>Please insert Number of Tanks!</li>";
		}

		if ( _d["tanks"].AsInt() > 20 ) {
			msg += "<li>Only 20 tanks maximum!</li>";
		}
		
		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, "<ul>"+msg+"</ul>" ); return;
		}
		
		msg = "";
		string detailsid = "0";
		try {
			var dx = tbl2.Insert( data );
			foreach ( var dxx in dx ) {
				if ( dxx.Key == "ID" ) {
					detailsid = dxx.Value.ToString();
					break;
				}
			}
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formdetails", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "secondschedule_save_formdetails", "Data Updated" );
		@Ux.json_return( true, "Data Updated!", detailsid.ToString() ); return;
	}

	if ( _post == "delete_formdetails" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		tbl2.dodelete( _d["id"].AsInt() );
		Ux.audittrail( true, "secondschedule_delete_formdetails", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	if ( _post == "save_formsubdetails" ) {
		if ( _d["Master_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		if ( _d["FormDetail_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		Dictionary<string, string> sp = new Dictionary<string, string>();
		string[] PSOnboard = Request.Form.GetValues( "PSOnboard" );
		string[] Weight = Request.Form.GetValues( "Weight" );

		msg = "";


		foreach ( var psx in PSOnboard ) {
			foreach ( var wx in Weight ) {
				if ( !sp.ContainsKey( psx ) && !sp.ContainsValue( wx ) ) {
					sp.Add( psx, wx );
				}
			}
		}

		foreach ( var ccx in sp ) {
			try {
				tbl3.Insert( new { Master_ID = _d["Master_ID"].AsInt(), FormDetail_ID = _d["FormDetail_ID"].AsInt(), PSOnboard = ccx.Key, Weight = ccx.Value, Measurement = _d["Measurement"] } );
			}
			catch ( Exception e ) {
				msg = e.Message.ToString();
			}
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		if ( !_d["Remarks"].IsEmpty() ) {
			try {
				tbl2.Update( new { Remarks = _d["Remarks"] }, _d["FormDetail_ID"].AsInt() );
			}
			catch ( Exception e ) {
				msg += e.Message.ToString();
			}
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		Ux.audittrail( true, "secondschedule_save_formsubdetails", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	if ( _post == "update_formsubdetails" ) {
		
		msg = "";
		
		if ( _d["Master_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		if ( _d["FormDetail_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		
		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			msg += "<li>Please insert Proper Shipping Name!</li>";
		}
		
		if ( Ux._nosmatch(_d["Proper_Shipping_Name"]) ) {
			if ( _d["Trade_Name"].IsEmpty() ) {
				msg += "<li>Please select Trade Name!</li>";
			}
		}
		if ( _d["imo_class"].IsEmpty() ) {
			msg += "<li>Please insert IMO Class!</li>";
		}
		
		if ( ( !_d["imo_class"].IsEmpty() && _d["imo_class"] == "3" || !_d["SubRisk"].IsEmpty() && _d["SubRisk"] == "3" ) && _d["Flash_Point"].IsEmpty() ) {
			msg += "<li>Please insert flast point!</li>";
		}
		
		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, "<ul>"+msg+"</ul>" ); return;
		}
		
		msg = "";
		
		var did = tbl3.FindBy( FormDetail_ID: _d["FormDetail_ID"].AsInt() );
		foreach ( var tt in did ) {
			tbl3.Delete( tt.IDSubDetail );
		}

		Dictionary<string, string> sp = new Dictionary<string, string>();
		string[] PSOnboard = Request.Form.GetValues( "PSOnboard" );
		string[] Weight = Request.Form.GetValues( "Weight" );

		msg = "";


		foreach ( var psx in PSOnboard ) {
			foreach ( var wx in Weight ) {
				if ( !sp.ContainsKey( psx ) && !sp.ContainsValue( wx ) ) {
					sp.Add( psx, wx );
				}
			}
		}

		foreach ( var ccx in sp ) {
			try {
				tbl3.Insert( new { Master_ID = _d["Master_ID"].AsInt(), FormDetail_ID = _d["FormDetail_ID"].AsInt(), PSOnboard = ccx.Key, Weight = ccx.Value, Measurement = _d["Measurement"] } );
			}
			catch ( Exception e ) {
				msg = e.Message.ToString();
			}
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}
		
		try {
			tbl2.Update( new { Trade_Name = _d["Trade_Name"], LDT = _d["LDT"], PortLoading = _d["PortLoading"], PortDischarging = _d["PortDischarging"], Flash_Point = _d["Flash_Point"], SubRisk = _d["SubRisk"], Remarks = _d["Remarks"] }, _d["FormDetail_ID"].AsInt() );
		}
		catch ( Exception e ) {
			msg += e.Message.ToString();
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		Ux.audittrail( true, "secondschedule_update_formsubdetails", "Data Updated" );
		if ( !Request["appidpending"].IsEmpty() ) {
			Ux.sms_pending(Request["appidpending"]);
		}
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// package
	// save formdetails
	if ( _post == "save_formdetails2" ) {
		if ( _d["Master_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		msg = "";

		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			msg += "<li>Please insert Proper Shipping Name!</li>";
		}
		
		if ( Ux._nosmatch(_d["Proper_Shipping_Name"]) ) {
			if ( _d["Trade_Name"].IsEmpty() ) {
				msg += "<li>Please select Trade Name!</li>";
			}
		}

		if ( _d["imo_class"].IsEmpty() ) {
			msg += "<li>Please insert IMO Class!</li>";
		}

		if ( _d["UN_No"].IsEmpty() ) {
			msg += "<li>Please insert UN Number!</li>";
		}

		if ( _d["LDT"].IsEmpty() ) {
			msg += "<li>Please select Load/Discharge/Transit!</li>";
		}

		if ( _d["PortLoading"].IsEmpty() ) {
			msg += "<li>Please select Port of Loading!</li>";
		}

		if ( _d["PortDischarging"].IsEmpty() ) {
			msg += "<li>Please select Port of Discharging!</li>";
		}

		if ( ( !_d["imo_class"].IsEmpty() && _d["imo_class"] == "3" || !_d["SubRisk"].IsEmpty() && _d["SubRisk"] == "3" ) && _d["Flash_Point"].IsEmpty() ) {
			msg += "<li>Please insert Flash Point!</li>";
		}
		
		if ( !_d["Flash_Point"].IsEmpty() ) {
			if ( _d["Flash_Point"] == "000" || _d["Flash_Point"] == "00" || _d["Flash_Point"] == "-00" ||  _d["Flash_Point"] == "+00" ) {
				msg += "<li>Invalid input for Flash Point!</li>";
			}
		}
		
		if ( _d["Type_of_Vessel"].IsEmpty() ) {
			msg += "<li>Cannot get type of vessel!</li>";
		}

		if ( _d["Type_of_Vessel"] == "Container" ) {
			if ( _d["NumofCTU"].IsEmpty() ) {
				msg += "<li>Please insert number of CTU!</li>";
			}
		}
		
		if ( !_d["NumofCTU"].IsEmpty() && !_d["NumofCTU"].IsInt() ) {
			msg += "<li>Invalid input for Number of CTU!</li>";
		}
		
		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, "<ul>"+msg+"</ul>" ); return;
		}
		
		msg = "";
		
		( (IDictionary<String, Object>)data ).Remove( "Type_of_Vessel" );

		string detailsid = "0";
		try {
			var dx = tbl2.Insert( data );
			foreach ( var dxx in dx ) {
				if ( dxx.Key == "ID" ) {
					detailsid = dxx.Value.ToString();
					break;
				}
			}
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>" + e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formdetails_package", msg );
			@Ux.json_return( false, msg ); return;
		}
		Ux.audittrail( true, "secondschedule_save_formdetails_package", "Data Updated" );
		@Ux.json_return( true, "Data Updated!", detailsid.ToString() ); return;
	}

	if ( _post == "save_formsubdetails2" ) {
		if ( _d["Master_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		if ( _d["FormDetail_ID"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		msg = "";
		if ( !_d["NumofCTU"].IsEmpty() && _d["NumofCTU"] != null ) {
			int cnt = _d["NumofCTU"].AsInt();
			for ( int i = 0; i < cnt; i++ ) {
				try {
					tbl3.Insert( new { Master_ID = _d["Master_ID"].AsInt(), FormDetail_ID = _d["FormDetail_ID"].AsInt(), CTU_id = _d["CTU_id" + i], Dimension = _d["Dimension" + i], Weight = _d["Weight" + i], Measurement = _d["Measurement"], CTUTeus = _d["CTUTeus" + i], Type = _d["Type" + i], PSOnboard_Cargo = _d["PSOnboard_Cargo" + i], Lorry_ETA = _d["eta_hour" + i] + ":" + _d["eta_min" + i], Lorry_plate = _d["Lorry_plate" + i], Lorry_Company = _d["Lorry_Company" + i] } );
				}
				catch ( Exception e ) {
					msg = e.Message.ToString();
				}
			}
		}


		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		if ( !_d["Remarks"].IsEmpty() ) {
			try {
				tbl2.Update( new { Remarks = _d["Remarks"] }, _d["FormDetail_ID"].AsInt() );
			}
			catch ( Exception e ) {
				msg += e.Message.ToString();
			}
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		Ux.audittrail( true, "secondschedule_save_formsubdetails", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	if ( _post == "update_formsubdetails2" ) {
		msg = "";
		
		if ( _d["Master_ID"].IsEmpty() ) {
			msg += "<li>Invalid Request!</li>";
		}

		if ( _d["FormDetail_ID"].IsEmpty() ) {
			msg += "<li>Invalid Request!</li>";
		}

		if ( _d["Proper_Shipping_Name"].IsEmpty() ) {
			msg += "<li>Please insert Proper Shipping Name!</li>";
		}
		
		if ( Ux._nosmatch(_d["Proper_Shipping_Name"]) ) {
			if ( _d["Trade_Name"].IsEmpty() ) {
				msg += "<li>Please select Trade Name!</li>";
			}
		}
		
		if ( _d["imo_class"].IsEmpty() ) {
			msg += "<li>Please insert IMO Class!</li>";
		}
		
		if ( ( !_d["imo_class"].IsEmpty() && _d["imo_class"] == "3" || !_d["SubRisk"].IsEmpty() && _d["SubRisk"] == "3" ) && _d["Flash_Point"].IsEmpty() ) {
			msg += "<li>Please insert flast point!</li>";
		}

		
		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, "<ul>"+msg+"</ul>" ); return;
		}
		
		msg = "";
		
		var did = tbl3.FindBy( FormDetail_ID: _d["FormDetail_ID"].AsInt() );
		foreach ( var tt in did ) {
			tbl3.Delete( tt.IDSubDetail );
		}

		msg = "";
		if ( !_d["NumofCTU"].IsEmpty() && _d["NumofCTU"] != null ) {
			int cnt = _d["NumofCTU"].AsInt();
			for ( int i = 0; i < cnt; i++ ) {
				try {
					tbl3.Insert( new { Master_ID = _d["Master_ID"].AsInt(), FormDetail_ID = _d["FormDetail_ID"].AsInt(), CTU_id = _d["CTU_id" + i], Dimension = _d["Dimension" + i], Weight = _d["Weight" + i], Measurement = _d["Measurement"], CTUTeus = _d["CTUTeus" + i], Type = _d["Type" + i], PSOnboard_Cargo = _d["PSOnboard_Cargo" + i], Lorry_ETA = _d["eta_hour" + i] + ":" + _d["eta_min" + i], Lorry_plate = _d["Lorry_plate" + i], Lorry_Company = _d["Lorry_Company" + i] } );
				}
				catch ( Exception e ) {
					msg = e.Message.ToString();
				}
			}
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_save_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		try {
			tbl2.Update( new { Trade_Name = _d["Trade_Name"], LDT = _d["LDT"], PortLoading = _d["PortLoading"], PortDischarging = _d["PortDischarging"], Flash_Point = _d["Flash_Point"], GroupOfPacking = _d["GroupOfPacking"], SubRisk = _d["SubRisk"], TypeOfPacking = _d["TypeOfPacking"], Remarks = _d["Remarks"] }, _d["FormDetail_ID"].AsInt() );
		}
		catch ( Exception e ) {
			msg += e.Message.ToString();
		}

		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "secondschedule_update_formsubdetails", msg );
			@Ux.json_return( false, msg ); return;
		}

		Ux.audittrail( true, "secondschedule_update_formsubdetails", "Data Updated" );

		if ( !Request["appidpending"].IsEmpty() ) {
			Ux.sms_pending(Request["appidpending"]);
		}
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// approve declaration
	if ( _post == "approve" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		if ( _d["cat"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}

		if ( _d["apass"].IsEmpty() ) {
			@Ux.json_return( false, "Password not match!" ); return;
		}

		msg = "";
		MembershipUser u = Membership.GetUser( WebSecurity.CurrentUserName );
		try {
			if ( !u.ChangePassword( _d["apass"], _d["apass"] ) ) {
				msg += "Password not match.";
			}
		}
		catch ( Exception e ) {
			msg += e.Message;
		}

		if ( !msg.IsEmpty() ) {
			@Ux.json_return( false, msg ); return;
		}

		msg = "";
		if ( _d["cat"] == "kpc" ) {
			try {
				tbl.Update( new { KPC_Approved_ID = WebSecurity.CurrentUserId, KPC_Approved_Time = DateTime.Now, KPC_IP = HttpContext.Current.Request.UserHostAddress, KPC_Status = _d["KPC_Status"], remarks_kpc = _d["remarks_kpc"] }, Request["id"].AsInt() );
			}
			catch ( Exception e ) {
				msg += e.Message.ToString();
			}
			if ( !msg.IsEmpty() ) {
				Ux.audittrail( false, "secondschedule_kpc_submit", msg );
				@Ux.json_return( false, msg ); return;
			}
			if ( _d["KPC_Status"] == "2" || _d["KPC_Status"] == "3" ) {
				var text = ( !_d["remarks_kpc"].IsEmpty() ? _d["remarks_kpc"] : "Application rejected" );
				dynamic tmsg = new TblMsg();
				var _parent = 1;
				var _parentd = tmsg.Find( Application_ID: _d["aid"], Columns: "parent" );
				foreach(var xx in _parentd ) {
					if ( xx.parent ) {
						_parent = 0;
					}
				}
				tmsg.Insert( new { Master_ID = _d["id"].AsInt(), Application_ID = _d["aid"], Agent_ID = _d["agentid"].AsInt(), Status = _d["KPC_Status"].AsInt(), UserId = WebSecurity.CurrentUserId, Text = text, Msg_date =  DateTime.Now, isread = 0, isuread = 1,parent = _parent } );
			}
			
			// send sms to KPA
			if ( _d["KPC_Status"] == "1" && !_d["aid"].IsEmpty() ) {
				Ux.sms_kpa( _d["aid"] );
			}

			Ux.audittrail( true, "secondschedule_kpc_submit", "Data Updated" );	
			@Ux.json_return( true, "Data Updated!" ); return;
		}

		if ( _d["cat"] == "kpa" ) {
			try {
				tbl.Update( new { KPA_Approved_ID = WebSecurity.CurrentUserId, KPA_Approved_Time = DateTime.Now, KPA_IP = HttpContext.Current.Request.UserHostAddress, KPA_Status = _d["KPA_Status"], remarks_kpa = _d["remarks_kpa"] }, Request["id"].AsInt() );
			}
			catch ( Exception e ) {
				msg += e.Message.ToString();
			}
			if ( !msg.IsEmpty() ) {
				Ux.audittrail( false, "secondschedule_kpa_submit", msg );
				@Ux.json_return( false, msg ); return;
			}
			if ( _d["KPA_Status"] == "2" || _d["KPA_Status"] == "3" ) {
				var text = ( !_d["remarks_kpa"].IsEmpty() ? _d["remarks_kpa"] : "Application rejected" );
				dynamic tmsg = new TblMsg();
				var _parent = 1;
				var _parentd = tmsg.Find( Application_ID: _d["aid"], Columns: "parent" );
				foreach(var xx in _parentd ) {
					if ( xx.parent ) {
						_parent = 0;
					}
				}
				tmsg.Insert( new { Master_ID = _d["id"].AsInt(), Application_ID = _d["aid"], Agent_ID = _d["agentid"].AsInt(), Status = _d["KPA_Status"].AsInt(), UserId = WebSecurity.CurrentUserId, Text = text, Msg_date = DateTime.Now, isread = 0, isuread = 1,parent = _parent } );
			}
			Ux.audittrail( false, "secondschedule_kpa_submit", "Data Updated" );	
			@Ux.json_return( true, "Data Updated!" ); return;
		}

	}
		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}