﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	/*if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}*/

	int masterid = 0;
	if ( !Request["masterid"].IsEmpty() ) {
		masterid = Request["masterid"].AsInt();
	} else {
		if ( Request.Cookies["masterid"] == null ) {
			@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
			return;
		}
		masterid = Request.Cookies["masterid"].Value.AsInt();
	}
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
		
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
	
	dynamic tbl = new TblDeclaration_Form_Detail();
	var obj = tbl.getinfo( Request["id"].AsInt() );
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	
	dynamic tbl2 = new TblForm_Sub_Detail();
	var obj2 = tbl2.Query( String.Format("select * from Form_Sub_Detail where FormDetail_ID = '{0}'", Request["id"].AsInt() ) );

}
<style type="text/css">
#x-table th {
	min-width: 200px !important;
	width: 200px !important;
}

#x-table th.pinfo,
#x-table td.pinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
#x-table th {
	font-weight: bold;
}
#x-table input.text {
	width: 200px !important;
}
#x-table textarea {
	width: 203px !important;
}

#x-tablep {
	width: 100%;
}

#x-tablep th {
	font-family: arial
	font-weight: normal;
	text-align: left;
	min-width: 50px !important;
	width: 100px !important;
	padding:4px;
	background: #000000;
	color: #ffffff;
	white-space: normal;
	font-size: 10px;
}
#x-tablep td {
	padding: 4px;
}

#x-tablep th:after {
	content: "";
}
#x-tablep input.text {
	width: 60px !important;
}
#x-tablep select.text {
	width: 100px !important;
}
</style>
<div class="dialog_max_height">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;font-weight:bold;'>Declaration is made less than @xs.hours_alert hours.</h1>
}
<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">
<tr>
<th class="pinfo">Proper Shipping Name</th>
<td class="pinfo">@s.Proper_Shipping_Name</td>
</tr>

<tr>
<th>Trade Name</th>
<td>
<select name="Trade_Name" class="text">
@{
	dynamic tbl1 = new TblTradename();
	var data = tbl1.All();
	foreach ( var x in data ) {
		if ( x.Name == s.Trade_Name ) {
			@:<option value="@x.Name" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name">@x.Name</option>	
		}
	}
}
</select>
</td>
</tr>


<tr>
<th class="pinfo">IMO Class</th>
<td class="pinfo">@s.imo_class</td>
</tr>

<tr>
<th class="pinfo">UN Number</th>
<td class="pinfo">@s.UN_No</td>
</tr>

<tr>
<th>Load/Discharge/Transit</th>
<td>
<select name="LDT" class="text">
<option value="Load"@( s.LDT == "Load" ? " selected" : "")>Load</option>
<option value="Discharge"@( s.LDT == "Discharge" ? " selected" : "")>Discharge</option>
<option value="Transit"@( s.LDT == "ransit" ? " selected" : "")>Transit</option>
</select>
</td>
</tr>

<tr>
<th>Port of Loading</th>
<td>
<select name="PortLoading" class="text">
<option value="@s.PortLoading">@s.PortLoading</option>
</select>
</td>
</tr>

<tr>
<th>Port of Discharging</th>
<td>
<select name="PortDischarging" class="text">
<option value="@s.PortDischarging">@s.PortDischarging</option>
</select>
</td>
</tr>

<tr>
<th>Flash Point</th>
<td><input type="text" name="Flash_Point" class="text" value="@s.Flash_Point">(&deg;C)</td>
</tr>

<tr>
<th>Sub risk (optional)</th>
<td><input type="text" name="SubRisk" class="text" value="@s.SubRisk"></td>
</tr>

<tr>
<th>Type of Packing</th>
<td>
<select name="TypeOfPacking" class="text">
<option value="">Please select</option>
@{
	dynamic tbl3 = new TblType_Of_Packing();
	var data3 = tbl3.All();
	foreach ( var x3 in data3 ) {
		@:<option value="@x3.TypeOfPacking"@( x3.TypeOfPacking == s.TypeOfPacking ? " selected" : "")>@x3.TypeOfPacking</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Packing Group</th>
<td>
<select name="GroupOfPacking" class="text">
@{
	var aa1 = new[] { "I","II","III" };
	foreach(var a1 in aa1) {
		@:<option value="@a1"@( s.GroupOfPacking == a1 ? " selected" : "")>@a1</option>
	}
}
</select>
</td>
</tr>

@{
	if ( xs.Type_of_Vessel == "Container" || xs.Type_of_Vessel == "Barge" || xs.Type_of_Vessel == "Other" || xs.Type_of_Vessel == "Ro Ro" || xs.Type_of_Vessel == "General Cargo" ) {
@:<tr>
@:<td colspan='2' style='padding-top:20px!important;font-weight:bold;'>
@:<table id="x-tablep">
	int cx = 0;
	foreach(var ix in obj2) {
@:<tr>
@:<th style="width:60px !important;">CTU ID</th>
@:<th style="width:80px !important;">Dimension</th>
@:<th style="width:60px !important;">Weight (Tonne)</th>
@:<th style="width:60px !important;">CTUTeus</th>
@:<th style="width:100px !important;">Type</th>
@:<th style="width:100px !important;">Precise Storage Onboard</th>
@:<th style="width:100px !important;">Lorry ETA (24 hr format)</th>
@:<th style="width:100px !important;">Lorry Plate No.</th>
@:<th style="width:150px !important;">Lorry Company</th>
@:</tr>
@:<tr>
@:<td class="border-left border-bottom"><input type="text" class="text" name="CTU_id@{@cx}" value="@ix.CTU_id"></td>
@:<td class="border-left border-bottom">
@:<select name="Dimension@{@cx}" class="text" style="width:80px!important;">
@:<option value="" selected>Select one</option>
@:<option value="1"@( ix.Dimension == "1" ? " selected" : "")>20"</option>
@:<option value="2"@( ix.Dimension == "2" ? " selected" : "")>40"</option>
@:<option value="3"@( ix.Dimension == "3" ? " selected" : "")>Oversize</option>
@:</select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="Weight@{@cx}" value="@ix.Weight"></td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="CTUTeus@{@cx}" value="@ix.CTUTeus"></td>
@:<td class="border-left border-bottom">
@:<select name="Type@{@cx}" class="text" style="width:100px!important;">
@:                <option value="" selected>Please select one</option>
@:                <option value="Not specified"@( ix.Type == "Not specified" ? " selected" : "")>Not specified</option>
@:                <option value="In Bulk"@( ix.Type == "In Bulk" ? " selected" : "")>In Bulk</option>
@:                <option value="Drums"@( ix.Type == "Drums" ? " selected" : "")>Drums</option>
@:                <option value="Boxes"@( ix.Type == "Boxes" ? " selected" : "")>Boxes</option>
@:                <option value="Jerricons"@( ix.Type == "Jerricons" ? " selected" : "")>Jerricons</option>
@:                <option value="Bags"@( ix.Type == "Bags" ? " selected" : "")>Bags</option>
@:                <option value="Receptades"@( ix.Type == "Receptades" ? " selected" : "")>Receptades</option>
@:                <option value="Steets"@( ix.Type == "Steets" ? " selected" : "")>Steets</option>
@:                <option value="Trays (fitted with dividing partitions)"@( ix.Type == "Trays (fitted with dividing partitions)" ? " selected" : "")>Trays (fitted with dividing partitions)</option>
@:                <option value="Tabes"@( ix.Type == "Tabes" ? " selected" : "")>Tabes</option>
@:                <option value="Reels"@( ix.Type == "Reels" ? " selected" : "")>Reels</option>
@:                <option value="Others"@( ix.Type == "Others" ? " selected" : "")>Others</option>
@:              </select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="PSOnboard_Cargo@{@cx}" value="@ix.PSOnboard_Cargo" style="width:100px !important;"></td>
@:<td class="border-left border-bottom">
@:<select name="eta_hour@{@cx}" class="text" style="width:50px !important;">
string[] eta = ix.Lorry_ETA.Split(':');
@:<option value="">--</option>
	var p1 = "";
	for(int x = 0; x < 24; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1"@( eta[0] == p1 ? " selected" : "")>@p1</option>
	}
@:</select>
@:<select name="eta_min@{@cx}" class="text" style="width:50px !important;">
@:<option value="">--</option>

	p1 = "";
	for(int x = 0; x < 60; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1"@( eta[1] == p1 ? " selected" : "")>@p1</option>
	}
@:</select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text lplate" name="Lorry_plate@{@cx}" value="@ix.Lorry_plate" style="width:100px!important;"></td>
@:<td class="border-left border-bottom border-right"><input type="text" class="text" name="Lorry_Company@{@cx}" value="@ix.Lorry_Company" style="width:150px !important;"></td>
@:</tr>
cx++;
} // for

@:</table>
@:</td>
@:</tr>


@:<tr>
@:<th class="pinfo">Number of CTU</th>
@:<td class="pinfo">@s.NumofCTU</td>
@:</tr>

	} // xs.Type_of_Vessel == "Container" 
}

<tr>
<th>Remarks</th>
<td><textarea name="Remarks" class="text">@s.Remarks</textarea></td>
</tr>

</table>

<input type="hidden" name="Master_ID" value="@masterid">
<input type="hidden" name="FormDetail_ID" value="@id">
<input type="hidden" name="Measurement" value="Tonne">
<input type="hidden" name="NumofCTU" value="@s.NumofCTU">
<input type="hidden" name="imo_class" value="@s.imo_class">
<input type="hidden" name="Proper_Shipping_Name" value="@s.Proper_Shipping_Name">
</form>
</div> <!-- /dialog_max_height -->

@*if ( Ux.IsKPC ) {
	<script type="text/javascript">
	$(document).ready(function() {
		$(".text").each(function() {
			if ( $(this).hasClass("lplate") == false ) {
				$(this).attr("readonly","readonly");
			} else {
				$(this).css("border","1px solid red");
			}
		})
		$("select.text").attr("disabled","disabled");
	});
	</script>
}*@
