﻿@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	if ( !Request["preset"].IsEmpty() ) {
		Ux._clean_agent_form();
		Response.Cookies["pstep3"].Expires = DateTime.Now.AddDays(-1);
		if ( Request.Cookies["masterid"] != null ) {
			int masterid = Request.Cookies["masterid"].Value.AsInt();
			dynamic xtbl = new TblDeclaration_Form_Master();
			var obj = xtbl.FindBy( Master_ID: masterid );
			foreach(var bb in obj) {
				if ( bb.Confirmation == "0" ) {
					xtbl.dodelete( bb.Master_ID);
				}
			}
			Response.Cookies["masterid"].Expires = DateTime.Now.AddDays(-1);
		}
	} else {
		if ( !Request["sreset"].IsEmpty() ) {
			int formid = Request["sreset"].AsInt();
			dynamic xtbl = new TblDeclaration_Form_Detail();
			xtbl.dodelete(formid);
		}
		
		if ( Request.Cookies["pstep3"] != null ) {
			if ( Request.Cookies["masterid"] != null ) {
				@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule-step3';</script>
				return;
			}
		}
	
		if ( Request.Cookies["masterid"] != null ) {
			@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule-step2';</script>
			return;
		}
	}
	
	var idx = Ux.ckey();
}
<div class="barmid border-corner6px-all">
<div id="sec">
<ul>
<li class="hide"><a href="#sec0">nothing</a></li>
<li><a href="#sec1" data-code="secondschedule-step1"><span class="ui-icon ui-icon-check"></span><b>Step 1: Vessel Information</b></a></li>
<li><a href="#sec2"><span class="ui-icon ui-icon-check"></span><b>Step 2 : Dangerous Goods</b></a></li>
<li><a href="#sec3"><span class="ui-icon ui-icon-check"></span><b>Step 3 : Confirmation</b></a></li>
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec1"><div class="x-list" id="@{ @idx }1"></div> </div> <!-- /sec1 -->
</div> <!-- /sec -->

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	/* remove tabs cookie */
	for(var x=0;x <= 10; x++) {
		$.delCookie("ui-tabs-"+x);
	}
	$.delCookie("cookietab");
	_sindex = 1;
	@Ux.js("ui/rsc/_tab.js", false);
	@{
		if ( !Request["_tab"].IsEmpty() ) {
			@:_tabselect(@Request["_tab"]);
		}
	}

});
</script>

</div>