﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}
	int masterid = Request.Cookies["masterid"].Value.AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
		
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
	
	dynamic tbl = new TblDeclaration_Form_Detail();
	var obj = tbl.getinfo( Request["id"].AsInt() );
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table th {
	min-width: 200px !important;
	width: 200px !important;
}

#x-table th.pinfo,
#x-table td.pinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
#x-table th {
	font-weight: bold;
}
#x-table input.text {
	width: 200px !important;
}
#x-table textarea {
	width: 203px !important;
}
</style>
<div class="dialog_max_height">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;font-weight:bold;'>Declaration is made less than @xs.hours_alert hours.</h1>
}
<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">
<tr>
<th class="pinfo">Proper Shipping Name</th>
<td class="pinfo">@s.Proper_Shipping_Name</td>
</tr>

<tr>
<th class="pinfo">Trade Name</th>
<td class="pinfo">@s.Trade_Name</td>
</tr>

<tr>
<th class="pinfo">IMO Class</th>
<td class="pinfo">@s.imo_class</td>
</tr>

<tr>
<th class="pinfo">UN Number</th>
<td class="pinfo">@s.UN_No</td>
</tr>

<tr>
<th class="pinfo">Load/Discharge/Transit</th>
<td class="pinfo">@s.LDT</td>
</tr>

<tr>
<th class="pinfo">Port of Loading</th>
<td class="pinfo">@s.PortLoading</td>
</tr>

<tr>
<th class="pinfo">Port of Discharging</th>
<td class="pinfo">@s.PortDischarging</td>
</tr>

<tr>
<th class="pinfo">Flash Point</th>
<td class="pinfo">
@{
if ( String.IsNullOrEmpty(s.Flash_Point) ) {
	@:-none-
} else {
	@s.Flash_Point @:(&deg;C)
}
}
</td>
</tr>

<tr>
<th class="pinfo">Sub risk</th>
<td class="pinfo">@s.SubRisk</td>
</tr>

<tr>
<td colspan='2' style='padding-top:20px!important;font-weight:bold;'>Precise Storage Onboard</td>
</tr>

<tr>
<td colspan='2'>
<table>
<tr>
<td style='width:50px;font-weight:bold;'>No</td>
<td style='width:250px;font-weight:bold;'>(Tanks of cargo hold number)</td>
<td style='font-weight:bold;'>Weight: <select name="Measurement" class="text" style="width:100px !important;">
<option value="" selected>Select one</option>
<option value="Litre">Litre</option>
<option value="KG">KG</option>
<option value="Metric Tonne">Metric Tonne</option>
</select>
</td>
</tr>
@{
	string cn = s.tanks;
	int i = 0;
	for(int cx = 0; cx < cn.AsInt(); cx++) {
		i++;
		<tr>
		<td>@i</td>
		<td><input type="text" class="text" name="PSOnboard" value=""></td>
		<td><input type="text" class="text" name="Weight" value="0"></td>
		</tr>
	}
}
<tr>
<td colspan='2' style='text-align:right;font-weight:bold;padding-right:5px;'>Total</td><td><input type="text" class="text" name="total" value=""></td>
</tr>
<tr>
<td colspan='2' style='text-align:right;font-weight:bold;padding-right:5px;vertical-align:top;padding-top:5px;'>Comment</td><td><textarea name="Remarks" class="text"></textarea></td>
</tr>
</table>
</td>
</tr>

</table>

<input type="hidden" name="Master_ID" value="@masterid">
<input type="hidden" name="FormDetail_ID" value="@id">
</form>
</div> <!-- /dialog_max_height -->
