﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}
	bool dok = false;
	int masterid = Request.Cookies["masterid"].Value.AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
		
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
	
	dynamic tbl = new TblDeclaration_Form_Detail();
	var obj = tbl.getinfo( Request["id"].AsInt() );
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		dok = true;
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	if ( !dok ) {
		@: Invalid parameter!
		return;
	}
}
<style type="text/css">
#x-table th {
	min-width: 200px !important;
	width: 200px !important;
}

#x-table th.pinfo,
#x-table td.pinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
#x-table th {
	font-weight: bold;
}
#x-table input.text {
	width: 200px !important;
}
#x-table textarea {
	width: 203px !important;
}

#x-tablep {
	width: 100%;
}

#x-tablep th {
	font-family: arial
	font-weight: normal;
	text-align: left;
	min-width: 50px !important;
	width: 100px !important;
	padding:4px;
	background: #000000;
	color: #ffffff;
	white-space: normal;
	font-size: 10px;
}
#x-tablep td {
	padding: 4px;
}

#x-tablep th:after {
	content: "";
}
#x-tablep input.text {
	width: 60px !important;
}
#x-tablep select.text {
	width: 100px !important;
}
</style>
<div class="dialog_max_height">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;font-weight:bold;'>Declaration is made less than @xs.hours_alert hours.</h1>
}
<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">
<tr>
<th class="pinfo">Proper Shipping Name</th>
<td class="pinfo">@s.Proper_Shipping_Name</td>
</tr>

<tr>
<th class="pinfo">Trade Name</th>
<td class="pinfo">@s.Trade_Name</td>
</tr>

<tr>
<th class="pinfo">IMO Class</th>
<td class="pinfo">@s.imo_class</td>
</tr>

<tr>
<th class="pinfo">UN Number</th>
<td class="pinfo">@s.UN_No</td>
</tr>

<tr>
<th class="pinfo">Load/Discharge/Transit</th>
<td class="pinfo">@s.LDT</td>
</tr>

<tr>
<th class="pinfo">Port of Loading</th>
<td class="pinfo">@s.PortLoading</td>
</tr>

<tr>
<th class="pinfo">Port of Discharging</th>
<td class="pinfo">@s.PortDischarging</td>
</tr>

<tr>
<th class="pinfo">Flash Point</th>
<td class="pinfo">@s.Flash_Point (&deg;C)</td>
</tr>

<tr>
<th class="pinfo">Sub risk</th>
<td class="pinfo">@s.SubRisk</td>
</tr>

<tr>
<th class="pinfo">Type of Packing</th>
<td class="pinfo">@s.TypeOfPacking</td>
</tr>

<tr>
<th class="pinfo">Packing Group</th>
<td class="pinfo">@s.GroupOfPacking</td>
</tr>

@{
	if ( xs.Type_of_Vessel == "Container" || xs.Type_of_Vessel == "Barge" || xs.Type_of_Vessel == "Other" || xs.Type_of_Vessel == "Ro Ro" || xs.Type_of_Vessel == "General Cargo" ) {
@:<tr>
@:<td colspan='2' style='padding-top:20px!important;font-weight:bold;'>
@:<table id="x-tablep">
	double cn = s.NumofCTU;
	for(int cx = 0; cx < cn; cx++) {
@:<tr>
@:<th style="width:60px !important;">CTU ID</th>
@:<th style="width:80px !important;">Dimension</th>
@:<th style="width:60px !important;">Weight (Tonne)</th>
@:<th style="width:60px !important;">CTUTeus</th>
@:<th style="width:100px !important;">Type</th>
@:<th style="width:100px !important;">Precise Storage Onboard</th>
@:<th style="width:100px !important;">Lorry ETA (24 hr format)</th>
@:<th style="width:100px !important;">Lorry Plate No.</th>
@:<th style="width:150px !important;">Lorry Company</th>
@:</tr>
@:<tr>
@:<td class="border-left border-bottom"><input type="text" class="text" name="CTU_id@{@cx}" value=""></td>
@:<td class="border-left border-bottom">
@:<select name="Dimension@{@cx}" class="text" style="width:80px!important;">
@:<option value="" selected>Select one</option>
@:<option value="1">20"</option>
@:<option value="2">40"</option>
@:<option value="3">Oversize</option>
@:</select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="Weight@{@cx}" value=""></td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="CTUTeus@{@cx}" value=""></td>
@:<td class="border-left border-bottom">
@:<select name="Type@{@cx}" class="text" style="width:100px!important;">
@:                <option value="" selected>Please select one</option>
@:                <option value="Not specified">Not specified</option>
@:                <option value="In Bulk">In Bulk</option>
@:                <option value="Drums">Drums</option>
@:                <option value="Boxes">Boxes</option>
@:                <option value="Jerricons">Jerricons</option>
@:                <option value="Bags">Bags</option>
@:                <option value="Receptades">Receptades</option>
@:                <option value="Steets">Steets</option>
@:                <option value="Trays (fitted with dividing partitions)">Trays (fitted with dividing partitions)</option>
@:                <option value="Tabes">Tabes</option>
@:                <option value="Reels">Reels</option>
@:                <option value="Others">Others</option>
@:              </select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="PSOnboard_Cargo@{@cx}" value="" style="width:100px !important;"></td>
@:<td class="border-left border-bottom">
@:<select name="eta_hour@{@cx}" class="text" style="width:50px !important;">
@:<option value="">--</option>
	var p1 = "";
	for(int x = 0; x < 24; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1">@p1</option>
	}
@:</select>
@:<select name="eta_min@{@cx}" class="text" style="width:50px !important;">
@:<option value="">--</option>

	p1 = "";
	for(int x = 0; x < 60; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1">@p1</option>
	}
@:</select>
@:</td>
@:<td class="border-left border-bottom"><input type="text" class="text" name="Lorry_plate@{@cx}" value="" style="width:100px!important;"></td>
@:<td class="border-left border-bottom border-right"><input type="text" class="text" name="Lorry_Company@{@cx}" value="" style="width:150px !important;"></td>
@:</tr>
}

@:</table>
@:</td>
@:</tr>


@:<tr>
@:<th class="pinfo">Number of CTU</th>
@:<td class="pinfo">@s.NumofCTU</td>
@:</tr>

	} // xs.Type_of_Vessel == "Container" 
}

<tr>
<th>Remarks</th>
<td><textarea name="Remarks" class="text"></textarea></td>
</tr>

</table>

<input type="hidden" name="Master_ID" value="@masterid">
<input type="hidden" name="FormDetail_ID" value="@id">
<input type="hidden" name="Measurement" value="Tonne">
<input type="hidden" name="NumofCTU" value="@s.NumofCTU">
</form>
</div> <!-- /dialog_max_height -->
