@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}

	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}

	if ( Request.Cookies["pstep3"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule-step3';</script>
		return;
	}
	
	Response.Cookies["masterid"].Expires = DateTime.Now.AddDays(-1);
	Response.Cookies["pstep3"].Expires = DateTime.Now.AddDays(-1);
	
	// TODO: sendsms
}

<div class="ui-widget left" style="margin-top:9px;">
<div class="ui-state-highlight ui-corner-all" style="padding: 0.7em;"> 
<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
<span style='font-weight: solid !important; color: #000000 !important; font-size: 12px !important;'>
Thank you for submitting your application. One of our Port Operators and Port Authority Officers will process your application.
Please check the status of your application later.
</span></p>
</div>
</div>