@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	var idx = Ux.ckey();
	dynamic tbl = new Db();
}

<form id="form-step1" onsubmit="return false;">
<table id="x-table" style="width:100%;">

<tr>
<th>Name of Vessel</th>
<td>
<select name="Name_of_Vessel" class="text">
<option value="">Please select</option>
@{
	var data = tbl.list_NameOfVessel();
	foreach ( var x in data ) {
		@:<option value="@x.NameOfVessel">@x.NameOfVessel</option>
	}
}
</select> <button class="button button_add" name="btadd_vessel" style="margin-left:5px;font-size:11px;">Add New Vessel</button>
</td>
</tr>

<tr>
<th>Vessel Company</th>
<td><input type="text" name="Company" class="text" value="" readonly></td>
</tr>

<tr>
<th>Type of Vessel</th>
<td>
<select name="Type_of_Vessel" class="text">
<option value="">Please select</option>
@{
	var data2 = tbl.list_TypeOfVessel();
	foreach ( var x in data2 ) {
		@:<option value="@x.TypeOfVessel">@x.TypeOfVessel</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Voyage Number (optional)</th>
<td><input type="text" name="voyage_number" class="text" value="" maxlength="10"></td>
</tr>

@*<tr>
<th>Consignee</th>
<td>
<select name="Consignee" class="text">
<option value="">Please select</option>
@{
	var tbl3 = new TblConsignee();
	var data3 = tbl3.All();
	foreach ( var x in data3 ) {
		@:<option value="@x.Consignee">@x.Consignee</option>
	}
}
</select> <button class="button button_add" name="btadd_consignee" style="margin-left:5px;font-size:11px;">Add New Consignee</button>
</td>
</tr>*@


<tr>
<th>SCN</th>
<td><input type="text" name="SCN" class="text" value="" maxlength="10"></td>
</tr>

<tr>
<td colspan='2' style='padding-top:20px;'><h1>ETA (Vessel/Lorry)</h1></td>
</tr>

<tr>
<th>Time</th>
<td>
<select name="eta_hour" class="text" style="width:50px !important;">
<option value="">--</option>
@{
	var p1 = "";
	for(int x = 0; x < 24; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1">@p1</option>
	}
}
</select>
<select name="eta_min" class="text" style="width:50px !important;">
<option value="">--</option>
@{
	p1 = "";
	for(int x = 0; x < 60; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		@:<option value="@p1">@p1</option>
	}
}
</select>
<span>hrs MST (UTC+0800 hrs)</span>
</td>
</tr>

<tr>
<th>Date</th>
<td><input type="text" name="ETA_Date" class="text datepicker" value="" placeholder="dd/mm/yyyy"></td>
</tr>

<tr>
<th>Last Port</th>
<td>
<select name="Last_Port" class="text">
<option value="">Please select</option>
@{
	var data4 = tbl.list_Port();
	foreach ( var x in data4 ) {
		@:<option value="@x.Name">@x.Name</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Next Port</th>
<td>
<select name="Next_Port" class="text">
<option value="">Please select</option>
@{
	foreach ( var x in data4 ) {
		@:<option value="@x.Name" data-timelimit="@x.TimeLimit">@x.Name</option>
	}
}
</select>
</td>
</tr>

<tr>
<td>&nbsp;</td>
<td><button class="button" name="btsubmit">Submit</button> <button class="button" name="btreset">Reset</button></td>
</tr>
</table>

<input type="hidden" name="hours_alert" value="">
<input type="hidden" name="ETA_Time" value="">
<input class="hide" id="reset" type="reset">
</form>

<div class="hide" id="@{ @idx }vessel-add"></div>
<div class="hide" id="@{ @idx }consignee-add"></div>
<div class="hide" id="@{ @idx }dialog"></div>
<div class="hide" id="@{ @idx }dialog2"></div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#sec').tabs("option", "disabled", [2, 3]);
		
		function _step1_confirm(msg,func_yes) {
			var _pid = "#@{ @idx }dialog";
			func_yes = func_yes || null;
			var _title = "Step 1: Vessel Information";
			var _height = $(window).height() - 20;
			var $pid = $(_pid);

			$pid.html(msg).dialog({
				modal: true,
				stack: true,
				position: ["center", 150],
				title: _title,
				width: 600,
				buttons: {
					"Cancel": function() {
						_winreload();
						$pid.dialog("close");
					},
					"Edit": function() {
						$pid.dialog("close");
					},
					"Confirmed. Go to next step.": function() {
						if ( func_yes !== null ) {
							func_yes();
						}
						$pid.dialog("close");
					}
				},
				open: function() {
					var $this = $(this);
					_dialog_maxheight($this,_height);
					$this.parent().find('.ui-dialog-buttonpane button:contains("Confirmed. Go to next step.")').button({
						icons: { primary: 'ui-icon-circle-check' }
					});
					$this.parent().find('.ui-dialog-buttonpane button:contains("Edit")').button({
						icons: { primary: 'ui-icon-pencil' }
					});
					$this.parent().find('.ui-dialog-buttonpane button:contains("Cancel")').button({
						icons: { primary: 'ui-icon-circle-close' }
					});
				},
				close: function() {
					$pid.empty().dialog("destroy");
				}
			});
		};

		function _step2_opt(msg,_id) {
			var _pid = "#@{ @idx }dialog2";
			var _title = "Step 2 : Dangerous Goods";
			var _height = $(window).height() - 20;
			var $pid = $(_pid);
			
			function _goodsupdate(_id,carrytype) {
				$.ajaxSetup({async: false, global: false, cache: true});
				$.post(_index, { _post: 'update_carrytpe', _what: 'secondschedule', id: _id, carrytype: carrytype}, function(data) {
					if ( !_ismsg_json(data) ) {
						_gerror(data);
						return false;
					}
					data = $.evalJSON(data);
					if ( !data.success ) {
						_gid = _gfalse(data.msg);
						_ghoverclose(_gid);
						return false;
					}
					_redirect(_baseurl+"/#!p/secondschedule-step2",true);
				});
			};
			
			$(_pid+" button[name=btdc]").live("click",function(e) {
				e = e || window.event;
				e.preventDefault();
				_goodsupdate(_id,"bulk");
				$pid.dialog("close");
			});
			
			$(_pid+" button[name=btdg]").live("click",function(e) {
				e = e || window.event;
				e.preventDefault()
				_goodsupdate(_id,"package");
				$pid.dialog("close");
			});
			
			$pid.html(msg).dialog({
				modal: true,
				stack: true,
				position: ["center", 150],
				title: _title,
				width: 600,
				open: function() {
					$(".ui-dialog-titlebar-close").hide();
					var $this = $(this);
					_dialog_maxheight($this,_height);
					$(_pid+" button").button({ icons: { primary: 'ui-icon-check'} });
				},
				close: function() {
					$pid.empty().dialog("destroy");
				}
			});
		};
		
		$(".datepicker").datepicker({
			dateFormat: 'dd/mm/yy',
			changeYear: true,
			changeMonth: true,
			yearRange: 'c:c+5',
			onChangeMonthYear: function (year, month, inst) {
				var dd = (inst.currentDay < 10 ? "0" + inst.currentDay : inst.currentDay);
				if (dd == "00") {
					dd = "01";
				}
				var mm = (month < 10 ? "0" + month : month);
				var ct = dd + '/' + mm + '/' + year;
				$(this).attr("value", ct);
			}
		});

		$('form#form-step1').submit(function () {

			var _Name_of_Vessel = $.trim($("select[name=Name_of_Vessel]").attr("value"));
			var _Company = $.trim($("input[name=Company]").attr("value"));
			var _Type_of_Vessel = $.trim($("select[name=Type_of_Vessel]").attr("value"));
			var _voyage_number = $.trim($("input[name=voyage_number]").attr("value"));
			var _Consignee = $.trim($("select[name=Consignee]").attr("value"));
			var _SCN = $.trim($("input[name=SCN]").attr("value"));
			var _Next_Port = $.trim($("select[name=Next_Port]").attr("value"));
			var _Last_Port = $.trim($("select[name=Last_Port]").attr("value"));
			
			var txt = "";
			if ( _Name_of_Vessel == "") {
				txt += "<li>Please select Name of Vessel!</li>";
			}
	
			if ( _Type_of_Vessel == "") {
				txt += "<li>Please select Type of Vessel!</li>";
			}

			/*if ( _Consignee == "") {
				txt += "<li>Please select Consignee!</li>";
			}*/
			
			if ( _SCN == "") {
				txt += "<li>Please insert SCN value!</li>";
			}

			if ($.trim($("select[name=eta_hour]").attr("value")) == "") {
				txt += "<li>Please select ETA time hour!</li>";
			}

			if ($.trim($("select[name=eta_min]").attr("value")) == "") {
				txt += "<li>Please select ETA time minute!</li>";
			}

			if ($.trim($("input[name=ETA_Date]").attr("value")) == "") {
				txt += "<li>Please select ETA Date!</li>";
			}
			
			if ( _Next_Port == "") {
				txt += "<li>Please select Last Port!</li>";
			}

			if ( _Last_Port == "") {
				txt += "<li>Please select Next Port!</li>";
			}

			/*if (txt == "") {
				if ($("select[name=Last_Port]").attr("value") == $("select[name=Next_Port]").attr("value")) {
					txt += "<li>Last Port and Next Port cannot be same!</li>";
				}
			}*/
			if (txt !== "") {
				_gfalse("<ul>" + txt + "</ul>");
				return false;
			}

			var _etatime_h = $("select[name=eta_hour]").attr("value");
			var _etatime_m = $("select[name=eta_min]").attr("value");
			var _etatime = date("Y-m-d ") + _etatime_h + ":" + _etatime_m;
			$("input[name=ETA_Time]").attr("value", _etatime);

			var _etadate = $.trim($("input[name=ETA_Date]").attr("value"));
			var _etadate_d = null, _etadate_m = null, _etadate_y = null;
			var _p = _etadate.match(/(\d\d)\/(\d\d)\/(\d\d\d\d)$/);
			if ( _p && _p[1] && _p[2] && _p[3] ) {
				_etadate_d = _p[1];
				_etadate_m = _p[2];
				_etadate_y = _p[3];
				_etadate_d = _etadate_d.replace(/^0/,'');
				_etadate_m = _etadate_m.replace(/^0/,'');
				_etadate_y = _etadate_y.replace(/^0/,'');
			} else {
				_gerror("ETA Date Invalid Format!");
				return false;
			}

			var _pdate = strtotime('-1 day', time());
			var _ndate = strtotime(_p[2]+"/"+_p[1]+"/"+_p[3]+" "+_etatime_h+":"+_etatime_m);
			/*alert(_pdate+" "+_ndate);return false;*/
			if ( _ndate <= _pdate ) {
				_gerror("Invalid ETA Date!<br>Today: "+date('d/m/Y')+"<br>ETA Date: "+_etadate);
				return false;
			}
			var _timelimit = $("select[name=Next_Port] option:selected").attr("data-timelimit") || 0;

			/* calculate datediff */
			var _etatime_h1 = _etatime_h.replace(/^0/,'');
			var _etatime_m1 = _etatime_m.replace(/^0/,'');			
			var d1 = new Date(parseInt(_etadate_y), parseInt(_etadate_m)-1, parseInt(_etadate_d), parseInt(_etatime_h1), parseInt(_etatime_m1));
			var d2 = new Date();

			var diff = d2 - d1, sign = diff < 0 ? -1 : 1, milliseconds, seconds, minutes, hours, days;
			diff /= sign; /* or diff=Math.abs(diff);*/
			diff = (diff - (milliseconds = diff % 1000)) / 1000;
			diff = (diff - (seconds = diff % 60)) / 60;
			diff = (diff - (minutes = diff % 60)) / 60;
			days = (diff - (hours = diff % 24)) / 24;

			/*alert(_etadate_d +" "+_etadate_m+" "+_etadate_y);
			alert(d1+" "+d2+" "+hours);return false;
			alert(days);*/
			
			var _ret = "";
			/*alert(hours+" "+_timelimit);*/
			var _timelimit_d = parseInt(_timelimit);
			if ( parseInt(_timelimit_d) >= 12 ) {
				_timelimit_d = ( parseInt(_timelimit) / 24 );
			}
			if ( parseInt(days) < _timelimit_d ) {
				if ( parseInt(hours) < parseInt(_timelimit) ) {
					_ret += "<h1 style='color:red;font-weight:bold;'>Declaration is made less than "+_timelimit+" hours.</h1>";
					$("input[name=hours_alert]").attr("value", "< "+_timelimit);
				}
			} else {
				$("input[name=hours_alert]").attr("value","NULL");
			}
			
			_ret += "<h1 style='font-weight:bold;'>You have entered the following information:</h1>";
			_ret += "<table id='x-table'>";
			_ret += "<tr><th class='tinfo'>Name of Vessel</th><td class='tinfo'>"+_Name_of_Vessel+"</td></tr>";
			_ret += "<tr><th class='tinfo'>Vessel Company</th><td class='tinfo'>"+_Company+"</td></tr>";
			_ret += "<tr><th class='tinfo'>Type of Vessel</th><td class='tinfo'>"+_Type_of_Vessel+"</td></tr>";
			if ( _voyage_number !== "" ) {
				_ret += "<tr><th class='tinfo'>Voyage Number</th><td class='tinfo'>"+_voyage_number+"</td></tr>";
			}
			//_ret += "<tr><th class='tinfo'>Consignee</th><td class='tinfo'>"+_Consignee+"</td></tr>";
			_ret += "<tr><th class='tinfo'>SCN</th><td class='tinfo'>"+_SCN+"</td></tr>";
			_ret += "<tr><td colspan='2' style='padding-top:20px;font-weight:bold;'><h1>ETA (Vessel/Lorry)</h1></td></tr>";
			_ret += "<tr><th class='tinfo'>Time</th><td class='tinfo'>"+_etatime_h+":"+_etatime_m+"</td></tr>";
			_ret += "<tr><th class='tinfo'>Date</th><td class='tinfo'>"+_etadate+"</td></tr>";
			_ret += "<tr><th class='tinfo'>Last Port</th><td class='tinfo'>"+_Last_Port+"</td></tr>";
			_ret += "<tr><th class='tinfo'>Next Port</th><td class='tinfo'>"+_Next_Port+"</td></tr>";			
			_ret += "</table>";
			
			var _ret2 = "";
			if ( parseInt(days) < _timelimit_d ) {
				if ( parseInt(hours) < parseInt(_timelimit) ) {
					_ret2 += "<h1 style='color:red;font-weight:bold;'>Declaration is made less than "+_timelimit+" hours.</h1>";
				}
			}
			_ret2 += "<table id='x-table' style='margin-bottom:10px;'>";
			_ret2 += "<tr><td colspan='2' style='text-align:left;font-weight:bold;padding-bottom:10px;'>Please select either one:</td></tr>";
			_ret2 += "<tr><td><button class='button button_red' name='btdc'>Dangerous Goods Carried In Bulk</button></td>";
			_ret2 += "<td style='padding-left:10px;'><button class='button button_red' name='btdg'>Dangerous Goods In Package Form</button></td></tr>";
			_ret2 += "</table>";
			
			_step1_confirm(_ret, function () {
				$('form#form-step1').ajaxSubmit({
					url: _index,
					type: 'POST',
					method: 'POST',
					dataType: 'text',
					async: false,
					clearForm: false,
					resetForm: false,
					cache: false,
					data: { _post: 'save_step1', _what: 'secondschedule' },
					success: function (data) {
						if (!_ismsg_json(data)) {
							_gerror(data);
							return false;
						}
						data = $.evalJSON(data);
						if (!data.success) {
							_gid = _gfalse(data.msg);
							_ghoverclose(_gid);
							return false;
						}

						/*_ajaxmsg(data.msg);*/
						_step2_opt(_ret2, data.id);
						/*window.setTimeout(function() {
							$.hash.go("!p/secondschedule-step2/md="+data.id+"&ch=nx");
						}, 100);*/
					}
				});
			});
			return false;
		});

		$("button[name=btsubmit]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			$('form#form-step1').submit();
			return false;
		});

		$("button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			$("input#reset").trigger("click");
			return false;
		});


		/** vessel add */
		function _vessel_getcompany(name) {
			$.ajaxSetup({ async: false, global: false, cache: true });
			$.post(_index, { _post: 'getcompany', _what: 'vessel', name: name }, function (text) {
				text = trim(text);
				if (text !== "") {
					$("input[name=Company]").attr("value",text);
				}
			}, "text");
		};
		
		$("select[name=Name_of_Vessel]").change(function() {
			var _name = $(this).attr("value");
			_vessel_getcompany(_name);
		});
		
		function _dolist_vesel() {
			$.ajaxSetup({ async: false, global: false, cache: true });
			$.post(_index, { _post: 'listvessel', _what: 'vessel' }, function (html) {
				html = trim(html);
				if (html !== "") {
					$("select[name=Name_of_Vessel]").html(html);
				}
			}, "text");
		};

		$("button[name=btadd_vessel]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			$.ajaxSetup({ async: false, global: false, cache: true });
			var _pid = '#@{ @idx }vessel-add', _tpl = 'vessel-add', _formid = 'vessel-save';
			var _width = 600;
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid }).dialog({
				title: "Add New Vessel",
				modal: true,
				width: _width,
				resizable: true,
				position: ["center", "center"],
				buttons: {
					"Save": function () {
						$('#' + _formid).ajaxSubmit({
							url: _index,
							type: 'POST',
							method: 'POST',
							dataType: 'text',
							async: false,
							clearForm: false,
							resetForm: false,
							cache: false,
							data: { _post: 'save', _what: 'vessel' },
							success: function (data) {
								if (!_ismsg_json(data)) {
									_gerror(data);
									return false;
								}
								data = $.evalJSON(data);
								if (!data.success) {
									_gid = _gfalse(data.msg);
									_ghoverclose(_gid);
									return false;
								}
								_gid = _gtrue(data.msg);
								_ghoverclose(_gid);
								_dolist_vesel();
								window.setTimeout(function () {
									$(_pid).dialog("close");
									_gmsgremove();
									$("select[name=Name_of_Vessel]").trigger("change");
								}, 1000);
							}
						});
						return false;
					},
					"Cancel": function () {
						$(this).dialog("close");
					}
				},
				open: function () {
					_dialog_maxheight($(this), _height);
					_buttondialog($(this));
				},
				close: function () {
					$(_pid).empty().dialog("destroy");
				}
			});
		});

		/** consignee add */
		function _dolist_consignee() {
			$.post(_index, { _post: 'listconsignee', _what: 'consignee' }, function (html) {
				html = trim(html);
				if (html !== "") {
					$("select[name=Consignee]").html(html);
				}
			}, "text");
		};

		$("button[name=btadd_consignee]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			$.ajaxSetup({ async: false, global: false, cache: true });
			var _pid = '#@{ @idx }consignee-add', _tpl = 'consignee-add', _formid = 'consignee-save';
			var _width = 600;
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid }).dialog({
				title: "Add New Consignee",
				modal: true,
				width: _width,
				resizable: true,
				position: ["center", "center"],
				buttons: {
					"Save": function () {
						$('#' + _formid).ajaxSubmit({
							url: _index,
							type: 'POST',
							method: 'POST',
							dataType: 'text',
							async: false,
							clearForm: false,
							resetForm: false,
							cache: false,
							data: { _post: 'save', _what: 'consignee' },
							success: function (data) {
								if (!_ismsg_json(data)) {
									_gerror(data);
									return false;
								}
								data = $.evalJSON(data);
								if (!data.success) {
									_gid = _gfalse(data.msg);
									_ghoverclose(_gid);
									return false;
								}
								_gid = _gtrue(data.msg);
								_ghoverclose(_gid);
								_dolist_consignee();
								window.setTimeout(function () {
									$(_pid).dialog("close");
									_gmsgremove();
								}, 1000);
							}
						});
						return false;
					},
					"Cancel": function () {
						$(this).dialog("close");
					}
				},
				open: function () {
					_dialog_maxheight($(this), _height);
					_buttondialog($(this));
				},
				close: function () {
					$(_pid).empty().dialog("destroy");
				}
			});
		});
	});
</script>