@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}

	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}

	var idx = Ux.ckey();
}
<div class="barmid border-corner6px-all">
<div id="sec">
<ul>
<li class="hide"><a href="#sec0">nothing</a></li>
<li><a href="#sec1"><span class="ui-icon ui-icon-check"></span><b>Step 1: Vessel Information</b></a></li>
<li><a href="#sec2" data-code="secondschedule-step2-search"><span class="ui-icon ui-icon-check"></span><b>Step 2 : Dangerous Goods</b></a></li>
<li><a href="#sec3"><span class="ui-icon ui-icon-check"></span><b>Step 3 : Confirmation</b></a></li>
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec2"><div class="x-list" id="@{ @idx }2"></div> </div> <!-- /sec2 -->
</div> <!-- /sec -->

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	/* remove tabs cookie */
	for(var x=0;x <= 10; x++) {
		$.delCookie("ui-tabs-"+x);
	}
	$.delCookie("cookietab");
	_sindex = 2;
	@Ux.js("ui/rsc/_tab.js", false);
	$('#sec').tabs("option", "disabled", [1, 3]);
});
</script>

</div>