﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	/*if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}*/
	
	int masterid = 0;
	if ( !Request["masterid"].IsEmpty() ) {
		masterid = Request["masterid"].AsInt();
	} else {
		if ( Request.Cookies["masterid"] == null ) {
			@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
			return;
		}
		masterid = Request.Cookies["masterid"].Value.AsInt();
	}
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
		
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
	
	dynamic tbl = new TblDeclaration_Form_Detail();
	var obj = tbl.getinfo( Request["id"].AsInt() );
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	
	dynamic tbl2 = new TblForm_Sub_Detail();
	var obj2 = tbl2.Query( String.Format("select * from Form_Sub_Detail where FormDetail_ID = '{0}'", Request["id"].AsInt() ) );
	var _Measurement = tbl2.First(FormDetail_ID:Request["id"].AsInt(), Columns:"Measurement").Measurement;
}
<style type="text/css">
#x-table th {
	min-width: 200px !important;
	width: 200px !important;
}

#x-table th.pinfo,
#x-table td.pinfo {
	vertical-align: top !important;
	padding-top: 5px !important;
}
#x-table th {
	font-weight: bold;
}
#x-table input.text {
	width: 200px !important;
}
#x-table textarea {
	width: 203px !important;
}
</style>
<div class="dialog_max_height">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;font-weight:bold;'>Declaration is made less than @xs.hours_alert hours.</h1>
}
<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">
<tr>
<th class="pinfo">Proper Shipping Name</th>
<td class="pinfo">@s.Proper_Shipping_Name</td>
</tr>

<tr>
<th>Trade Name</th>
<td>
<select name="Trade_Name" class="text">
@{
	dynamic tbl1 = new Db();
	var data = tbl1.list_Tradename();
	foreach ( var x in data ) {
		if ( x.Name == s.Trade_Name ) {
			@:<option value="@x.Name" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name">@x.Name</option>	
		}
	}
}
</select>
</td>
</tr>

<tr>
<th class="pinfo">IMO Class</th>
<td class="pinfo">@s.imo_class</td>
</tr>

<tr>
<th class="pinfo">UN Number</th>
<td class="pinfo">@s.UN_No</td>
</tr>

<tr>
<th>Load/Discharge/Transit</th>
<td>
<select name="LDT" class="text">
<option value="Load"@( s.LDT == "Load" ? " selected" : "")>Load</option>
<option value="Discharge"@( s.LDT == "Discharge" ? " selected" : "")>Discharge</option>
<option value="Transit"@( s.LDT == "ransit" ? " selected" : "")>Transit</option>
</select>
</td>
</tr>

<tr>
<th>Port of Loading</th>
<td>
<select name="PortLoading" class="text">
<option value="@s.PortLoading">@s.PortLoading</option>
</select>
</td>
</tr>

<tr>
<th>Port of Discharging</th>
<td>
<select name="PortDischarging" class="text">
<option value="@s.PortDischarging">@s.PortDischarging</option>
</select>
</td>
</tr>

<tr>
<th>Flash Point</th>
<td><input type="text" name="Flash_Point" class="text" value="@s.Flash_Point">(&deg;C)</td>
</tr>

<tr>
<th>Sub risk (optional)</th>
<td><input type="text" name="SubRisk" class="text" value="@s.SubRisk"></td>
</tr>

<tr>
<td colspan='2' style='padding-top:20px!important;font-weight:bold;'>Precise Storage Onboard</td>
</tr>

<tr>
<td colspan='2'>
<table>
<tr>
<td style='width:50px;font-weight:bold;'>No</td>
<td style='width:250px;font-weight:bold;'>(Tanks of cargo hold number)</td>
<td style='font-weight:bold;'>Weight: <select name="Measurement" class="text" style="width:100px !important;">
@_Measurement
<option value="" selected>Select one</option>
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Litre", "Litre" );
	bb.Add( "KG", "KG" );
	bb.Add( "Metric Tonne", "Metric Tonne" );
	foreach(var bx in bb ) {
		if ( bx.Key == _Measurement ) {
			<option value="@bx.Key" selected>@bx.Value</option>
		} else {
			<option value="@bx.Key">@bx.Value</option>
		}
	}
}
</select>
</td>
</tr>
@{
	int i = 0;
	foreach(var ix in obj2) {
		i++;
		<tr>
		<td>@i</td>
		<td><input type="text" class="text" name="PSOnboard" value="@ix.PSOnboard"></td>
		<td><input type="text" class="text" name="Weight" value="@ix.Weight"></td>
		</tr>
	}
}
<tr>
<td colspan='2' style='text-align:right;font-weight:bold;padding-right:5px;'>Total</td><td><input type="text" class="text" name="total" value=""></td>
</tr>
<tr>
<td colspan='2' style='text-align:right;font-weight:bold;padding-right:5px;vertical-align:top;padding-top:5px;'>Comment</td><td><textarea name="Remarks" class="text">@s.Remarks</textarea></td>
</tr>
</table>
</td>
</tr>

</table>

<input type="hidden" name="Master_ID" value="@masterid">
<input type="hidden" name="FormDetail_ID" value="@id">
<input type="hidden" name="imo_class" value="@s.imo_class">
<input type="hidden" name="Proper_Shipping_Name" value="@s.Proper_Shipping_Name">
</form>
</div> <!-- /dialog_max_height -->
