﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}
	int masterid = Request.Cookies["masterid"].Value.AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
		
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
			
	if ( id == 0 ) {
		s.Proper_Shipping_Name = "Unknown";
		s.IMO_Class = "0";
		s.UN_Number = "0";
		s.KPA_Group = "0";
	} else {
		dynamic tbl = new TblDG();
		var obj = tbl.FindBy( DGID: Request["id"] );
		var k = s as IDictionary<string, object>;
		foreach( var item in obj) {
			var d = (IDictionary<string, object>)item;
			var e = d.ToArray();
			foreach(var x in e) {
				k.Add(x.Key,x.Value);
			}
		}
	}
}
<style type="text/css">
#x-table th {
	min-width: 250px !important;
	width: 250px !important;
}

#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;font-weight:bold;'>Declaration is made less than @xs.hours_alert hours.</h1>
}
<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">
<tr>
<th>Proper Shipping Name</th>
<td><input type="text" name="Proper_Shipping_Name" class="text" value="@s.Proper_Shipping_Name" readonly></td>
</tr>

<tr>
<th>Trade Name</th>
<td>
<select name="Trade_Name" class="text">
<option value="">Please select</option>
@{
	dynamic tbl1 = new TblTradename();
	var data = tbl1.All();
	foreach ( var x in data ) {
		@:<option value="@x.Name">@x.Name</option>
	}
}
</select><button class="button button_add" name="btadd_tradename" style="margin-left:5px;">Add New Trade Name</button>
</td>
</tr>

<tr>
<th>IMO Class</th>
<td><input type="text" name="imo_class" class="text" value="@s.IMO_Class" readonly></td>
</tr>

<tr>
<th>UN Number</th>
<td><input type="text" name="UN_No" class="text" value="@s.UN_Number" readonly></td>
</tr>

<tr>
<th>Load/Discharge/Transit</th>
<td>
<select name="LDT" class="text">
<option value="">Please select one</option>
<option value="Load">Load</option>
<option value="Discharge">Discharge</option>
<option value="Transit">Transit</option>
</select>
</td>
</tr>

<tr>
<th>Port of Loading</th>
<td>
<select name="PortLoading" class="text">
<option value="">Please select one</option>
</select>
</td>
</tr>

<tr>
<th>Port of Discharging</th>
<td>
<select name="PortDischarging" class="text">
<option value="">Please select one</option>
</select>
</td>
</tr>

<tr>
<th>Flash Point</th>
<td><input type="text" name="Flash_Point" class="text" value="">(&deg;C)</td>
</tr>

<tr>
<th>Sub risk (optional)</th>
<td><input type="text" name="SubRisk" class="text" value=""></td>
</tr>

<tr>
<th>Type of Packing</th>
<td>
<select name="TypeOfPacking" class="text">
<option value="">Please select</option>
@{
	dynamic tbl2 = new TblType_Of_Packing();
	var data2 = tbl2.All();
	foreach ( var x2 in data2 ) {
		@:<option value="@x2.TypeOfPacking">@x2.TypeOfPacking</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Packing Group</th>
<td>
<select name="GroupOfPacking" class="text">
@{
	var aa1 = new[] { "I","II","III" };
	foreach(var a1 in aa1) {
		@:<option value="@a1">@a1</option>
	}
}
</select>
</td>
</tr>

@{
	if ( xs.Type_of_Vessel == "Container" || xs.Type_of_Vessel == "Barge" || xs.Type_of_Vessel == "Other" || xs.Type_of_Vessel == "Ro Ro" || xs.Type_of_Vessel == "General Cargo" ) {
<tr>
<th>Enter Number of CTU</th>
<td><input type="text" name="NumofCTU" class="text" value=""></td>
</tr>
	}
}
</table>

<input type="hidden" name="Master_ID" value="@masterid">
<input type="hidden" name="Type_of_carrier" value="@xs.Carry_Type">
<input type="hidden" name="Type_of_Vessel" value="@xs.Type_of_Vessel">
<input type="hidden" name="KPA_Group" value="@s.KPA_Group">
</form>
</div> <!-- /dialog_max_height -->
