@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}

	int masterid = Request.Cookies["masterid"].Value.AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var obj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var k = xs as IDictionary<string, object>;
	foreach ( var item in obj ) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach ( var x in e ) {
			k.Add( x.Key, x.Value );
		}
	}

	var ftitle = "";
	var Carry_Type = xs.Carry_Type;
	var Type_of_Vessel = xs.Type_of_Vessel;
	if ( xs.Carry_Type == "bulk" ) {
		ftitle = "Dangerous Goods Carried In Bulk";
	} else {
		ftitle = "Dangerous Goods In Package Form";
	}
	var idx = Ux.ckey();
}
<style type="text/css">
div.barmid-fschedule-result {
	padding: 10px 0px 10px 0px;
	margin: 8px;
	width: 900px;
}
div.barmid-fschedule-grid {
	padding: 0px;
	margin: 8px;
	width: 900px;
}
.grid img.act {
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
</style>
<div class="barmid-fschedule-result" id="firstschedule">
<div class="column" style="width:400px;margin-right:15px;">
@if( xs.hours_alert != "" && xs.hours_alert != null && xs.hours_alert != "NULL"  ) {
<h1 style='color:red;'>Declaration is made less than @xs.hours_alert hours.</h1>
}

<h1>@ftitle</h1>
<h2 style="padding:3px;margin-top:10px;font-weight:bold;font-style:underline;background:#FFFFCC;border:1px solid #dddddd;color:#000000;">Search Option 1</h2>
<h3>If you know the first letter of the substance, click any character to display the list of Proper Shipping Name:</h3>
<p style="margin-top:5px;">
@{
	var _strout = "";
	int i = 1;
	for ( i = 1; i <= 10; i++ ) {
		_strout += "<a href=\"#sp\" class=\"border-corner3px-all\">" + i + "</a>";
	}
	var aa = new[] { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" };
	foreach ( var a in aa ) {
		_strout += "<a href=\"#sp\" class=\"border-corner3px-all\">" + a.ToUpper() + "</a>";
	}
	@Html.Raw( _strout )
}
</p>
<h2 style="padding:3px;margin-top:15px;font-weight:bold;font-style:underline;background:#D9FFD9;border:1px solid #dddddd;color:#000000;">Search Option 3</h2>
<h3>If you do not know the Proper Shipping Name, please click the button below to continue:</h3>
<p style="margin-top:5px;">
<button class="button button_blue" name="btadd" data-id="0">Unknown Proper Shipping Name</button>
<button class="button" name="btcancel">Cancel this declaration</button>
</p>
</div>
<div class="column-last" style="width:400px;">
<h2 style="padding:3px;font-weight:bold;font-style:underline;background:#87BFED;border:1px solid #dddddd;color:#000000;">Search Option 2</h2>
<h3 style="margin-top:10px;">Enter any keyword to search for "Proper Shipping Name"</h3>
<p style="margin-top:5px;">
<select name="sopt" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Proper_Shipping_Name", "Proper Shipping Name/Correct Technical Name" );
	bb.Add( "UN_Number", "UN Number" );
	bb.Add( "IMO_Class", "IMO Class" );
	bb.Add( "KPA_Group", "KPA Group" );
	foreach ( var a in bb ) {
		<option value="@a.Key"@( Request["sopt"] == a.Key ? "selected" : "")>@a.Value</option>
	}
}
</select>
<input type="text" class="text" name="sstr" placeholder="Keywords" value="@Request["sstr"]">
<br><button class="button" name="btsearch" style="margin-right: 5px;">Search</button>
</p>
</div>

</div> <!-- /barmid-fschedule -->
@if ( !Request["fstr"].IsEmpty() || !Request["sopt"].IsEmpty() ) {
<div class="barmid-fschedule-grid">
@{
	dynamic tbl = new TblDG();
	var query = "select DGID,Proper_Shipping_Name,IMO_Class,UN_Number,KPA_Group,DGProperties from Dangerous_Goods";
	if ( !Request["fstr"].IsEmpty() ) {
		query += string.Format( " where Proper_Shipping_Name like '{0}%'", Ux.escape_query( Request["fstr"] ) );
	} else {
		if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
			query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		}
	}
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 10, pageFieldName: "pg" );
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}

	num = ( num == 0 ? 1 : num + 1 );
	var num2 = num;
}

@if ( grid.PageCount == 0 ) {
	<span>No data avilable</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );
	
	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "DGID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text>@( num++)</text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: true ),
				grid.Column(
					columnName: "IMO_Class",
					header: "IMO Class",
					format: @<text><span>@Ux.imolabel(item.IMO_Class)</span></text>,
					canSort: true ),
				grid.Column(
					columnName: "UN_Number",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_Number )</text>,
					canSort: true ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: true ),
				grid.Column(
					columnName: "DGProperties",
					header: "Properties",
					format: @<text>@Ux.empty_text( item.DGProperties )</text>,
					canSort: true ),
				grid.Column(
					columnName: "DGID",
					header: "Action",
					canSort: false,
					style: "grid-act",
					format: @<text><button class='button button_blue' name='btadd' data-id='@item.DGID'>New Declaration</button></text> )
			)
		);

	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";
	
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( ppager )
}
</div> <!-- /barmid-fschedule-grid -->
}
<div class="hide" id="@{ @idx }badd1"></div>
<div class="hide" id="@{ @idx }badd1a"></div>
<div class="hide" id="@{ @idx }tradename-add"></div>
@*<button name="test1">TEST1</button>*@
<script type="text/javascript">
	$(document).ready(function () {
		var _fstr = "@{ @Request["fstr"]; }";
		var _sstr = "@{ @Request["sstr"]; }";
		var _sopt = "@{ @Request["sopt"]; }";
		_webgrid_link_hash("secondschedule-step2","grid", _fstr, _sstr, _sopt);

		$(".grid-header th:contains('#')").css("text-align","right");
		
		$(".grid-header th:contains('IMO Class')").css({"width":"100px","text-align":"left","vertical-align":"middle"});
		$(".grid-header th:contains('UN Number')").css({"width":"100px"});
		$(".grid-header th:contains('KPA Group')").css({"width":"100px"});
		$(".grid-header th:contains('Action')").css({"width":"120px"});

		$("div#firstschedule a[href=#sp]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var val = $.trim($(this).text());
			$.hash.go("!p/secondschedule-step2/fstr=" + urlencode(val));
		});
		$("div#firstschedule button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div#firstschedule select[name=sopt]").attr("value");
			var _sstr = $.trim($("div#firstschedule input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div#firstschedule input[name=sstr]").focus();
				return;
			}
			$.hash.go("!p/secondschedule-step2/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr));
		});
		
		/** add **/
		$("button[name=test1]").click(function(e) {
			e = e || window.event;
			e.preventDefault();
			var p = prompt("FormDetail_ID:","");
			if ( p !== "" ) {
				_add_formdetails(p);
			}
		});

		function _add_formdetails(_id) {
			$.ajaxSetup({ async: false, global: false, cache: true });
			var _pid = '#@{ @idx }badd1a', _formid = 'badd1a-save';
			@if ( Carry_Type == "bulk" ) {
				@:var _tpl = 'secondschedule-step2-badda';
			} else {
				@:var _tpl = 'secondschedule-step2-cadda';
			}
			@if ( Carry_Type == "package" && ( Type_of_Vessel == "Container" || Type_of_Vessel == "Barge" || Type_of_Vessel == "Other" || Type_of_Vessel == "Ro Ro" || Type_of_Vessel == "General Cargo" ) ) {
				@:var _width = $(document).width() - 100;
			} else {
				@:var _width = 800;
			}
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid, id: _id },function() {
				@if ( Carry_Type == "bulk" ) {
					@:function _weight_total() {
					@:	var cnt = 0;
					@:	$(_pid+" input[name=Weight]").each(function() {
					@:		var _c = $(this).attr("value");
					@:		cnt += parseFloat(_c);
					@:	});
					@:	if ( isNaN(cnt) ) {
					@:		cnt = 0;
					@:	}
					@:	$(_pid+" input[name=total]").attr("value",cnt);
					@:};
					
					@:$(_pid+" input[name=Weight]").each(function() {
					@:	$(this).keypress(function() {
					@:		var _c = $(this).attr("value");
					@:		return isNumberKey(_c,true);
					@:	});
					@:	$(this).bind("blur click", function() {
					@:		_weight_total();
					@:	});
					@:});
					@:$(_pid+" input[name=total]").click(function(e) {
					@:	e = e || window.event;
					@:	e.preventDefault();
					@:	_weight_total();
					@:});
				} else {
					@:$(_pid+" select[name^=Dimension]").each(function() {
					@:	$(this).change(function() {
					@:		var _v = $(this).attr("value");
					@:		$(this).parent().next().next().find("input[name^=CTUTeus]").attr("value", _v);
					@:	});
					@:});
					@:$(_pid+" input[name^=Weight]").each(function() {
					@:	$(this).keypress(function() {
					@:		var _c = $(this).attr("value");
					@:		return isNumberKey(_c,true);
					@:	});
					@:});
				}
			}).dialog({
					title: "@ftitle",
					modal: true,
					width: _width,
					resizable: true,
					position: ["center", "center"],
					buttons: {
						"Continue": function() {
							var _msg = "";
							var _txtp = "";
							@if ( Carry_Type == "bulk" ) {
								@:var _weight = $.trim($(_pid+" select[name=Measurement]").attr("value"));
								@:if ( _weight == "" && _txtp == "") {
								@:	_txtp ="<li>Please select Weight Measurement!</li>";
								@:}
								@:if ( _txtp !== "" ) {
								@: _msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=PSOnboard]").each(function() {
								@:	var _val = $.trim($(this).attr("value"));
								@:	if ( _val == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Precise Storage Onboard!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@: _msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=Weight]").each(function() {
								@:	var _val = $.trim($(this).attr("value"));
								@:	if ( _val == "" ) {
								@:		$(this).attr("value","0");
								@:	}
								@:});						
							} else {
								@:$(_pid+" input[name^=CTU_id]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" ) {
								@:		_txtp ="<li>Please insert CTU Id!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Dimension]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Dimension!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=Weight]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Weight!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Type]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Type!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name^=PSOnboard_Cargo]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Precise Storage Onboard!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=eta_hour]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select ETA Hour!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=eta_min]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select ETA Minute!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Lorry_plate]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Lorry plate!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name^=Lorry_Company]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Lorry company!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
							}
							if ( _msg !== "" ) {
								_gmsgremove();
								_gfalse("<ul>"+_msg+"</ul>");return false;
							}
							$('#'+_formid).ajaxSubmit({
								url: _index,
								type: 'POST',
								method: 'POST',
								dataType: 'text',
								async: false,
								clearForm: false,
								resetForm: false,
								cache: false,
								@if ( Carry_Type == "bulk" ) {
									@:data: { _post: 'save_formsubdetails', _what: 'secondschedule' },
								} else {
									@:data: { _post: 'save_formsubdetails2', _what: 'secondschedule' },
								}
								success: function(data) {
									if ( !_ismsg_json(data) ) {
										_gerror(data);
										return false;
									}
									data = $.evalJSON(data);
									if ( !data.success ) {
										_gmsgremove();
										_gfalse(data.msg);
										return false;
									}
									_redirect(_baseurl+"/#!p/secondschedule-step3",true);
									window.setTimeout(function() {
										$(_pid).dialog("close");
										_gmsgremove();
									}, 1000);
								}
							});
							return false;
						},
						"Cancel": function() {
							_confirm("Are you sure you want to cancel this declaration?", function() {
								$(_pid).dialog("close");
								_redirect(_baseurl+'/#!p/secondschedule/sreset='+_id);
							});
							return false;
						}
					},
					open: function() {
						$(".ui-dialog-titlebar-close").hide();
						_dialog_maxheight($(this),_height);
						_buttondialog($(this));
						$(this).parent().find('.ui-dialog-buttonpane button:contains("Continue")').button({
							icons: { primary: 'ui-icon-disk' }
						});
					},
					close: function() {
						$(_pid).empty().dialog("destroy");
					}
			});
		};
		
		$("button[name=btadd]").click(function(e) {
			e = e || window.event;
			e.preventDefault();
			$.ajaxSetup({ async: false, global: false, cache: true });
			var _id = $(this).attr("data-id");
			var _pid = '#@{ @idx }badd1', _formid = 'badd1-save';
			@if ( Carry_Type == "bulk" ) {
				@:var _tpl = 'secondschedule-step2-badd';
			} else {
				@:var _tpl = 'secondschedule-step2-cadd';
			}
			var _width = 900;
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid, id: _id },function() {
				$(_pid+" .button").button({ icons: { primary: 'ui-icon-plus'} }).addClass("button_red");
				$(_pid+" .button").css("font-size","11px!important");
				var _portlist = "";
				$.ajaxSetup({async: false, global: false, cache: true});
				$.post(_index, { _post: 'listport', _what: 'port' }, function (html) {
						_portlist = trim(html);
				}, "text");
				
				function _PortLoading_value(html) {
					$(_pid+" select[name=PortLoading]").html(html);
				};
				
				function _PortDischarging(html) {
					$(_pid+" select[name=PortDischarging]").html(html);
				};
				
				$(_pid+" select[name=LDT]").change(function() {
					var _val = $(this).attr("value");
					if ( _val == "Load" ) {
						_PortLoading_value("<option value='KUANTAN'>KUANTAN</option>");
						_PortDischarging(_portlist);
					} else if ( _val == "Discharge" ) {
						_PortLoading_value(_portlist);
						_PortDischarging("<option value='KUANTAN'>KUANTAN</option>");
					} else {
						_PortLoading_value(_portlist);
						_PortDischarging(_portlist);
					}
				});
				
				function _dolist_tradename() {
					$.ajaxSetup({ async: false, global: false, cache: true });
					$.post(_index, { _post: 'listtradename', _what: 'tradename' }, function (html) {
						html = trim(html);
						if (html !== "") {
							$(_pid+" select[name=Trade_Name]").html(html);
						}
					}, "text");
				};

				$(_pid+" button[name=btadd_tradename]").click(function (e) {
					e = e || window.event;
					e.preventDefault();
					$.ajaxSetup({ async: false, global: false, cache: true });
					var _pid1 = '#@{ @idx }tradename-add', _tpl = 'tradename-add', _formid = 'tradename-save';
					var _width = 600;
					var _height = $(window).height() - 120;
					$(_pid1).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid }).dialog({
						title: "Add New Trade Name",
						modal: true,
						width: _width,
						resizable: true,
						position: ["center", "center"],
						buttons: {
							"Save": function () {
								$('#' + _formid).ajaxSubmit({
									url: _index,
									type: 'POST',
									method: 'POST',
									dataType: 'text',
									async: false,
									clearForm: false,
									resetForm: false,
									cache: false,
									data: { _post: 'save', _what: 'tradename' },
									success: function (data) {
										if (!_ismsg_json(data)) {
											_gerror(data);
											return false;
										}
										data = $.evalJSON(data);
										if (!data.success) {
											_gmsgremove();
											_gfalse(data.msg);
											return false;
										}
										_gid = _gtrue(data.msg);
										_ghoverclose(_gid);
										_dolist_tradename();
										window.setTimeout(function () {
											$(_pid1).dialog("close");
											_gmsgremove();
										}, 1000);
									}
								});
								return false;
							},
							"Cancel": function () {
								$(this).dialog("close");
							}
						},
						open: function () {
							_dialog_maxheight($(this), _height);
							_buttondialog($(this));
						},
						close: function () {
							$(_pid1).empty().dialog("destroy");
						}
					});
				});
		
				$(_pid+" input[name=tanks]").keypress(function() {
					var _c = $(this).attr("value");
					return isNumberKey(_c,true);
				});
			}).dialog({
					title: "@ftitle",
					modal: true,
					width: _width,
					resizable: true,
					position: ["center", "center"],
					buttons: {
						"Continue": function() {
							$('#'+_formid).ajaxSubmit({
								url: _index,
								type: 'POST',
								method: 'POST',
								dataType: 'text',
								async: false,
								clearForm: false,
								resetForm: false,
								cache: false,
								@if ( Carry_Type == "bulk" ) {
									@:data: { _post: 'save_formdetails', _what: 'secondschedule' },
								} else {
									@:data: { _post: 'save_formdetails2', _what: 'secondschedule' },
								}
								success: function(data) {
									if ( !_ismsg_json(data) ) {
										_gerror(data);
										return false;
									}
									data = $.evalJSON(data);
									if ( !data.success ) {
										_gmsgremove();
										_gfalse(data.msg);
										return false;
									}
									/*_gid = _gtrue(data.msg);
									_ghoverclose(_gid);*/
									_add_formdetails(data.id);
									window.setTimeout(function() {
										$(_pid).dialog("close");
										_gmsgremove();
									}, 1000);
								}
							});
							return false;
						},
						"Close": function() {
							$(this).dialog("close");
						}
					},
					open: function() {
						_dialog_maxheight($(this),_height);
						_buttondialog($(this));
						$(this).parent().find('.ui-dialog-buttonpane button:contains("Continue")').button({
							icons: { primary: 'ui-icon-disk' }
						});
					},
					close: function() {
						$(_pid).empty().dialog("destroy");
					}
			});
		});
		
		$("button[name=btcancel]").click(function(e) {
			e = e || window.event;
			_gmsgremove();
			_confirm("Are you sure, you want to cancel this declaration?", function() {
				_redirect(_baseurl+"/#!p/secondschedule/preset=1",true);
			});
		});
	});
</script>
