@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAgent && !Ux.IsKPC ) {
		@:403 Access Denied!
		return;
	}
	
	int masterid = 0;
	if ( !Request["masterid"].IsEmpty() ) {
		masterid = Request["masterid"].AsInt();
	} else {
		if ( Request.Cookies["masterid"] == null ) {
			@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
			return;
		}
		masterid = Request.Cookies["masterid"].Value.AsInt();
	}

	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			xk.Add( xx.Key, xx.Value );
		}
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	
	var formid = Request["_formid"];
	var id = Request["id"].AsInt();
	dynamic s = new System.Dynamic.ExpandoObject();
	dynamic tbl1 = new TblDeclaration_Form_Master();
	var obj = tbl1.getinfo( Request["id"].AsInt() );
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	
	dynamic tbl = new Db();
}

<style type="text/css">
#x-table th {
	min-width: 200px !important;
	width: 200px !important;
}

#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>

<form id="@Request["_formid"]">
<table id="x-table" style="width:100%;">

<tr>
<th>Name of Vessel</th>
<td>
<select name="Name_of_Vessel" class="text">
@{
	var data = tbl.list_NameOfVessel();
	foreach ( var x in data ) {
		if ( x.NameOfVessel == s.Name_of_Vessel ) {
			@:<option value="@x.NameOfVessel" selected>@x.NameOfVessel</option>
		} else {
			@:<option value="@x.NameOfVessel">@x.NameOfVessel</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>Vessel Company</th>
<td><input type="text" name="Company" class="text" value="@Ux._vessel_company(s.Name_of_Vessel)" readonly></td>
</tr>

<tr>
<th>Type of Vessel</th>
<td>
@if ( !Request["_statusedit"].IsEmpty() && Request["_statusedit"] == "1" ) {
<input type="text" name="Type_of_Vessel" class="text" value="@s.Type_of_Vessel" readonly>
} else {
<select name="Type_of_Vessel" class="text">
	@{
		var data2 = tbl.list_TypeOfVessel();
		foreach ( var x in data2 ) {
			if ( x.TypeOfVessel == s.Type_of_Vessel ) {
				@:<option value="@x.TypeOfVessel" selected>@x.TypeOfVessel</option>
			} else {
				@:<option value="@x.TypeOfVessel">@x.TypeOfVessel</option>
			}
		}
	}
</select>
}
</td>
</tr>

<tr>
<th>Voyage Number (optional)</th>
<td><input type="text" name="voyage_number" class="text" value="@s.voyage_number"></td>
</tr>

@*<tr>
<th>Consignee</th>
<td>
<select name="Consignee" class="text">
@{
	var tbl3 = new TblConsignee();
	var data3 = tbl3.All();
	foreach ( var x in data3 ) {
		if ( x.Consignee == s.Consignee ) {
			@:<option value="@x.Consignee" selected>@x.Consignee</option>
		} else {
			@:<option value="@x.Consignee">@x.Consignee</option>
		}
	}
}
</select>
</td>
</tr>*@

<tr>
<th>SCN</th>
<td><input type="text" name="SCN" class="text" value="@s.SCN"></td>
</tr>

<tr>
<td colspan='2' style='padding-top:20px;font-weight:bold;'><h1>ETA (Vessel/Lorry)</h1></td>
</tr>

<tr>
<th>Time</th>
<td>
<select name="eta_hour" class="text" style="width:50px !important;">
@{
	string hformat = "hh";
	string mformat = "mm";
	DateTime time = s.ETA_Time;
	var t1 = time.ToString( hformat );
	var t2 = time.ToString( mformat );
	var p1 = "";
	for(int x = 0; x < 24; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		if ( p1 == t1 ) {
			@:<option value="@p1" selected>@p1</option>
		} else {
			@:<option value="@p1">@p1</option>		
		}
	}
}
</select>
<select name="eta_min" class="text" style="width:50px !important;">
<option value="">--</option>
@{
	p1 = "";
	for(int x = 0; x < 60; x++) {
		p1 = x.ToString();
		if ( x < 10 ) {
			p1 = "0"+x;
		}
		if ( p1 == t2 ) {
			@:<option value="@p1" selected>@p1</option>
		} else {
			@:<option value="@p1">@p1</option>		
		}
	}
}
</select>
<span>hrs MST (UTC+0800 hrs)</span>
</td>
</tr>
@{
	string dformat = "dd/MM/yyyy";
	DateTime tdate = s.ETA_Date;
}
<tr>
<th>Date</th>
<td><input type="text" name="ETA_Date" class="text datepicker" value="@tdate.ToString( dformat )" placeholder="dd/mm/yyyy"></td>
</tr>

<tr>
<th>Last Port</th>
<td>
<select name="Last_Port" class="text">
<option value="">Please select</option>
@{
	var data4 = tbl.list_Port();
	foreach ( var x in data4 ) {
		if ( x.Name == s.Last_Port ) {
			@:<option value="@x.Name" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name">@x.Name</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>Next Port</th>
<td>
<select name="Next_Port" class="text">
<option value="">Please select</option>
@{
	foreach ( var x in data4 ) {
		if ( x.Name == s.Next_Port ) {
			@:<option value="@x.Name" data-timelimit="@x.TimeLimit" selected>@x.Name</option>
		} else {
			@:<option value="@x.Name" data-timelimit="@x.TimeLimit">@x.Name</option>	
		}
	}
}
</select>
</td>
</tr>

</table>

<input type="hidden" name="hours_alert" value="@s.hours_alert">
<input type="hidden" name="ETA_Time" value="@s.ETA_Time">
<input type="hidden" name="Application_ID" value="@s.Application_ID">
</form>
