@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	if ( !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}

	if ( Request.Cookies["masterid"] == null ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule';</script>
		return;
	}
	
	if ( Request.Cookies["pstep3"] == null ) {
		Response.Cookies["pstep3"].Value = "step3";
		Response.Cookies["pstep3"].Expires = DateTime.Now.AddDays( 1 );
	}
	
	var idx = Ux.ckey();
	var _page = "secondschedule-step3-list";
	if ( !Request["page"].IsEmpty() ) {
		if ( Request["page"] == "done" ) {
			_page = "secondschedule-step3-done";
		}
	}
}
<div class="barmid border-corner6px-all">
<div id="sec">
<ul>
<li class="hide"><a href="#sec0">nothing</a></li>
<li><a href="#sec1"><span class="ui-icon ui-icon-check"></span><b>Step 1: Vessel Information</b></a></li>
<li><a href="#sec2"><span class="ui-icon ui-icon-check"></span><b>Step 2 : Dangerous Goods</b></a></li>
<li><a href="#sec3" data-code="@_page"><span class="ui-icon ui-icon-check"></span><b>Step 3 : Confirmation</b></a></li>
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec3"><div class="x-list" id="@{ @idx }3"></div> </div> <!-- /sec3 -->
</div> <!-- /sec -->

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	/* remove tabs cookie */
	for(var x=0;x <= 10; x++) {
		$.delCookie("ui-tabs-"+x);
	}
	$.delCookie("cookietab");
	_sindex = 3;
	@Ux.js("ui/rsc/_tab.js", false);
	$('#sec').tabs("option", "disabled", [1, 2]);
});
</script>

</div>