﻿@{
	if ( !Ux.IsLogin ) {
	@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Ux.IsAdmin ) {
	@:403 Access Denied!
		return;
	}
}
<!DOCTYPE html>
<html>
<body>
@{
	dynamic tbl = new Db();
	var query = "select * from SMSLog";
	query += string.Format( " order by Id DESC" );


	var data = tbl.Query( query );
	var grid = new WebGrid( data, canPage: false );
	
	var num = 1;

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "UID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text>@( num++)</text> ),
				grid.Column(
					columnName: "Timestamp",
					header: "Date/Time",
					format: @<text>@Ux._datetime(item.Timestamp)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Application_ID",
					header: "Application ID",
					format: @<text>@Ux.empty_text(item.Application_ID)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Mobile",
					header: "Mobile",
					format: @<text>@Ux.empty_text(item.Mobile)</text>,
					canSort: false ),
				grid.Column(
					columnName: "Text",
					header: "Message",
					canSort: false,
					format: @<text>@Ux.empty_text(item.Text)</text> ),
				grid.Column(
					columnName: "Status",
					header: "Delivered",
					format: @<text>@(item.Status ? "Success" : "Failed")</text>,
					canSort: false )
			)
		);
	string date = DateTime.Today.ToString("yyyyMMdd");
	HttpContext.Current.Response.Clear();
	HttpContext.Current.Response.ClearContent();
	HttpContext.Current.Response.ClearHeaders();
	HttpContext.Current.Response.Buffer = true;
	HttpContext.Current.Response.ContentType = "application/ms-excel";
	HttpContext.Current.Response.AddHeader( "Content-Disposition", "attachment;filename=SMSLog-"+date+".xls" );
	HttpContext.Current.Response.Charset = "utf-8";
	HttpContext.Current.Response.ContentEncoding = System.Text.Encoding.GetEncoding( "windows-1250" );
	@xgrid
}
</body>
</html>