﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAdmin  ) {
		@:403 Access Denied!
		return;
	}
	if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "sms" ) {
		return;
	}
}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select DISTINCT Users.* from Users,webpages_UsersInRoles,webpages_Roles where Users.Mobile IS NOT NULL and Users.Mobile!='' and Users.UserId = webpages_UsersInRoles.UserId and ( webpages_UsersInRoles.RoleId ='2' or webpages_UsersInRoles.RoleId ='3')";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		query += string.Format( " and {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		if ( !Request["sortEnable"].IsEmpty() ) {
			query += string.Format( " and Sms='{0}'", Ux.escape_query( Request["sortEnable"] ));
		}
	} else {
		if ( !Request["sortEnable"].IsEmpty() ) {
			dosearch = true;
			query += string.Format( " and Sms='{0}'", Ux.escape_query( Request["sortEnable"] ));
		}
	}
	query += string.Format( " order by Name" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );

	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}
	
	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Name", "Full Name" );
	bb.Add( "Mobile", "Mobile No." );
	bb.Add( "Designation", "Designation" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";
	sact += "<select name='sortEnable' class='text' style='margin-left:10px;'>";
	sact += "<option value=''>-- Sort Status --</option>";
	Dictionary<string, string> bb1 = new Dictionary<string, string>();
	bb1.Add( "1", "Enable" );
	bb1.Add( "0", "Disable" );
	foreach ( var a1 in bb1 ) {
		sact += "<option value='" + a1.Key + "'";
		sact += ( Request["sortEnable"] == a1.Key ? "selected" : "" );
		sact += ">" + a1.Value + "</option>";
	}
	sact += "</select>";

	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "OPT",
					header: "Action",
					canSort: false,
					style: "grid-act",
					format: @<text><input type='checkbox' name='del[@item.UserId]' value='1'><img data-edit='@item.UserId' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "Sms",
					header: "Status",
					canSort: false,
					format: @<text><img data-stat='@item.UserId|@item.Sms' class='act' src='@Ux.href( "ui/rsc/offd.gif" )' data-tooltip=''></text> ),
				grid.Column(
					columnName: "UID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@( num++)</div></text> ),
				grid.Column(
					columnName: "Name",
					header: "Full Name",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Name)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Designation",
					header: "Designation",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Designation)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "CATID",
					header: "Category",
					canSort: false,
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@foreach ( var x in Roles.GetRolesForUser( item.Login ) ) { <span style='padding-left:2px;'>@x</span> }</div></text> ),
				grid.Column(
					columnName: "Mobile",
					header: "Mobile No.",
					format: @<text><div class='grid-pinfo' data-id='@item.UserId'>@Ux.empty_text(item.Mobile)</div></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	var tract = "<div class='grid-act-footer'>";
	tract += "<input type='checkbox' name='chkdel' data-click='msel'>";
	tract += "<img data-click='menable' class='act' src='"+ Ux.href( "ui/rsc/on.gif") + "' data-tooltip='Enable'>";
	tract += "<img data-click='mdisable' class='act' style='margin-left:0px;' src='"+ Ux.href( "ui/rsc/off.gif") + "' data-tooltip='Disable'>";
	tract += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( tract )
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		_webgrid_link_hash("admin-t5","grid", null, _sstr, _sopt, null,null,null,"tsec","sms");

		$(".grid-header th:contains('#')").css("text-align","right");
		$(".grid-header th:contains('Status')").css({"text-align":"center","width":"20px"});

		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/admin-t5");
		});
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/admin-t5/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr)+"&tsec=sms&__t="+time());
		});
		$("div.grid-search select[name=sortEnable]").change(function() {
			var _sort = $(this).attr("value");
			_redirect(_baseurl+"/#!p/admin-t5/sortEnable=" + urlencode(_sort)+"&tsec=sms&__t="+time());
		});
	});
</script>
<!-- /eol -->
@{
Ux._updatecredit();
}