﻿@{
	if ( !Ux.IsLogin ) {
	@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Ux.IsAdmin ) {
	@:403 Access Denied!
		return;
	}
	
	if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "smslog" ) {
		return;
	}
}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var datesearch = "";
	if ( !Request["sdate"].IsEmpty() && !Request["edate"].IsEmpty() ) {
		string[] sdate = Request["sdate"].Split('-');
		string[] edate = Request["edate"].Split('-');
		DateTime sdatei = new DateTime(sdate[2].AsInt(),sdate[1].TrimStart('0').AsInt(),sdate[0].TrimStart('0').AsInt());
		DateTime edatei = new DateTime(edate[2].AsInt(),edate[1].TrimStart('0').AsInt(),edate[0].TrimStart('0').AsInt());
		DateTime dt2 = edatei.AddDays(+1);
		datesearch += string.Format(" Timestamp >= '{0}' and Timestamp < '{1}'", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd"));
	} else {
		if ( !Request["sdate"].IsEmpty() ) {
			string[] sdate = Request["sdate"].Split('-');
			DateTime sdatei = new DateTime(sdate[2].AsInt(),sdate[1].TrimStart('0').AsInt(),sdate[0].TrimStart('0').AsInt());
			DateTime dt2 = sdatei.AddDays(+1);
			datesearch += string.Format(" Timestamp >= '{0}' and Timestamp < '{1}'", sdatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd") );
		}
		if ( !Request["edate"].IsEmpty() ) {
			string[] edate = Request["edate"].Split('-');
			DateTime edatei = new DateTime(edate[2].AsInt(),edate[1].TrimStart('0').AsInt(),edate[0].TrimStart('0').AsInt());
			DateTime dt2 = edatei.AddDays(+1);
			datesearch += string.Format(" Timestamp >= '{0}' and Timestamp < '{1}'", edatei.ToString("yyyy-MM-dd"), dt2.ToString("yyyy-MM-dd") );
		}
	}

	var query = "select * from SMSLog";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		if ( !datesearch.IsEmpty() ) {
			query += string.Format( " where {0} like '%{1}%' and {2}", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ), datesearch );
		} else {
			query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
		}
	} else {
		if ( !datesearch.IsEmpty() ) {
			dosearch = true;
			query += string.Format( " where {0}", datesearch );
		}
	}
	query += string.Format( " order by Id DESC" );

	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}
	
	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "mobile", "Mobile" );
	bb.Add( "AppID", "Application ID" );
	bb.Add( "Text", "Message" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<input type='text' class='text datepicker' style='width:70px!important;' name='sdate' placeholder='From Date' value='" + Request["sdate"] + "'>";
	sact += "<input type='text' class='text datepicker' style='width:70px!important;' name='edate' placeholder='To Date' value='" + Request["edate"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";
	sact += "<button class='button button_doc' name='btexcel'>Export to Excel</button>";
	sact += "<button class='button' name='btcancel'>Remove All Record</button>";
	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "OPT",
					header: "Delete",
					canSort: false,
					style: "grid-act",
					format: @<text><input type='checkbox' name='del[@item.Id]' value='1'><img data-del='@item.Id' class='act' src='@Ux.href( "ui/rsc/delete.png" )' data-tooltip='Delete'></text> ),
				grid.Column(
					columnName: "UID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text>@( num++)</text> ),
				grid.Column(
					columnName: "Timestamp",
					header: "Date/Time",
					format: @<text>@Ux._datetime(item.Timestamp)</text>,
					canSort: true ),
				grid.Column(
					columnName: "AppID",
					header: "Application ID",
					format: @<text><div class='grid-pinfo' data-appid='@item.AppID'>@Ux.empty_text(item.AppID)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Mobile",
					header: "Mobile",
					format: @<text><div class='grid-pinfo' data-mobile='@item.Mobile'>@Ux.empty_text(item.Mobile)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Text",
					header: "Message",
					canSort: false,
					format: @<text>@Ux.empty_text(item.Text)</text> ),
				grid.Column(
					columnName: "Status",
					header: "Delivered",
					format: @<text>@(item.Status ? "Succeeded" : "Failed")</text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	var tract = "<div class='grid-act-footer'>";
	tract += "<input type='checkbox' name='chkdel' data-click='msel'>";
	tract += "<img data-click='mdel' class='act' src='" + Ux.href( "ui/rsc/delete.png" ) + "' data-tooltip='Delete'>";
	tract += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( tract )
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		var _sdate = "@Request["sdate"]";
		var _edate = "@Request["edate"]";
		_webgrid_link_hash("home-t4","grid", null, _sstr, _sopt, null, _sdate, _edate, "tsec","smslog");

		$(".grid-header th:contains('#')").css("text-align","right");
		$(".grid-header th:contains('Date/Time')").css({"width":"150px"});
		$(".grid-header th:contains('Delete')").css({"width":"20px"});

		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/home-t4");
		});
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			var _sdate = $.trim($("div.grid-search input[name=sdate]").attr("value"));
			var _edate = $.trim($("div.grid-search input[name=edate]").attr("value"));
			if (_sstr == "" && _sdate =="" && _edate == ""  ) {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			if ( _sdate!="" || _edate!="" ) {
				_redirect(_baseurl+"/#!p/home-t4/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr) + "&sdate=" + urlencode(_sdate) + "&edate=" + urlencode(_edate)+"&tsec=smslog&__t="+time());
			} else {
				_redirect(_baseurl+"/#!p/home-t4/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr) +"&tsec=smslog&__t="+time());
			}
		});

		$("div.grid-search .datepicker").datepicker({
			dateFormat: 'dd-mm-yy',
			changeYear: true,
			changeMonth: true,
			yearRange: '2012:c',
			onChangeMonthYear: function (year, month, inst) {
				var dd = (inst.currentDay < 10 ? "0" + inst.currentDay : inst.currentDay);
				if (dd == "00") {
					dd = "01";
				}
				var mm = (month < 10 ? "0" + month : month);
				var ct = dd + '-' + mm + '-' + year;
				$(this).attr("value", ct);
			}
		});
	});
</script>
<!-- /eol -->