@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}

	if ( !Ux.IsAgent && !Ux.IsKPA && !Ux.IsKPC ) {
		@:403 Access Denied!
		return;
	}

	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="">
<meta name="description" content=""> 
<meta name="robots" content="noindex,nofollow,noodp,noydir">
<title>@Ux.apptitle</title>
<link rel="shortcut icon" type="image/x-icon" href="@Ux.href("favicon.ico")">
@{
	var css = SquishIt.Framework.Bundle.Css();
	var csfile = Server.MapPath( "~/ui/print-source-css.txt" );
	if (File.Exists(csfile)) {
		Array uicss = File.ReadAllLines( csfile );
		if ( uicss != null ) {
			foreach(string cl in uicss) {
				css.Add("~/ui/"+ cl);
			}
			
		}
	}
	css.ForceRelease();
	@Ux.tohref(css.Render("~/rw/min/pui#.css"));
}
<style type="text/css" media="print"> 
body, td{font-family:arial,sans-serif;font-size:80%} a:link, a:active, 
a:visited{color:#0000CC} img{border:0} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-$
</style>
<style>
body {
background: #ffffff;
background-image: none;
}
h1 {
	font-weight: bold;
	font-size: 14px;
}

</style>

<script type="text/javascript"> 
function doprint(){
        document.body.offsetHeight;
        setTimeout(function() {
                window.print();
        }, 500);
};
</script> 

</head>
<body onload="doprint();">
@{
	int masterid = Request["id"].AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	bool dataok = false;
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			dataok = true;
			xk.Add( xx.Key, xx.Value );
		}
	}

	if ( !dataok ) {
		@: Data not available!
		return;
	}
	var ftitle = "";
	var Carry_Type = xs.Carry_Type;
	var Type_of_Vessel = xs.Type_of_Vessel;
	if ( xs.Carry_Type == "bulk" ) {
		ftitle = "Dangerous Goods Carried In Bulk";
	} else {
		ftitle = "Dangerous Goods In Package Form";
	}

	dynamic tbl2 = new TblUsers();
	dynamic info = new System.Dynamic.ExpandoObject();
	info.agent_name = tbl2.First( UserId: xs.Agent_ID, Columns: "Name" ).Name;
	info.agent_company = tbl2.First( UserId: xs.Agent_ID, Columns: "Company" ).Company;
	info.kpc_name = null;
	if ( xs.KPC_Approved_ID != null ) {
		info.kpc_name = tbl2.First( UserId: xs.KPC_Approved_ID, Columns: "Name" ).Name;
	}
	info.kpa_name = null;
	if ( xs.KPA_Approved_ID != null ) {
		info.kpa_name = tbl2.First( UserId: xs.KPA_Approved_ID, Columns: "Name" ).Name;
	}
	
	var _kpcis = "";
	if ( xs.KPC_Status == 1 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/yes.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPC_Status == 2 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/no.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}

	if ( xs.KPC_Status == 3 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/maybe.png" )+" style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	
	var _kpais = "";
	if ( xs.KPA_Status == 1 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/yes.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPA_Status == 2 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/no.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPA_Status == 3 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/maybe.png" )+" style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	
	var idx = Ux.ckey();
}
<style type="text/css">
#x-table .tinfo {
	vertical-align: top;
	padding-top: 5px;
}
.grid {
	padding: 4px !important;
}

.grid td, .grid th {
	padding: 2px 5px 2px 5px;
}

.grid th, .grid-header {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}
.grid-header a, .grid-header a:link, .grid-header a:active, .grid-header a:visited, .grid-header a:focus {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}
.grid td {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}

.grid-act {
	padding-left: 2px !important;
	text-align: left;
	width: 30px !important;
}

.grid tr:hover {
	background: inherit;
}

#x-tablei {
	width:100%;
}
#x-tablei th,
#x-tablei td {
	width:316px;padding:6px;
}
#x-tablei th {
	font-weight:bold;
}
</style>

<h1>@ftitle</h1>
<fieldset class="x-fb" style="margin-left:0px;">
<table id="x-table">

<tr>
<th class="tinfo">Application Id</th>
<td colspan=2' class="tinfo">
@xs.Application_ID
</td>
</tr>

<tr>
<th class="tinfo">Name of Vessel</th>
<td class="tinfo">
@xs.Name_of_Vessel
</td>
<th class="tinfo">ETA</th>
<td class="tinfo">Vessel</td>
</tr>

<tr>
<th class="tinfo">Vessel Company</th>
<td class="tinfo">
@Ux._vessel_company(xs.Name_of_Vessel)
</td>
<th class="tinfo">Time</th>
<td class="tinfo">
@{
	string tformat = "hh:mm tt";
	DateTime time = xs.ETA_Time;
	@time.ToString( tformat )
}
&nbsp;hrs MST (UTC+0800 hrs)</td>
</tr>

<tr>
<th class="tinfo">Type of Vessel</th>
<td class="tinfo">
@xs.Type_of_Vessel
</td>
<th class="tinfo">Date</th>
<td class="tinfo">
@{
	string dformat = "dd MMMM yyyy";
	DateTime tdate = xs.ETA_Date;
	@tdate.ToString( dformat )
}
</td>
</tr>

<tr>
@*<th class="tinfo">Consignee</th>
<td class="tinfo">
@xs.Consignee
</td>*@
<th class="tinfo">Voyage Number</th>
<td class="tinfo">@Ux.empty_text( xs.voyage_number )</td>
<th class="tinfo">Last Port</th>
<td class="tinfo">
@xs.Last_Port
</td>
</tr>

<tr>
<th class="tinfo">SCN</th>
<td class="tinfo">@xs.SCN</td>
<th class="tinfo">Next Port</th>
<td class="tinfo">
@xs.Next_Port
</td>
</tr>
</table>
</fieldset>
<div style='width:100%;clear:both;text-align:left;margin-top:10px;margin-bottom:10px;'>
<table id="x-tablei">
<tr>
<th style='background:#5FFAAA;' class='border-left border-top'>Submitted</th>
<th style='background:#5FFAAA;' class='border-left border-top'>@Html.Raw(_kpcis) KPC</th>
<th style='background:#5FFAAA;' class='border-left border-top border-right'>@Html.Raw(_kpais)  KPA</th>
</tr>
<tr>
<td class='border-left border-bottom'>
<table>
<tr>
<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 0px;' class='left'>By:</td>
<td style='vertical-align:top;padding:5px 2px 0px 0px;' class='left'>@info.agent_name<br />@info.agent_company</td>
</tr>
<tr>
<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 0px;' class='left'>On:</td>
<td style='vertical-align:top;padding:5px 2px 0px 0px;' class='left'>
@{
	if ( xs.Submit_Date != null ) {
		string sformat = "dd/MM/yyyy hh:mm tt";
		DateTime sdate = xs.Submit_Date;
		@sdate.ToString( sformat )
	} else {
		@Ux.empty_text( "" )
	}
}
</td>
</tr>
</table>
</td>
<td class='border-left border-bottom'>
@if ( xs.KPC_Status == 0 ) {
	@:<img src="@Ux.href( "ui/rsc/gear.gif" )"> <span style='font-size:14px;'>Processing</span>
} else {
	@:<table>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>By:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>@info.kpc_name</td>
	@:</tr>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>On:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>
	if ( xs.KPC_Approved_Time != null ) {
		string cformat = "dd/MM/yyyy hh:mm tt";
		DateTime cdate = xs.KPC_Approved_Time;
		@cdate.ToString( cformat )
	} else {
		@Ux.empty_text( "" )
	}
	@:</td>
	@:</tr>
	@:<tr>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left' colspan='2'><b>Remarks:</b> @Ux.empty_text( xs.remarks_kpc )</td>
	@:</tr>
	@:</table>
}
</td>
<td class='border-left border-bottom border-right'>
@if ( xs.KPA_Status == 0 ) {
	@:<img src="@Ux.href( "ui/rsc/gear.gif" )"> <span style='font-size:14px;'>Processing</span>
} else {
	@:<table>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>By:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'> @info.kpa_name</td>
	@:</tr>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>On:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>
	if ( xs.KPA_Approved_Time != null ) {
		string aformat = "dd/MM/yyyy hh:mm tt";
		DateTime adate = xs.KPA_Approved_Time;
		@adate.ToString( aformat )
	} else {
		@Ux.empty_text( "" )
	}
	@:</td>
	@:</tr>
	@:<tr>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left' colspan='2'><b>Remarks:</b>@Ux.empty_text( xs.remarks_kpa )</td>
	@:</tr>
	@:</table>
}
</td>
</tr>
</table>
</div>

@{
	dynamic tbl = new TblDeclaration_Form_Detail();
	var data = tbl.Query( string.Format( "select * from Declaration_Form_Detail where Master_ID='{0}'", masterid ) );
	int dok = 0;
	foreach ( var p1 in data ) {
		dok++;
	}
	if ( dok == 0 ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule-step2';</script>
		return;
	}
	var numa = 1;

	var grid = new WebGrid( data, canPage: false );
	var xgrida = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info'>@( numa++)</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text( item.Trade_Name )</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);

	var numa2 = 1;
	var xgrida2 = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info'>@( numa2++)</span></text> ),
				grid.Column(
					columnName: "PSO",
					header: "Precise Storage Onboard",
					format: @<text>@Ux._datalist( item.FormDetail_ID, "PSOnboard" )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Weight",
					header: "Weight (Individual)",
					format: @<text>@Ux._datalist( item.FormDetail_ID, "Weight" )</text>,
					canSort: false ),
				grid.Column(
					columnName: "TotalWeight",
					header: "Total Weight",
					format: @<text>@Ux._weightcount( item.FormDetail_ID )</text>,
					canSort: false )
			)
		);

	var numb = 1;
	var xgridb = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span>@( numb++ )</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text(item.Trade_Name)</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "SubRisk",
					header: "Sub Risk",
					format: @<text>@Ux.empty_text( item.SubRisk )</text>,
					canSort: false ),
				grid.Column(
					columnName: "GroupOfPacking",
					header: "Packing Group",
					format: @<text>@Ux.empty_text( item.GroupOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "TypeOfPacking",
					header: "Type of Packing",
					format: @<text>@Ux.empty_text( item.TypeOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "NumofCTU",
					header: "CTUs",
					format: @<text>@( item.NumofCTU != null ? Ux.empty_text( item.NumofCTU.ToString() ) : Ux.empty_text("") )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);

		
	var numb2 = 1;
	var xgridb2 = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span>@( numb2++)</span></text> ),
				grid.Column(
					columnName: "CTU_id",
					header: "CTU Id",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"CTU_id")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Dimension",
					header: "Dimension",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Dimension")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Weight",
					header: "Weight",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Weight")</text>,
					canSort: false ),
				grid.Column(
					columnName: "CTUTeus",
					header: "CTUTeus",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"CTUTeus")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Type",
					header: "Type",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Type")</text>,
					canSort: false ),
				grid.Column(
					columnName: "PSO",
					header: "Precise Storage Onboard",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"PSOnboard_Cargo")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_ETA",
					header: "Lorry ETA",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_ETA")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_plate",
					header: "Lorry Plate",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_plate")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_Company",
					header: "Lorry Company",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_Company")</text>,
					canSort: false )
			)
		);
		
	if ( Carry_Type == "bulk" ) {
		@xgrida	
		@:<br>
		@xgrida2
	} else {
		@xgridb
		@:<br>
		@xgridb2
	}
}

</body>
</html>