@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}

	if ( !Ux.IsAgent && !Ux.IsKPA && !Ux.IsKPC ) {
		@:403 Access Denied!
		return;
	}

	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}

	int masterid = Request["id"].AsInt();
	dynamic xtbl = new TblDeclaration_Form_Master();
	var xobj = xtbl.FindBy( Master_ID: masterid );
	dynamic xs = new System.Dynamic.ExpandoObject();
	bool dataok = false;
	var xk = xs as IDictionary<string, object>;
	foreach ( var xitem in xobj ) {
		var xd = (IDictionary<string, object>)xitem;
		var xe = xd.ToArray();
		foreach ( var xx in xe ) {
			dataok = true;
			xk.Add( xx.Key, xx.Value );
		}
	}

	if ( !dataok ) {
		@: Data not available!
		return;
	}
	var ftitle = "";
	var Carry_Type = xs.Carry_Type;
	var Type_of_Vessel = xs.Type_of_Vessel;
	if ( xs.Carry_Type == "bulk" ) {
		ftitle = "Dangerous Goods Carried In Bulk";
	} else {
		ftitle = "Dangerous Goods In Package Form";
	}

	dynamic tbl2 = new TblUsers();
	dynamic info = new System.Dynamic.ExpandoObject();
	info.agent_name = tbl2.First( UserId: xs.Agent_ID, Columns: "Name" ).Name;
	info.agent_company = tbl2.First( UserId: xs.Agent_ID, Columns: "Company" ).Company;
	info.kpc_name = null;
	if ( xs.KPC_Approved_ID != null ) {
		info.kpc_name = tbl2.First( UserId: xs.KPC_Approved_ID, Columns: "Name" ).Name;
	}
	info.kpa_name = null;
	if ( xs.KPA_Approved_ID != null ) {
		info.kpa_name = tbl2.First( UserId: xs.KPA_Approved_ID, Columns: "Name" ).Name;
	}
	
	var _kpcis = "";
	if ( xs.KPC_Status == 1 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/yes.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPC_Status == 2 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/no.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}

	if ( xs.KPC_Status == 3 ) {
		_kpcis = "<img src='"+Ux.href( "ui/rsc/maybe.png" )+" style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	
	var _kpais = "";
	if ( xs.KPA_Status == 1 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/yes.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPA_Status == 2 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/no.png" )+"' style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	if ( xs.KPA_Status == 3 ) {
		_kpais = "<img src='"+Ux.href( "ui/rsc/maybe.png" )+" style='float:left;margin-top:0px;margin-right:5px;'>";
	}
	
	var idx = Ux.ckey();
}
<style type="text/css">
#x-table .tinfo {
	vertical-align: top;
	padding-top: 5px;
}
.grid {
	padding: 4px !important;
}

.grid td, .grid th {
	padding: 2px 5px 2px 5px;
}

.grid th, .grid-header {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}
.grid-header a, .grid-header a:link, .grid-header a:active, .grid-header a:visited, .grid-header a:focus {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}
.grid td {
	white-space: normal !important;
	font-size: 9px !important;
	font-weight: normal;
}

.grid-act {
	padding-left: 2px !important;
	text-align: left;
	width: 30px !important;
}

.grid tr:hover {
	background: inherit;
}

#x-tablei {
	width:100%;
}
#x-tablei th,
#x-tablei td {
	width:316px;padding:6px;
}
#x-tablei th {
	font-weight:bold;
}
</style>
<div style='float:right;'>
	<button class='button' name='bttmpsto'>Apply Temporary Storage</button>
	<button class='button' name='btprint'>Print</button>
</div>

<br>
<h1>@ftitle</h1>
<fieldset class="x-fb" style="margin-left:0px;">
<table id="x-table">

<tr>
<th class="tinfo">Application Id</th>
<td colspan=2' class="tinfo">
@xs.Application_ID
</td>
</tr>

<tr>
<th class="tinfo">Name of Vessel</th>
<td class="tinfo">
@xs.Name_of_Vessel
</td>
<th class="tinfo">ETA</th>
<td class="tinfo">Vessel</td>
</tr>

<tr>
<th class="tinfo">Vessel Company</th>
<td class="tinfo">
@Ux._vessel_company(xs.Name_of_Vessel)
</td>
<th class="tinfo">Time</th>
<td class="tinfo">
@{
	string tformat = "hh:mm tt";
	DateTime time = xs.ETA_Time;
	@time.ToString( tformat )
}
&nbsp;hrs MST (UTC+0800 hrs)</td>
</tr>

<tr>
<th class="tinfo">Type of Vessel</th>
<td class="tinfo">
@xs.Type_of_Vessel
</td>
<th class="tinfo">Date</th>
<td class="tinfo">
@{
	string dformat = "dd MMMM yyyy";
	DateTime tdate = xs.ETA_Date;
	@tdate.ToString( dformat )
}
</td>
</tr>

<tr>
@*<th class="tinfo">Consignee</th>
<td class="tinfo">
@xs.Consignee
</td>*@
<th class="tinfo">Voyage Number</th>
<td class="tinfo">@Ux.empty_text( xs.voyage_number )</td>
<th class="tinfo">Last Port</th>
<td class="tinfo">
@xs.Last_Port
</td>
</tr>

<tr>
<th class="tinfo">SCN</th>
<td class="tinfo">@xs.SCN</td>
<th class="tinfo">Next Port</th>
<td class="tinfo">
@xs.Next_Port
</td>
</tr>
</table>
</fieldset>
@if ( ( xs.KPA_Status == 3 || xs.KPC_Status == 3 ) && ( xs.Agent_ID == WebSecurity.CurrentUserId || ( Ux.IsKPC && !Ux.IsView && !Ux.IsKPA ) ) ) {
<button class='button' name='btedit'>Edit Package Information</button>
}
<div style='width:100%;clear:both;text-align:left;margin-top:10px;margin-bottom:10px;'>
<table id="x-tablei">
<tr>
<th style='background:#5FFAAA;' class='border-left border-top'>Submitted</th>
<th style='background:#5FFAAA;' class='border-left border-top'>@Html.Raw(_kpcis) KPC</th>
<th style='background:#5FFAAA;' class='border-left border-top border-right'>@Html.Raw(_kpais)  KPA</th>
</tr>
<tr>
<td class='border-left border-bottom'>
<table>
<tr>
<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 0px;' class='left'>By:</td>
<td style='vertical-align:top;padding:5px 2px 0px 0px;' class='left'>@info.agent_name<br />@info.agent_company</td>
</tr>
<tr>
<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 0px;' class='left'>On:</td>
<td style='vertical-align:top;padding:5px 2px 0px 0px;' class='left'>
@{
	if ( xs.Submit_Date != null ) {
		string sformat = "dd/MM/yyyy hh:mm tt";
		DateTime sdate = xs.Submit_Date;
		@sdate.ToString( sformat )
	} else {
		@Ux.empty_text( "" )
	}
}
</td>
</tr>
</table>
</td>
<td class='border-left border-bottom'>
@if ( xs.KPC_Status == 0 ) {
	@:<img src="@Ux.href( "ui/rsc/gear.gif" )"> <span style='font-size:14px;'>Processing</span>
} else {
	@:<table>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>By:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>@info.kpc_name</td>
	@:</tr>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>On:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>
	if ( xs.KPC_Approved_Time != null ) {
		string cformat = "dd/MM/yyyy hh:mm tt";
		DateTime cdate = xs.KPC_Approved_Time;
		@cdate.ToString( cformat )
	} else {
		@Ux.empty_text( "" )
	}
	@:</td>
	@:</tr>
	@:<tr>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left' colspan='2'><b>Remarks:</b> @Ux.empty_text( xs.remarks_kpc )</td>
	@:</tr>
	@:</table>
}
</td>
<td class='border-left border-bottom border-right'>
@if ( xs.KPA_Status == 0 ) {
	@:<img src="@Ux.href( "ui/rsc/gear.gif" )"> <span style='font-size:14px;'>Processing</span>
} else {
	@:<table>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>By:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'> @info.kpa_name</td>
	@:</tr>
	@:<tr>
	@:<td style='width:10px;font-weight:bold;vertical-align:top;padding:5px 2px 0px 2px;' class='left'>On:</td>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left'>
	if ( xs.KPA_Approved_Time != null ) {
		string aformat = "dd/MM/yyyy hh:mm tt";
		DateTime adate = xs.KPA_Approved_Time;
		@adate.ToString( aformat )
	} else {
		@Ux.empty_text( "" )
	}
	@:</td>
	@:</tr>
	@:<tr>
	@:<td style='vertical-align:top;padding:5px 2px 0px 2px;' class='left' colspan='2'><b>Remarks:</b>@Ux.empty_text( xs.remarks_kpa )</td>
	@:</tr>
	@:</table>
}
</td>
</tr>
</table>
</div>

@{
	dynamic tbl = new TblDeclaration_Form_Detail();
	var data = tbl.Query( string.Format( "select * from Declaration_Form_Detail where Master_ID='{0}'", masterid ) );
	int dok = 0;
	foreach ( var p1 in data ) {
		dok++;
	}
	if ( dok == 0 ) {
		@:<script type='text/javascript'>self.location.href = _baseurl + '/#!p/secondschedule-step2';</script>
		return;
	}
	var numa = 1;

	var grid = new WebGrid( data, canPage: false );
	var xgrida = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info'>@( numa++)</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text( item.Trade_Name )</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);

	var xgridae = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "FormDetail_ID",
					header: "",
					canSort: false,
					style: "grid-act",
					format: @<text><img data-edit='@item.FormDetail_ID' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info'>@( numa++)</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text( item.Trade_Name )</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);
		
	var numa2 = 1;
	var xgrida2 = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span class='grid-info'>@( numa2++)</span></text> ),
				grid.Column(
					columnName: "PSO",
					header: "Precise Storage Onboard",
					format: @<text>@Ux._datalist( item.FormDetail_ID, "PSOnboard" )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Weight",
					header: "Weight (Individual)",
					format: @<text>@Ux._datalist( item.FormDetail_ID, "Weight" )</text>,
					canSort: false ),
				grid.Column(
					columnName: "TotalWeight",
					header: "Total Weight",
					format: @<text>@Ux._weightcount( item.FormDetail_ID )</text>,
					canSort: false )
			)
		);

	var numb = 1;
	var xgridb = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span>@( numb++ )</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text(item.Trade_Name)</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "SubRisk",
					header: "Sub Risk",
					format: @<text>@Ux.empty_text( item.SubRisk )</text>,
					canSort: false ),
				grid.Column(
					columnName: "GroupOfPacking",
					header: "Packing Group",
					format: @<text>@Ux.empty_text( item.GroupOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "TypeOfPacking",
					header: "Type of Packing",
					format: @<text>@Ux.empty_text( item.TypeOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "NumofCTU",
					header: "CTUs",
					format: @<text>@( item.NumofCTU != null ? Ux.empty_text( item.NumofCTU.ToString() ) : Ux.empty_text("") )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);
	var xgridbe = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "FormDetail_ID",
					header: "",
					canSort: false,
					style: "grid-act",
					format: @<text><img data-edit='@item.FormDetail_ID' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span>@( numb++ )</span></text> ),
				grid.Column(
					columnName: "Proper_Shipping_Name",
					header: "Proper Shipping Name",
					format: @<text>@Ux.empty_text( item.Proper_Shipping_Name )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Trade_Name",
					header: "Trade Name",
					format: @<text><span>@Ux.empty_text(item.Trade_Name)</span></text>,
					canSort: false ),
				grid.Column(
					columnName: "imo_class",
					header: "IMO Class",
					format: @<text>@Ux.empty_text( item.imo_class )</text>,
					canSort: false ),
				grid.Column(
					columnName: "UN_No",
					header: "UN Number",
					format: @<text>@Ux.empty_text( item.UN_No )</text>,
					canSort: false ),
				grid.Column(
					columnName: "SubRisk",
					header: "Sub Risk",
					format: @<text>@Ux.empty_text( item.SubRisk )</text>,
					canSort: false ),
				grid.Column(
					columnName: "GroupOfPacking",
					header: "Packing Group",
					format: @<text>@Ux.empty_text( item.GroupOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Flash_Point",
					header: "Flash Point",
					format: @<text>@Ux.empty_text( item.Flash_Point )</text>,
					canSort: false ),
				grid.Column(
					columnName: "TypeOfPacking",
					header: "Type of Packing",
					format: @<text>@Ux.empty_text( item.TypeOfPacking )</text>,
					canSort: false ),
				grid.Column(
					columnName: "NumofCTU",
					header: "CTUs",
					format: @<text>@( item.NumofCTU != null ? Ux.empty_text( item.NumofCTU.ToString() ) : Ux.empty_text("") )</text>,
					canSort: false ),
				grid.Column(
					columnName: "LDT",
					header: "Load / Discharge / Transit",
					format: @<text>@Ux.empty_text( item.LDT )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortLoading",
					header: "Port of Loading",
					format: @<text>@Ux.empty_text( item.PortLoading )</text>,
					canSort: false ),
				grid.Column(
					columnName: "PortDischarging",
					header: "Port of Discharging",
					format: @<text>@Ux.empty_text( item.PortDischarging )</text>,
					canSort: false ),
				grid.Column(
					columnName: "KPA_Group",
					header: "KPA Group",
					format: @<text>@Ux.empty_text( item.KPA_Group )</text>,
					canSort: false ),
				grid.Column(
					columnName: "Remarks",
					header: "Comment",
					format: @<text>@Ux.empty_text( item.Remarks )</text>,
					canSort: false )
			)
		);
		
	var numb2 = 1;
	var xgridb2 = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			columns: grid.Columns(
				grid.Column(
					columnName: "CID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><span>@( numb2++)</span></text> ),
				grid.Column(
					columnName: "CTU_id",
					header: "CTU Id",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"CTU_id")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Dimension",
					header: "Dimension",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Dimension")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Weight",
					header: "Weight",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Weight")</text>,
					canSort: false ),
				grid.Column(
					columnName: "CTUTeus",
					header: "CTUTeus",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"CTUTeus")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Type",
					header: "Type",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Type")</text>,
					canSort: false ),
				grid.Column(
					columnName: "PSO",
					header: "Precise Storage Onboard",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"PSOnboard_Cargo")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_ETA",
					header: "Lorry ETA",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_ETA")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_plate",
					header: "Lorry Plate",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_plate")</text>,
					canSort: false ),
				grid.Column(
					columnName: "Lorry_Company",
					header: "Lorry Company",
					format: @<text>@Ux._datalist(item.FormDetail_ID,"Lorry_Company")</text>,
					canSort: false )
			)
		);
		
	if ( Carry_Type == "bulk" ) {
		if ( ( xs.KPA_Status == 3 || xs.KPC_Status == 3 ) && xs.Agent_ID == WebSecurity.CurrentUserId || ( Ux.IsKPC && !Ux.IsView && !Ux.IsKPA && ( xs.Type_of_Vessel == "Container" || xs.Type_of_Vessel == "Barge" || xs.Type_of_Vessel == "Other" || xs.Type_of_Vessel == "Ro Ro" || xs.Type_of_Vessel == "General Cargo") ) ) {
			@xgridae
		} else {
			@xgrida	
		}
		@:<br>
		@xgrida2
	} else {
		if ( ( xs.KPA_Status == 3 || xs.KPC_Status == 3 ) && xs.Agent_ID == WebSecurity.CurrentUserId || ( Ux.IsKPC && !Ux.IsView && !Ux.IsKPA && ( xs.Type_of_Vessel == "Container" || xs.Type_of_Vessel == "Barge" || xs.Type_of_Vessel == "Other" || xs.Type_of_Vessel == "Ro Ro" || xs.Type_of_Vessel == "General Cargo") ) ) {
			@xgridbe
		} else {
			@xgridb
		}
		@:<br>
		@xgridb2
	}
}


@if ( (Ux.IsKPC && !Ux.IsView && !Ux.IsAdmin ) && ( xs.KPC_Status == 0 || xs.KPC_Status == 3 ) ) {
	@:<div style='width:100%;clear:both;text-align:left;margin-top:10px;margin-bottom:10px;'>
	@:<form id="approve-form" onsubmit='return false;'>
	@:<table style='width:100%; padding:6px;' class='border'>
	@:<tr>
	@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>To handle the goods declared:</th>
	@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><select name='KPC_Status' class='text' style='width:306px;'>
	@:<option value='1'>Able</option>
	@:<option value='2'>Unable</option>
	@:<option value='3'>Application requires immediate rectification</option>
	@:</select></td>
	@:</tr>
	@:<tr>
	@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>Remarks:</th>
	@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><textarea name='remarks_kpc' class='text' style='width:300px;height:80px;'></textarea></td>
	@:</tr>
	@:<tr>
	@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>Enter your password for authorization:</th>
	@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><input type='password' name='apass' class='text' style='width:297px;'></td>
	@:</tr>
	@:<tr><td></td><td><button class='button button_check' name='btsave'>Submit</button></td></tr>
	@:</table>
	@:<input type='hidden' name='id' value='@masterid'>
	@:<input type='hidden' name='aid' value='@xs.Application_ID'>
	@:<input type='hidden' name='agentid' value='@xs.Agent_ID'>
	@:<input type='hidden' name='cat' value='kpc'>
	@:</form>
	@:</div>
} else {
	if ( Ux.IsKPA && ( xs.KPA_Status == 0 || xs.KPA_Status == 3 ) ) {
		@:<div style='width:100%;clear:both;text-align:left;margin-top:10px;margin-bottom:10px;'>
		if ( xs.KPC_Status == 0 || xs.KPC_Status == 3 ) {
			@: <span class='pnotice'>KPC is processing this application.</span>
		} else {
			@:<form id="approve-form" onsubmit='return false;'>
			@:<table style='width:100%; padding:6px;' class='border'>
			@:<tr>
			@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>To handle the goods declared:</th>
			@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><select name='KPA_Status' class='text' style='width:306px;'>
			@:<option value='1'>Approved</option>
			@:<option value='2'@( xs.KPC_Status == 2 ? " selected": "")>Not Approve the goods to be handled</option>
			@:<option value='3'>Application requires immediate rectification</option>
			@:</select></td>
			@:</tr>
			@:<tr>
			@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>Remarks</th>
			@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><textarea name='remarks_kpa' class='text' style='width:300px;height:100px;'>@xs.remarks_kpa</textarea></td>
			@:</tr>
			@:<tr>
			@:<th style='vertical-align:top;padding:10px 0px 0px 5px; width:300px;' class='right bold'>Enter your password for authorization:</th>
			@:<td style='vertical-align:top;padding:0px 0px 0px 5px;'><input type='password' name='apass' class='text' style='width:297px;'></td>
			@:</tr>
			@:<tr><td></td><td><button class='button button_check' name='btsave'>Submit</button></td></tr>
			@:</table>
			@:<input type='hidden' name='id' value='@masterid'>
			@:<input type='hidden' name='aid' value='@xs.Application_ID'>
			@:<input type='hidden' name='agentid' value='@xs.Agent_ID'>
			@:<input type='hidden' name='cat' value='kpa'>
			@:</form>
		}
		@:</div>
	}
}
<div class="hide" id="@{ @idx }badd1a-edit"></div>
<div class="hide" id="@{ @idx }step1-edit"></div>

<script type="text/javascript">
var _idx="@idx",_tpl4='tmpsto-apply',_action4='tmpsto';

	$(document).ready(function () {

		$("button[name=bttmpsto]").button({
			icons: { primary: 'ui-icon-cart' }
		}).click(function(e) {
			e = e || window.event;
			e.preventDefault();
			$.ajaxSetup({ async: false, global: false, cache: true });
		var _pid = '#'+_idx+'-add', _tpl = _tpl4, _formid = _idx+'-save';
		_pid = '#'+_idx+'badd1a-edit';
		var _width = 600;
		var _height = $(window).height() - 120;

		//console.log(_pid);
		//console.log(_tpl);
		//console.log(_formid);
		//console.log(_action4);

		//START
		$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid }).dialog({
				title: "Apply for Temporary Storage",
				modal: true,
				width: _width,
				resizable: true,
				position: ["center", "center"],
				buttons: {
					"Save": function() {
						$('#'+_formid).ajaxSubmit({
							url: _index,
							type: 'POST',
							method: 'POST',
							dataType: 'text',
							async: false,
							clearForm: false,
							resetForm: false,
							cache: false,
							data: { _post: 'save', _what: _action4 },
							success: function(data) {
								if ( !_ismsg_json(data) ) {
									_gerror(data);
									return false;
								}
								data = $.evalJSON(data);
								if ( !data.success ) {
									_gid = _gfalse(data.msg);
									_ghoverclose(_gid);
									return false;
								}
								_gid = _gtrue(data.msg);
								_ghoverclose(_gid);
								_loadgrid4();
								window.setTimeout(function() {
									$(_pid).dialog("close");
									_gmsgremove();
								}, 1000);
							}
						});
						return false;
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				},
				open: function() {
					_dialog_maxheight($(this),_height);
					_buttondialog($(this));
				},
				close: function() {
					$(_pid).empty().dialog("destroy");
				}
		});// END
		});

		$("button[name=btprint]").button({
			icons: { primary: 'ui-icon-print' }
		}).click(function(e) {
			e = e || window.event;
			e.preventDefault();
			_popupnewin(_index+"?_req=tpl&_f=status-view-print&id=@masterid","print");
		});
		
		$(".grid-header th:contains('#')").css("text-align","right");
		$(".grid-header th:contains('Weight (Individual)')").css({"width":"100px"});
		$(".grid-header th:contains('Total Weight')").css({"width":"100px"});

		$('form#approve-form').submit(function () {
			$(this).ajaxSubmit({
				url: _index,
				type: 'POST',
				method: 'POST',
				dataType: 'text',
				async: false,
				clearForm: false,
				resetForm: false,
				cache: false,
				data: { _post: 'approve', _what: 'secondschedule' },
				beforeSubmit: function () {
					var _p;
					_p = $.trim($('form#approve-form input[name=apass]').attr('value'));
					if (_p == '') {
						_gfalse("Please enter your current password!");
						$('input[name=rpass]').focus();
						return false;
					}
				},
				success: function (data) {
					if (!_ismsg_json(data)) {
						_gerror(data);
						_clear();
						return false;
					}
					data = $.evalJSON(data);
					if (!data.success) {
						_gid = _gfalse(data.msg);
						_ghoverclose(_gid);
						return false;
					}
					_ajaxmsg(data.msg);
					window.setTimeout(function() {
						_redirect(_baseurl+'/#!p/status-t1', true);
					}, 500);
				}
			});
			return false;
		});
		$("form#approve-form button[name=btsave]").click(function(e) {
			e = e || window.event;
			e.preventDefault();
			$('form#approve-form').submit();
			return false;
		});
		
		$("img[data-edit]").click(function(e) {
			e = e || window.event;
			var _id = $(this).attr("data-edit");
			$.ajaxSetup({async: false, global: false});
			var _pid = '#@{ @idx }badd1a-edit', _formid = 'badd1aedit-save';
			@if ( Carry_Type == "bulk" ) {
				@:var _tpl = 'secondschedule-step2-badda-edit';
			} else {
				@:var _tpl = 'secondschedule-step2-cadda-edit';
			}

			@if ( Carry_Type == "package" && ( Type_of_Vessel == "Container" || Type_of_Vessel == "Barge" || Type_of_Vessel == "Other" || Type_of_Vessel == "Ro Ro" || Type_of_Vessel == "General Cargo" ) ) {
				@:var _width = $(document).width() - 100;
			} else {
				@:var _width = 800;
			}
			
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid, id: _id, masterid: @masterid },function() {
				var _portlist = "";
				$.post(_index, { _post: 'listport', _what: 'port' }, function (html) {
						_portlist = trim(html);
				}, "text");
				function _PortLoading_value(html) {
					$(_pid+" select[name=PortLoading]").html(html);
				};
				function _PortDischarging(html) {
					$(_pid+" select[name=PortDischarging]").html(html);
				};
				$(_pid+" select[name=LDT]").change(function() {
					var _val = $(this).attr("value");
					var _pp1 = $(_pid+" select[name=PortLoading] option:selected").attr("value");
					var _pp2 = $(_pid+" select[name=PortDischarging] option:selected").attr("value");
					if ( _val == "Load" ) {
						_PortLoading_value("<option value='KUANTAN'>KUANTAN</option>");
						_PortDischarging(_portlist);
					} else if ( _val == "Discharge" ) {
						_PortLoading_value(_portlist);
						_PortDischarging("<option value='KUANTAN'>KUANTAN</option>");
					} else {
						_PortLoading_value(_portlist);
						_PortDischarging(_portlist);
					}
					$(_pid+" select[name=PortLoading] option[value='"+_pp1+"']").attr("selected","selected");
					$(_pid+" select[name=PortDischarging] option[value='"+_pp2+"']").attr("selected","selected");
				});
				$(_pid+" select[name=LDT]").trigger("change");
				@if ( Carry_Type == "bulk" ) {
					@:function _weight_total() {
					@:	var cnt = 0;
					@:	$(_pid+" input[name=Weight]").each(function() {
					@:		var _c = $(this).attr("value");
					@:		cnt += parseFloat(_c);
					@:	});
					@:	if ( isNaN(cnt) ) {
					@:		cnt = 0;
					@:	}
					@:	$(_pid+" input[name=total]").attr("value",cnt);
					@:};
					@:_weight_total();
					@:$(_pid+" input[name=Weight]").each(function() {
					@:	$(this).keypress(function() {
					@:		var _c = $(this).attr("value");
					@:		return isNumberKey(_c,true);
					@:	});
					@:	$(this).bind("blur click", function() {
					@:		_weight_total();
					@:	});
					@:});
					@:$(_pid+" input[name=total]").click(function(e) {
					@:	e = e || window.event;
					@:	e.preventDefault();
					@:	_weight_total();
					@:});
				} else {
					@:$(_pid+" select[name^=Dimension]").each(function() {
					@:	$(this).change(function() {
					@:		var _v = $(this).attr("value");
					@:		$(this).parent().next().next().find("input[name^=CTUTeus]").attr("value", _v);
					@:	});
					@:});
					@:$(_pid+" input[name^=Weight]").each(function() {
					@:	$(this).keypress(function() {
					@:		var _c = $(this).attr("value");
					@:		return isNumberKey(_c,true);
					@:	});
					@:});
				}
			}).dialog({
					title: "@ftitle",
					modal: true,
					width: _width,
					resizable: true,
					position: ["center", "center"],
					buttons: {
						"Update": function() {
						var _msg = "";
							var _txtp = "";
							@if ( Carry_Type == "bulk" ) {
								@:var _weight = $.trim($(_pid+" select[name=Measurement]").attr("value"));
								@:if ( _weight == "" && _txtp == "") {
								@:	_txtp ="<li>Please select Weight Measurement!</li>";
								@:}
								@:if ( _txtp !== "" ) {
								@: _msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=PSOnboard]").each(function() {
								@:	var _val = $.trim($(this).attr("value"));
								@:	if ( _val == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Precise Storage Onboard!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@: _msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=Weight]").each(function() {
								@:	var _val = $.trim($(this).attr("value"));
								@:	if ( _val == "" ) {
								@:		$(this).attr("value","0");
								@:	}
								@:});						
							} else {
								@:$(_pid+" input[name^=CTU_id]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" ) {
								@:		_txtp ="<li>Please insert CTU Id!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Dimension]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Dimension!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name=Weight]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Weight!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Type]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Type!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name^=PSOnboard_Cargo]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Precise Storage Onboard!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=eta_hour]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select ETA Hour!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=eta_min]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select ETA Minute!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" select[name^=Lorry_plate]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please select Lorry plate!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
								@:$(_pid+" input[name^=Lorry_Company]").each(function() {
								@:	if ( $.trim($(this).attr("value")) == "" && _txtp == "") {
								@:		_txtp = "<li>Please insert Lorry company!</li>";
								@:	}
								@:});
								@:if ( _txtp !== "" ) {
								@:	_msg += _txtp;
								@:}
								@:_txtp = "";
							}
							if ( _msg !== "" ) {
								_gfalse("<ul>"+_msg+"</ul>");return false;
							}									

							$('#'+_formid).ajaxSubmit({
								url: _index,
								type: 'POST',
								method: 'POST',
								dataType: 'text',
								async: false,
								clearForm: false,
								resetForm: false,
								cache: false,
								@if ( Carry_Type == "bulk" ) {
									@:data: { _post: 'update_formsubdetails', _what: 'secondschedule', id: _id, appidpending: '@xs.Application_ID' },
								} else {
									@:data: { _post: 'update_formsubdetails2', _what: 'secondschedule', id: _id, appidpending: '@xs.Application_ID' },								
								}
								success: function(data) {
									if ( !_ismsg_json(data) ) {
										_gerror(data);
										return false;
									}
									data = $.evalJSON(data);
									if ( !data.success ) {
										_gid = _gfalse(data.msg);
										_ghoverclose(_gid);
										return false;
									}
									_winreload();
									window.setTimeout(function() {
										$(_pid).dialog("close");
										_gmsgremove();
									}, 1000);
								}
							});
							return false;
						},
						"Cancel": function() {
							$(_pid).dialog("close");
						}
					},
					open: function() {
						_dialog_maxheight($(this),_height);
						_buttondialog($(this));
					},
					close: function() {
						$(_pid).empty().dialog("destroy");
					}
			});
		});
		
		$("button[name=btedit]").click(function(e) {
			e = e || window.event;
			var _id = "@masterid";
			$.ajaxSetup({async: false, global: false, cache: true});
			var _pid = '#@{ @idx }step1-edit', _tpl = 'secondschedule-step1-edit', _formid = 'step1edit-save';
			var _width = 700;
			var _height = $(window).height() - 120;
			$(_pid).load(_index, { _req: 'tpl', _f: _tpl, _formid: _formid, id: _id, masterid: _id, _statusedit: 1 },function() {
				$(_pid+" .datepicker").datepicker({
					dateFormat: 'dd/mm/yy',
					changeYear: true,
					changeMonth: true,
					yearRange: 'c:c+5',
					onChangeMonthYear: function (year, month, inst) {
						var dd = (inst.currentDay < 10 ? "0" + inst.currentDay : inst.currentDay);
						if (dd == "00") {
							dd = "01";
						}
						var mm = (month < 10 ? "0" + month : month);
						var ct = dd + '/' + mm + '/' + year;
						$(this).attr("value", ct);
					}
				});
			}).dialog({
					title: "@ftitle",
					modal: true,
					width: _width,
					resizable: true,
					position: ["center", "center"],
					buttons: {
						"Update": function() {						
							var _Name_of_Vessel = $.trim($(_pid+" select[name=Name_of_Vessel]").attr("value"));
							var _Company = $.trim($("input[name=Company]").attr("value"));
							/*var _Type_of_Vessel = $.trim($(_pid+" select[name=Type_of_Vessel]").attr("value"));*/
							var _voyage_number = $.trim($(_pid+" input[name=voyage_number]").attr("value"));
							var _Consignee = $.trim($(_pid+" select[name=Consignee]").attr("value"));
							var _SCN = $.trim($(_pid+" input[name=SCN]").attr("value"));
							var _Next_Port = $.trim($(_pid+" select[name=Next_Port]").attr("value"));
							var _Last_Port = $.trim($(_pid+" select[name=Last_Port]").attr("value"));
							
							var txt = "";
							if ( _Name_of_Vessel == "") {
								txt += "<li>Please select Name of Vessel!</li>";
							}
					
							/*if ( _Type_of_Vessel == "") {
								txt += "<li>Please select Type of Vessel!</li>";
							}*/

							/*if ( _Consignee == "") {
								txt += "<li>Please select Consignee!</li>";
							}*/
							
							if ( _SCN == "") {
								txt += "<li>Please insert SCN value!</li>";
							}

							if ($.trim($(_pid+" select[name=eta_hour]").attr("value")) == "") {
								txt += "<li>Please select ETA time hour!</li>";
							}

							if ($.trim($(_pid+" select[name=eta_min]").attr("value")) == "") {
								txt += "<li>Please select ETA time minute!</li>";
							}

							if ($.trim($(_pid+" input[name=ETA_Date]").attr("value")) == "") {
								txt += "<li>Please select ETA Date!</li>";
							}
							
							if ( _Next_Port == "") {
								txt += "<li>Please select Next Port!</li>";
							}

							if ( _Last_Port == "") {
								txt += "<li>Please select Port Port!</li>";
							}

							/*if (txt == "") {
								if ($(_pid+" select[name=Last_Port]").attr("value") == $(_pid+" select[name=Next_Port]").attr("value")) {
									txt += "<li>Last Port and Next Port cannot be same!</li>";
								}
							}*/
							if (txt !== "") {
								_gfalse("<ul>" + txt + "</ul>");
								return false;
							}

							var _etatime_h = $(_pid+" select[name=eta_hour]").attr("value");
							var _etatime_m = $(_pid+" select[name=eta_min]").attr("value");
							var _etatime = date("Y-m-d ") + _etatime_h + ":" + _etatime_m;
							$(_pid+" input[name=ETA_Time]").attr("value", _etatime);

							var _etadate = $.trim($(_pid+" input[name=ETA_Date]").attr("value"));
							var _etadate_d = null, _etadate_m = null, _etadate_y = null;
							var _p = _etadate.match(/(\d\d)\/(\d\d)\/(\d\d\d\d)$/);
							if ( _p && _p[1] && _p[2] && _p[3] ) {
								_etadate_d = _p[1];
								_etadate_m = _p[2];
								_etadate_y = _p[3];
								_etadate_d = _etadate_d.replace(/^0/,'');
								_etadate_m = _etadate_m.replace(/^0/,'');
								_etadate_y = _etadate_y.replace(/^0/,'');
							} else {
								_gfalse("ETA Date Invalid Format!");
								return false;
							}

							var _pdate = strtotime('-1 day', time());
							var _ndate = strtotime(_p[2]+"/"+_p[1]+"/"+_p[3]+" "+_etatime_h+":"+_etatime_m);
							/*alert(_pdate+" "+_ndate);return false;*/
							if ( _ndate <= _pdate ) {
								_gerror("Invalid ETA Date!<br>Today: "+date('d/m/Y')+"<br>ETA Date: "+_etadate);
								return false;
							}
							var _timelimit = $(_pid+" select[name=Next_Port] option:selected").attr("data-timelimit") || 0;

							/* calculate datediff */
							var _etatime_h1 = _etatime_h.replace(/^0/,'');
							var _etatime_m1 = _etatime_m.replace(/^0/,'');			
							var d1 = new Date(parseInt(_etadate_y), parseInt(_etadate_m)-1, parseInt(_etadate_d), parseInt(_etatime_h1), parseInt(_etatime_m1));
							var d2 = new Date();

							var diff = d2 - d1, sign = diff < 0 ? -1 : 1, milliseconds, seconds, minutes, hours, days;
							diff /= sign; /* or diff=Math.abs(diff);*/
							diff = (diff - (milliseconds = diff % 1000)) / 1000;
							diff = (diff - (seconds = diff % 60)) / 60;
							diff = (diff - (minutes = diff % 60)) / 60;
							days = (diff - (hours = diff % 24)) / 24;
						
							var _timelimit_d = parseInt(_timelimit);
							if ( parseInt(_timelimit_d) > 24 ) {
								_timelimit_d = ( parseInt(_timelimit) / 24 );
							}
							if ( parseInt(days) < _timelimit_d ) {
								if ( parseInt(hours) < parseInt(_timelimit) ) {
									$(_pid+" input[name=hours_alert]").attr("value", "< "+_timelimit);
								}
							} else {
								$(_pid+" input[name=hours_alert]").attr("value","NULL");
							}
							/*alert($(_pid+" input[name=hours_alert]").attr("value"));*/
							$('#'+_formid).ajaxSubmit({
								url: _index,
								type: 'POST',
								method: 'POST',
								dataType: 'text',
								async: false,
								clearForm: false,
								resetForm: false,
								cache: false,
								data: { _post: 'update_step1_pending_X', _what: 'secondschedule', id: _id },
								success: function(data) {
									if ( !_ismsg_json(data) ) {
										_gerror(data);
										return false;
									}
									data = $.evalJSON(data);
									if ( !data.success ) {
										_gid = _gfalse(data.msg);
										_ghoverclose(_gid);
										return false;
									}
									_winreload();
									window.setTimeout(function() {
										$(_pid).dialog("close");
										_gmsgremove();
									}, 1000);
								}
							});
							return false;
						},
						"Cancel": function() {
							$(_pid).dialog("close");
						}
					},
					open: function() {
						_dialog_maxheight($(this),_height);
						_buttondialog($(this));
					},
					close: function() {
						$(_pid).empty().dialog("destroy");
					}
			});
			
		});
		
	});
</script>