﻿@{
	if ( !Ux.IsLogin ) {
			@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	
	var idx = Ux.ckey();
}
<div class="barmid border-corner6px-all">
<div id="sec">
<ul>
<li class="hide"><a href="#sec0">nothing</a></li>
<li><a href="#sec1" data-code="status-current"><span class="ui-icon ui-icon-circle-check"></span>Current</a></li>
<li><a href="#sec2" data-code="status-failed"><span class="ui-icon ui-icon-circle-close"></span>Failed</a></li>
<li><a href="#sec3" data-code="status-pending"><span class="ui-icon ui-icon-clock"></span>Pending</a></li>
</ul>

<div id="sec0"></div> <!-- /sec0 -->
<div id="sec1"><div class="x-list" id="@{ @idx }1"></div> </div> <!-- /sec1 -->
<div id="sec2"><div class="x-list" id="@{ @idx }2"></div> </div> <!-- /sec2 -->
<div id="sec3"><div class="x-list" id="@{ @idx }3"></div> </div> <!-- /sec3 -->
</div> <!-- /sec -->

<script type="text/javascript">
$(document).ready(function() {
	var _idx = "@idx";
	_sindex = 1;
	@Ux.js("ui/rsc/_tab.js", false);
	$('#sec').bind('tabsselect', function(e, ui) {
		e = e || window.event;
		var _uh = window.location.hash || null;
		if ( _uh !== null ) {
			var _m = _uh.match(/!p\/status\-t(\d+)/);
			if ( _m && _m[1] ) {
				if ( ui.index != _m[1] ) {
					window.location.hash = "!/p/status";
					@{
						if ( Request["_tab"].IsEmpty() ) {
							@:_tabselect(ui.index);
						}
					}
				}
			}
		}
	});
	@{
		if ( !Request["_tab"].IsEmpty() ) {
			@:_tabselect(@Request["_tab"]);
		}
	}

});
</script>

</div>