﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	// if ( !Ux.IsKPA ) {
	// 	@:403 Access Denied!
	// 	return;
	// }
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Reason for Application</th>
<td colspan="2"><textarea rows="4" cols="50" name="Name" class="text" value=""></textarea></td>
</tr>
<tr>
	<th>Date</th>
	<td><input type='text' class='text datepicker' style='width:150px!important;' id='ssdate' name='ssdate' placeholder='From Date' value=''></td>
	<td><input type='text' class='text datepicker' style='width:150px!important;' id='sedate' name='sedate' placeholder='To Date' value=''></td>
</tr>

</table>
</fieldset>

</form>

<script>
		$("#ssdate,#sedate").datepicker({
		dateFormat: 'dd-mm-yy',
		changeYear: true,
		changeMonth: true,
		yearRange: '2000:c+5',
		onChangeMonthYear: function (year, month, inst) {
			var dd = (inst.currentDay < 10 ? "0" + inst.currentDay : inst.currentDay);
			if (dd == "00") {
				dd = "01";
			}
			var mm = (month < 10 ? "0" + month : month);
			var ct = dd + '-' + mm + '-' + year;
			$(this).attr("value", ct);
		}
	});
</script>

</div> <!-- /dialog_max_height -->