﻿<div class="bartop">
<div class="bartop-inner">
<div class="bartop-logo"></div>
<div class="bartop-text"></div>
<div class="bartop-clock"></div>
<div class="bartop-uinfo">
@if ( Ux.IsLogin ) {
	@WebSecurity.CurrentUserName @:&mdash; @Ux.listuserrole( WebSecurity.CurrentUserName )
}
</div>
</div> <!-- /bartop-inner -->
</div> <!-- /bartop -->
<div class="bartop-menu">
<div class="bartop-menu-inner">
<button class="button" name="bthome" style="margin-right: 5px !important;">Home</button>
@{
	if ( Ux.IsLogin ) {
		@:<button class="button btpage" name="btpage" data-page="firstschedule">First Schedule</button>
		if ( Ux.IsAgent ) {
			@:<button class="button btpage" name="btpage" data-page="secondschedule">Second Schedule</button>
		}
		@:<button class="button btpage" name="btstatus" data-page="status">Status</button>
		if ( Ux.IsAdmin || Ux.IsKPA ) {
			@:<button class="button btpage" name="btadmin" data-page="admin">Administration</button>
		}
		@:<button class="button" name="btprofile">Change Password</button>
		@:<button class="button" name="btlogout" style="margin-right: 5px !important;">Logout</button>
	}
}
</div> <!-- /bartop-menu-inner -->
</div> <!-- /bartop-menu -->
@if ( WebSecurity.CurrentUserId > 0 ) {
	var profilegid = "x-"+Ux.ckey();
	@:<div class="hide" id="@profilegid" title="Profile"></div>
	if ( Request.Cookies["_bpx"] != null ) {
	@:<div class="hide" id="_bpx" title="Reset Password"></div>
	}
	@:<script type="text/javascript">
	@:var _profileuid = "@WebSecurity.CurrentUserId";
	@:var _profilegid = "@profilegid";
	@:$(document).ready(function () {
		@Ux.js("ui/rsc/_profile.js", false);
		if ( Request.Cookies["_bpx"] != null ) {
			@Ux.js("ui/rsc/_resetpassword.js", false);
			@:_resetpassword(@WebSecurity.CurrentUserId);
		}
	@:});
	@:</script>
}
<!-- /end -->