﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA && !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table th {
	min-width: 150px !important;
	width: 150px !important;
}
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Trade Name</th>
<td><input type="text" name="Name" class="text" value=""></td>
</tr>

<tr>
<th>Description</th>
<td><textarea name="Text" class="text"></textarea></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->