﻿@{
	if ( !Ux.IsLogin ) {
	@:Session Expired!
			@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
			return;
	}
	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	if ( !Request["tsec"].IsEmpty() && Request["tsec"] != "tradename" ) {
		return;
	}
}
@{
	bool dosearch = false;
	dynamic tbl = new Db();
	var query = "select Id,Name,Text from Tradename";
	if ( !Request["sopt"].IsEmpty() && !Request["sstr"].IsEmpty() ) {
		dosearch = true;
		query += string.Format( " where {0} like '%{1}%'", Ux.escape_query( Request["sopt"] ), Ux.escape_query( Request["sstr"] ) );
	}
	query += string.Format( " order by Name" );
	var data = tbl.Query( query );
	var grid = new WebGrid( data, rowsPerPage: 20, pageFieldName: "pg" );
	if ( !Request["sort"].IsEmpty() ) {
		grid.SortColumn = Request["sort"];
	}
	if ( !Request["sortdir"].IsEmpty() ) {
		if ( Request["sortdir"] == "ASC" ) {
			grid.SortDirection = SortDirection.Ascending;
		} else {
			grid.SortDirection = SortDirection.Descending;
		}
	}
	if ( grid.PageCount > 1 && !Request["pg"].IsEmpty() ) {
		if ( Request["pg"].AsInt() <= grid.PageCount ) {
			grid.PageIndex = Request["pg"].AsInt() - 1;
		}
	}

	var num = grid.PageIndex;
	if ( num > 0 ) {
		num = num * grid.RowsPerPage;
	}

	num = ( num == 0 ? 1 : num+1 );

	var sact = "<div class='grid-search'>";
	sact += "<select name='sopt' class='text'>";

	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "Name", "Trade Name" );
	foreach ( var a in bb ) {
		sact += "<option value='" + a.Key + "'";
		sact += ( Request["sopt"] == a.Key ? "selected" : "" );
		sact += ">" + a.Value + "</option>";
	}
	sact += "</select>";
	sact += "<input type='text' class='text' name='sstr' placeholder='Keywords' value='" + Request["sstr"] + "'>";
	sact += "<button class='button' name='btsearch'>Search</button><button class='button' name='btreset'>Reset</button>";

	sact += "<button class='button' name='btadd' style='margin-left:10px;'>Add New Trade name</button>";
	sact += "</div>";
}
@if ( grid.PageCount == 0 ) {
	@Html.Raw( sact )
	<span>@( dosearch ? "No data for search matches" : "No data available")</span>
} else {

	var xpager = grid.Pager( WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">" );

	var xgrid = grid.GetHtml(
			htmlAttributes: new { id = "grid" },
			tableStyle: "grid",
			alternatingRowStyle: "grid-alternate",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			mode: WebGridPagerModes.All, numericLinksCount: 10, firstText: "<", previousText: "<<", nextText: ">>", lastText: ">",
			columns: grid.Columns(
				grid.Column(
					columnName: "OPT",
					header: "Action",
					canSort: false,
					style: "grid-act",
					format: @<text><input type='checkbox' name='del[@item.Id]' value='1'><img data-del='@item.Id' class='act' src='@Ux.href( "ui/rsc/delete.png" )' data-tooltip='Delete'><img data-edit='@item.Id' class='act' src='@Ux.href( "ui/rsc/edit.png" )' data-tooltip='edit'></text> ),
				grid.Column(
					columnName: "ID",
					header: "#",
					canSort: false,
					style: "grid-no",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@( num++)</div></text> ),
				grid.Column(
					columnName: "Name",
					header: "Trade Name",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux.empty_text(item.Name)</div></text>,
					canSort: true ),
				grid.Column(
					columnName: "Text",
					header: "Description",
					format: @<text><div class='grid-pinfo' data-id='@item.Id'>@Ux.empty_text(item.Text)</div></text>,
					canSort: true )
			)
		);
	var totalr = grid.TotalRowCount - 1;
	if ( totalr == 0 ) {
		totalr = 1;
	} else {
		totalr = totalr+1;
	}
	var ppager = "<div class='pager'>Total Records: " + totalr;
	if ( grid.PageCount > 1 ) {
		ppager += " &mdash; <span class='grid-footer'>" + xpager + "</span>";
	}
	ppager += "</div>";

	var tract = "<div class='grid-act-footer'>";
	tract += "<input type='checkbox' name='chkdel' data-click='msel'>";
	tract += "<img data-click='mdel' class='act' src='" + Ux.href( "ui/rsc/delete.png" ) + "' data-tooltip='Delete'>";
	tract += "</div>";

	@Html.Raw( sact )
	@Html.Raw( ppager )
	@xgrid
	@Html.Raw( tract )
	@Html.Raw( ppager )
}

<script type="text/javascript">
	$(document).ready(function() {
		var _sstr = "@Request["sstr"]";
		var _sopt = "@Request["sopt"]";
		_webgrid_link_hash("admin-t8","grid", null, _sstr, _sopt, null,null,null,"tsec","tradename");

		$(".grid-header th:contains('#')").css("text-align","right");
		$("div.grid-search button[name=btreset]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			_redirect(_baseurl+"/#!p/admin-t8");
		});
		$("div.grid-search button[name=btsearch]").click(function (e) {
			e = e || window.event;
			e.preventDefault();
			var _sopt = $("div.grid-search select[name=sopt]").attr("value");
			var _sstr = $.trim($("div.grid-search input[name=sstr]").attr("value"));
			if (_sstr == "") {
				$("div.grid-search input[name=sstr]").focus();
				return;
			}
			_redirect(_baseurl+"/#!p/admin-t8/sopt=" + urlencode(_sopt) + "&sstr=" + urlencode(_sstr)+"&tsec=tradename&__t="+time());
		});
	});
</script>
<!-- /eol -->