﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsAdmin ) {
		@:403 Access Denied!
		return;
	}
	string[] _enable = new string[2] { "No", "Yes" };
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<legend class="x-title">Login</legend>
<table id="x-table">
<tr>
<th>Login ID</th>
<td><input type="text" name="Login" class="text" value=""></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="Category" class="text">
@{
	foreach ( var x in Roles.GetAllRoles() ) {
		if ( x != "Admin" && x != "View" ) {
			@:<option value="@x">@x</option>
		}
	}
}
</select>
</td>
</tr>

<tr id="isadmin" class="hide">
<th>Administrator</th>
<td>
<select name="Isadmin" class="text">
@{
	foreach ( var y in _enable ) {
		@:<option value="@y">@y</option>
	}
}
</select>
</td>
</tr>

<tr id="isview" class="hide">
<th>View only</th>
<td>
<select name="Isview" class="text">
@{
	foreach ( var y in _enable ) {
		@:<option value="@y">@y</option>
	}
}
</select>
</td>
</tr>

<tr>
<th>Password</th>
<td><input type="password" name="pass" class="text" value="@Ux.defaultpassword"></td>
</tr>

<tr>
<th>Retype Password</th>
<td><input type="password" name="rpass" class="text" value="@Ux.defaultpassword"></td>
</tr>

<tr>
<th>Status</th>
<td>
<select name="Enable" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "1", "Enable" );
	bb.Add( "0", "Disable" );
	foreach ( var a in bb ) {
		<option value="@a.Key"@( a.Key == "1" ? "selected" : "")>@a.Value</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>
<fieldset class="x-fb">
<legend class="x-title">Information</legend>
<table id="x-table">
<tr>
<th>Full Name</th>
<td><input type="text" name="Name" class="text" value=""></td>
</tr>
<tr>
<th>Designation</th>
<td><input type="text" name="Designation" class="text" value=""></td>
</tr>
<tr>
<th>Company</th>
<td><input type="text" name="Company" class="text" value=""></td>
</tr>
<tr>
<th>Address</th>
<td><textarea name="Address"></textarea></td>
</tr>
<tr>
<th>Telephone No.</th>
<td><input type="text" name="Phone" class="text" value=""></td>
</tr>
<tr>
<th>Fax No</th>
<td><input type="text" name="Fax" class="text" value=""></td>
</tr>
<tr>
<th>Email</th>
<td><input type="text" name="Email" class="text" value=""></td>
</tr>
<tr>
<th>Mobile No</th>
<td><input type="text" name="Mobile" class="text" value=""></td>
</tr>
</table>
</fieldset>
<input type="hidden" name="Sms" value="0">
</form>
</div> <!-- /dialog_max_height -->