﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	/*if ( !Ux.IsAdmin ) {
		@:403 Access Denied!
		return;
	}*/
	
	if ( Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblUsers();
	var obj = tbl.FindBy( UserId: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table th,
#x-table td {
	vertical-align: top !important;
	padding-top: 5px !important;
}
</style>
<div class="dialog_max_height">
<fieldset class="x-fb">
<legend class="x-title">Login</legend>
<table id="x-table">
<tr>
<th>Login ID</th>
<td>@Ux.empty_text(s.Login)</td>
</tr>

<tr>
<th>Category</th>
<td>
@{
	foreach ( var x in Roles.GetAllRoles() ) {
		if ( x != "Admin" ) {
			if ( Ux.userinrole( s.Login, x ) ) {
				@x
			}
		}
	}
}
</td>
</tr>

<tr>
<th>Administrator</th>
<td>
@{
	if ( Ux.userinrole( s.Login,  "Admin" ) ) {
		@:Yes
	} else {
		@:No
	}
}
</td>
</tr>

<tr>
<th>Last login</th>
<td>
@{
	if ( s.Lastlogin != null ) {
		DateTime dt = s.Lastlogin;
		@dt.ToString( "dd/MM/yyyy hh:mm tt")
	} else {
		@:Never login
	}
}
</td>
</tr>

</table>
</fieldset>
<fieldset class="x-fb">
<legend class="x-title">Information</legend>
<table id="x-table">
<tr>
<th>Full Name</th>
<td>@Ux.empty_text(s.Name)</td>
</tr>
<tr>
<th>Designation</th>
<td>@Ux.empty_text(s.Designation)</td>
</tr>
<tr>
<th>Company</th>
<td>@Ux.empty_text(s.Company)</td>
</tr>
<tr>
<th>Address</th>
<td>@Ux.empty_text(s.Address)</td>
</tr>
<tr>
<th>Telephone</th>
<td>@Ux.empty_text(s.Phone)</td>
</tr>
<tr>
<th>Fax</th>
<td>@Ux.empty_text(s.Fax)</td>
</tr>
<tr>
<th>Email</th>
<td>@Ux.empty_text(s.Email)</td>
</tr>
<tr>
<th>Mobile No.</th>
<td>@Ux.empty_text(s.Mobile)</td>
</tr>
</table>
</fieldset>

</div> <!-- /dialog_max_height -->