﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsAdmin ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblUsers();
	var obj = tbl.FindBy( UserId: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	string[] _enable = new string[2] { "No", "Yes" };
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<legend class="x-title">Login</legend>
<table id="x-table">
<tr>
<th>Login ID</th>
<td><input type="text" name="Login" class="text" value="@s.Login" readonly></td>
</tr>

<tr>
<th>Category</th>
<td>
<select name="Category" class="text">
@{
	foreach ( var x in Roles.GetAllRoles() ) {
		if ( x != "Admin" && x != "View" ) {
			if ( Ux.userinrole( s.Login, x ) ) {
				@:<option value="@x" selected>@x</option>
			} else {
				@:<option value="@x">@x</option>
			}
		}
	}
}
</select>
</td>
</tr>

<tr id="isadmin" class="hide">
<th>Administrator</th>
<td>
<select name="Isadmin" class="text">
@{
	foreach ( var y in _enable ) {
		if ( Ux.userinrole( s.Login,  "Admin" ) && y == "Yes" ) {
			@:<option value="@y" selected>@y</option>
		} else {
			@:<option value="@y">@y</option>
		}
	}
}
</select>
</td>
</tr>

<tr id="isview" class="hide">
<th>View only</th>
<td>
<select name="Isview" class="text">
@{
	foreach ( var y in _enable ) {
		if ( Ux.userinrole( s.Login,  "View" ) && y == "Yes" ) {
			@:<option value="@y" selected>@y</option>
		} else {
			@:<option value="@y">@y</option>
		}
	}
}
</select>
</td>
</tr>

<tr>
<th>New Password</th>
<td><input type="password" name="pass" class="text" value=""></td>
</tr>

<tr>
<th>Retype Password</th>
<td><input type="password" name="rpass" class="text" value=""></td>
</tr>

<tr>
<th>Status</th>
<td>
<select name="Enable" class="text">
@{
	Dictionary<string, string> bb = new Dictionary<string, string>();
	bb.Add( "1", "Enable" );
	bb.Add( "0", "Disable" );
	foreach ( var a in bb ) {
		<option value="@a.Key"@( a.Key.AsBool() == s.Enable ? "selected" : "")>@a.Value</option>
	}
}
</select>
</td>
</tr>

</table>
</fieldset>
<fieldset class="x-fb">
<legend class="x-title">Information</legend>
<table id="x-table">
<tr>
<th>Full Name</th>
<td><input type="text" name="Name" class="text" value="@s.Name"></td>
</tr>
<tr>
<th>Designation</th>
<td><input type="text" name="Designation" class="text" value="@s.Designation"></td>
</tr>
<tr>
<th>Company</th>
<td><input type="text" name="Company" class="text" value="@s.Company"></td>
</tr>
<tr>
<th>Address</th>
<td><textarea name="Address">@s.Address</textarea></td>
</tr>
<tr>
<th>Telephone No.</th>
<td><input type="text" name="Phone" class="text" value="@s.Phone"></td>
</tr>
<tr>
<th>Fax No</th>
<td><input type="text" name="Fax" class="text" value="@s.Fax"></td>
</tr>
<tr>
<th>Email</th>
<td><input type="text" name="Email" class="text" value="@s.Email"></td>
</tr>
<tr>
<th>Mobile No</th>
<td><input type="text" name="Mobile" class="text" value="@s.Mobile"></td>
</tr>
</table>
</fieldset>
</form>
</div> <!-- /dialog_max_height -->