﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}

	if ( !Ux.IsKPA ) {
		@:403 Access Denied!
		return;
	}
	
	if ( Request["_formid"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Invalid parameter
		return;
	}
	var formid = Request["_formid"];
	var id = Request["id"];
	dynamic tbl = new TblVessel();
	var obj = tbl.FindBy( VesselId: Request["id"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@formid">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Name Of Vessel</th>
<td><input type="text" name="NameOfVessel" class="text" value="@s.NameOfVessel"></td>
</tr>

<tr>
<th>Company</th>
<td><input type="text" name="vessel_company" class="text" value="@s.vessel_company"></td>
</tr>

<tr>
<th>IMO</th>
<td><input type="text" name="vessel_IMO" class="text" value="@s.vessel_IMO"></td>
</tr>

<tr>
<th>ISSC</th>
<td><input type="text" name="vessel_ISSC" class="text" value="@s.vessel_ISSC"></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->