﻿@{
	if ( !Ux.IsLogin ) {
		@:Session Expired!
		@:<script type='text/javascript'>self.location.href = _baseurl + '/';</script>
		return;
	}
	if ( !Ux.IsKPA && !Ux.IsAgent) {
		@:403 Access Denied!
		return;
	}
}
<style type="text/css">
#x-table input.text {
	width: 350px !important;
}
#x-table select.text {
	width: 358px !important;
}
#x-table textarea {
	width: 353px;
}
</style>
<div class="dialog_max_height">
<form id="@Request["_formid"]">
<fieldset class="x-fb">
<table id="x-table">
<tr>
<th>Name Of Vessel</th>
<td><input type="text" name="NameOfVessel" class="text" value=""></td>
</tr>

<tr>
<th>Company</th>
<td><input type="text" name="vessel_company" class="text" value=""></td>
</tr>

<tr>
<th>IMO</th>
<td><input type="text" name="vessel_IMO" class="text" value=""></td>
</tr>

<tr>
<th>ISSC</th>
<td><input type="text" name="vessel_ISSC" class="text" value=""></td>
</tr>

</table>
</fieldset>

</form>
</div> <!-- /dialog_max_height -->