﻿@using System;
@using System.Text.RegularExpressions;
@{
	if ( Request["_post"].IsEmpty() || Request["_what"].IsEmpty() ) {
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	// collect data
	var _post = Request["_post"];
	var _d = Request.Form;
	dynamic data = new System.Dynamic.ExpandoObject();
	var obj = data as IDictionary<string, object>;
	foreach ( var key in _d.AllKeys ) {
		if ( key == "_post" || key == "_what" ) {
			continue;
		}
		obj.Add( key, Request.Form[key] );
	}
	dynamic tbl = new TblVessel();
	var msg = "";

	// save
	if ( _post == "save" ) {
		if ( _d["NameOfVessel"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Name Of Vessel!" ); return;
		}

		var cn = tbl.FindBy(NameOfVessel:_d["NameOfVessel"]);
		foreach(var xx in cn) {
			@Ux.json_return( false, "Name Of Vessel already exists!" ); return;
		}

		if ( _d["vessel_company"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert company!" ); return;
		}
		
		obj.Add( "timestamp", DateTime.Now );
		
		msg = "";
		try {
			tbl.Insert( data );
		}
		catch ( Exception e ) {
			msg = "Update data not successful!<br>"+e.Message.ToString();
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "vessel_save", msg );
			@Ux.json_return( false, msg ); return;
		}
		
		Ux.audittrail( true, "vessel_save", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// update
	if ( _post == "update" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";

		if ( _d["NameOfVessel"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert Name Of Vessel!" ); return;
		}
		
		var cn = tbl.Query(string.Format("select NameOfVessel from Vessel where NameOfVessel='{0}' and VesselId!='{1}'", _d["NameOfVessel"], _d["id"]));
		foreach(var xx in cn) {
			@Ux.json_return( false, "Name Of Vessel already exists!" ); return;
		}

		if ( _d["vessel_company"].IsEmpty() ) {
			@Ux.json_return( false, "Please insert company!" ); return;
		}
		
		// delete unwanted
		( (IDictionary<String, Object>)data ).Remove( "id" );

		obj.Add( "timestamp", DateTime.Now );
		
		try {
			tbl.Update( data, _d["id"] );
		}
		catch ( Exception e ) {
			msg += "Update data not successful!<br>" + e.Message.ToString() + "<br>";
		}
		if ( !msg.IsEmpty() ) {
			Ux.audittrail( false, "vessel_update", msg );
			@Ux.json_return( false, msg ); return;
		}

		Ux.audittrail( true, "vessel_update", "Data Updated" );
		@Ux.json_return( true, "Data Updated!" ); return;
	}

	// delete
	if ( _post == "delete" ) {
		if ( _d["id"].IsEmpty() ) {
			@Ux.json_return( false, "Invalid Request!" ); return;
		}
		msg = "";
		if ( _d["id"].Contains( "," ) ) {
			string[] _dls = Regex.Split( _d["id"], "," );
			foreach ( string _did in _dls ) {
				tbl.Delete( _did );
			}
			Ux.audittrail( true, "vessel_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;
		} else {
			tbl.Delete(_d["id"]);
			Ux.audittrail( true, "vessel_delete", "Data removed" );
			@Ux.json_return( true, "Data Updated!" ); return;
		}
		Ux.audittrail( false, "vessel_delete", "Invalid Request" );			
		@Ux.json_return( false, "Invalid Request!" ); return;
	}

	if ( _post == "listvessel" ) {
		var dp = tbl.Query( "select NameOfVessel from Vessel order by timestamp DESC" );
		string ret = "";
		foreach(var dpx in dp) {
			ret += "<option value='" + dpx.NameOfVessel + "'>" + dpx.NameOfVessel + "</option>";
		}
		@Html.Raw(ret)
		return;
	}
	if ( _post == "getcompany" ) {
		var comp = "";
		if ( !_d["name"].IsEmpty() ) {
			comp = tbl.First( NameOfVessel: _d["name"], Columns: "vessel_company" ).vessel_company;
		}
		@Html.Raw(comp)
		return;
	}
		// bail
	@Ux.json_return( false, "Invalid Request!" ); return;
}