<div class="barmid border-corner6px-all">
<div class="x-list" style="width:950px;padding-top:20px;">
@{
	if ( Request["type"].IsEmpty() || Request["id"].IsEmpty() ) {
		@:Content not exist!
		return;
	}
	var type = Request["type"];
	bool dosearch = false;
	dynamic tbl = new TblContent();
	var obj = tbl.FindBy( Id: Request["id"], type: Request["type"] );
	dynamic s = new System.Dynamic.ExpandoObject();
	var k = s as IDictionary<string, object>;
	foreach( var item in obj) {
		var d = (IDictionary<string, object>)item;
		var e = d.ToArray();
		foreach(var x in e) {
			k.Add(x.Key,x.Value);
		}
	}
	string dformat = "dd-MM-yyyy hh:mm tt";
	DateTime ntime = s.timestamp;
	var dtime = ntime.ToString(dformat);
}
<button class='button btpage' name='back' data-page="listcont/type=@type">Content List</button>
<div style='clear:both;font-style:italic;margin-top:10px'>@dtime</div>
<div class="x-list border-bottom" style="margin-top:10px;border-color:#000000!important;">
@Html.Raw(Server.UrlDecode(s.title))
</div>
<div class="x-list style="margin-top:5px;">
@Html.Raw(Server.UrlDecode(s.text))
</div>

</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("button.btpage").button({ icons: { primary: 'ui-icon-document'} });
});
</script>